Repository diffblue/cbmc, pull requests merged in 2021-06, with the labels that each got.

#6164 Use correct type for pointer checks in contracts
  regression/contracts/assigns_replace_03/test.desc
  src/goto-instrument/code_contracts.cpp
Labels: Code Contracts, aws, bugfix

#6148 Adds is_fresh predicate for function contracts
  regression/contracts/is_unique_01_replace/main.c
  regression/contracts/is_unique_01_replace/test.desc
  regression/contracts/quantifiers-loop-02/test.desc
  regression/contracts/test_aliasing_enforce/main.c
  regression/contracts/test_aliasing_enforce/test.desc
  regression/contracts/test_aliasing_ensure/main.c
  regression/contracts/test_aliasing_ensure/test.desc
  regression/contracts/test_aliasing_ensure_indirect/main.c
  regression/contracts/test_aliasing_ensure_indirect/test.desc
  regression/contracts/test_aliasing_replace/main.c
  regression/contracts/test_aliasing_replace/test.desc
  regression/contracts/test_array_memory_enforce/main.c
  regression/contracts/test_array_memory_enforce/test.desc
  regression/contracts/test_array_memory_replace/main.c
  regression/contracts/test_array_memory_replace/test.desc
  regression/contracts/test_array_memory_too_small_replace/main.c
  regression/contracts/test_array_memory_too_small_replace/test.desc
  regression/contracts/test_possibly_aliased_arguments/main.c
  regression/contracts/test_possibly_aliased_arguments/test.desc
  regression/contracts/test_scalar_memory_enforce/main.c
  regression/contracts/test_scalar_memory_enforce/test.desc
  regression/contracts/test_scalar_memory_replace/main.c
  regression/contracts/test_scalar_memory_replace/test.desc
  regression/contracts/test_struct_enforce/main.c
  regression/contracts/test_struct_enforce/test.desc
  regression/contracts/test_struct_member_enforce/main.c
  regression/contracts/test_struct_member_enforce/test.desc
  regression/contracts/test_struct_replace/main.c
  regression/contracts/test_struct_replace/test.desc
  scripts/expected_doxygen_warnings.txt
  src/ansi-c/c_typecheck_expr.cpp
  src/ansi-c/cprover_builtin_headers.h
  src/ansi-c/library/cprover.h
  src/goto-instrument/code_contracts.cpp
  src/goto-instrument/code_contracts.h
Labels: Code Contracts, aws

#6167 Handling function pointers in contracts instrumentation
  regression/contracts/function-calls-05/main.c
  regression/contracts/function-calls-05/test.desc
  src/goto-instrument/code_contracts.cpp
Labels: Code Contracts, aws, bugfix

#6172 Retry with different servers if codesigning fails on `.msi`.
  .github/workflows/release-packages.yaml
Labels: CI

#6176 Support multiple requires and ensures clauses
  regression/contracts/function-calls-01/main.c
  regression/contracts/function-calls-05/main.c
  src/ansi-c/ansi_c_convert_type.cpp
  src/ansi-c/ansi_c_convert_type.h
  src/ansi-c/c_typecheck_base.cpp
  src/ansi-c/expr2c.cpp
  src/goto-instrument/code_contracts.cpp
  src/util/c_types.h
Labels: C Front End, Code Contracts, aws

#6174 Pretty print `havoc_object` instructions
  regression/goto-instrument/show-goto-functions1/main.c
  regression/goto-instrument/show-goto-functions1/test.desc
  src/goto-programs/goto_program.cpp
Labels: aws, enhancement

#4510 prop_conv_solvert: introduce scopes
  regression/smt2_solver/let/let-scoping1.desc
  regression/smt2_solver/let/let-scoping1.smt2
  regression/smt2_solver/let/let-with-bv1.desc
  regression/smt2_solver/let/let-with-bv1.smt2
  regression/smt2_solver/let/let-with-bv2.desc
  regression/smt2_solver/let/let-with-bv2.smt2
  regression/smt2_solver/let/let1.desc
  regression/smt2_solver/let/let1.smt2
  src/solvers/flattening/boolbv.h
  src/solvers/flattening/boolbv_let.cpp
  src/solvers/prop/prop_conv_solver.cpp
Labels: RFC, Solvers

#6181 Add the smt-backend tags to tests that use --z3
  regression/cbmc/struct15/test.desc
  regression/cbmc/z3/invalid.desc
  regression/cbmc/z3/valid.desc
Labels: Tests

#6182 C library: model rand, rand_r so as not to return negative numbers
  regression/cbmc-library/rand-01/main.c
  regression/cbmc-library/rand-01/test.desc
  regression/cbmc-library/rand_r-01/main.c
  regression/cbmc-library/rand_r-01/test.desc
  src/ansi-c/library/stdlib.c
Labels: C Front End

#6186 Fix distance check in overflow checking of left shift
  regression/cbmc/Overflow_Leftshift1/main.c
  regression/cbmc/Overflow_Leftshift1/test-c89.desc
  regression/cbmc/Overflow_Leftshift1/test-c99.desc
  src/analyses/goto_check.cpp
Labels: bugfix

#6185 Adds documentation about function contracts
  CODEOWNERS
  doc/cprover-manual/assigns-clause.md
  doc/cprover-manual/contracts-assigns.md
  doc/cprover-manual/contracts-history-variables.md
  doc/cprover-manual/contracts-memory-predicates.md
  doc/cprover-manual/contracts-quantifiers.md
  doc/cprover-manual/contracts-requires-and-ensures.md
  doc/cprover-manual/contracts.md
Labels: Code Contracts, aws

#6189 Quantifier scoping
  src/solvers/flattening/boolbv.cpp
  src/solvers/flattening/boolbv.h
  src/solvers/flattening/boolbv_let.cpp
  src/solvers/flattening/boolbv_quantifier.cpp
  src/solvers/smt2/smt2_parser.cpp
  src/solvers/smt2/smt2_parser.h
Labels: SMT Backend Interface

#6184 New flag for only processing loop contracts
  regression/contracts/invar_check_break_fail/test.desc
  regression/contracts/invar_check_break_pass/test.desc
  regression/contracts/invar_check_continue/test.desc
  regression/contracts/invar_check_large/test.desc
  regression/contracts/invar_check_multiple_loops/test.desc
  regression/contracts/invar_check_nested_loops/test.desc
  regression/contracts/invar_check_pointer_modifies-01/test.desc
  regression/contracts/invar_check_pointer_modifies-02/test.desc
  regression/contracts/invar_check_sufficiency/test.desc
  regression/contracts/invar_dynamic_struct_member/test.desc
  regression/contracts/invar_havoc_dynamic_array/test.desc
  regression/contracts/invar_havoc_dynamic_array_const_idx/test.desc
  regression/contracts/invar_havoc_dynamic_multi-dim_array/test.desc
  regression/contracts/invar_havoc_dynamic_multi-dim_array_all_const_idx/test.desc
  regression/contracts/invar_havoc_dynamic_multi-dim_array_partial_const_idx/test.desc
  regression/contracts/invar_havoc_static_array/test.desc
  regression/contracts/invar_havoc_static_array_const_idx/test.desc
  regression/contracts/invar_havoc_static_multi-dim_array/test.desc
  regression/contracts/invar_havoc_static_multi-dim_array_all_const_idx/test.desc
  regression/contracts/invar_havoc_static_multi-dim_array_partial_const_idx/test.desc
  regression/contracts/invar_loop_constant_fail/test.desc
  regression/contracts/invar_loop_constant_no_modify/test.desc
  regression/contracts/invar_loop_constant_pass/test.desc
  regression/contracts/invar_struct_member/test.desc
  regression/contracts/invariant_side_effects/test.desc
  regression/contracts/quantifiers-loop-01/test.desc
  regression/contracts/quantifiers-loop-02/test.desc
  regression/contracts/quantifiers-loop-03/test.desc
  src/goto-instrument/code_contracts.cpp
  src/goto-instrument/code_contracts.h
  src/goto-instrument/goto_instrument_parse_options.cpp
  src/goto-instrument/goto_instrument_parse_options.h
Labels: Code Contracts, aws

#6195 Refactored parsing rules for function contracts
  src/ansi-c/parser.y
Labels: Code Contracts, aws

#6183 Parsing and type-checking loop variants (aka ranking functions)
  regression/contracts/invar_check_break_pass/main.c
  regression/contracts/invar_check_continue/main.c
  regression/contracts/invar_check_large/main.c
  regression/contracts/invar_check_multiple_loops/main.c
  regression/contracts/invar_check_nested_loops/main.c
  regression/contracts/invar_check_pointer_modifies-01/main.c
  regression/contracts/invar_check_pointer_modifies-02/main.c
  regression/contracts/invar_check_sufficiency/main.c
  regression/contracts/invar_loop_constant_no_modify/main.c
  regression/contracts/invar_loop_constant_pass/main.c
  regression/contracts/invariant_side_effects/main.c
  regression/contracts/variant_parsing_statement_fail/main.c
  regression/contracts/variant_parsing_statement_fail/test.desc
  regression/contracts/variant_parsing_tuple_fail/main.c
  regression/contracts/variant_parsing_tuple_fail/test.desc
  src/ansi-c/c_typecheck_base.h
  src/ansi-c/c_typecheck_code.cpp
  src/ansi-c/c_typecheck_expr.cpp
  src/ansi-c/parser.y
  src/ansi-c/scanner.l
  src/util/irep_ids.def
Labels: Code Contracts, aws, enhancement

#6201 SMT-LIB2 parser now models bit-vector division by zero correctly
  regression/smt2_solver/basic-bv1/basic-bv1.smt2
  src/solvers/smt2/smt2_parser.cpp
  src/solvers/smt2/smt2_parser.h
Labels: bugfix

#6204 Fix quoting for object size identifiers in SMT2 output
  src/solvers/smt2/smt2_conv.cpp
Labels: SMT Backend Interface
