Repository diffblue/cbmc, pull requests merged in 2021-09, with the labels that each got.

#6284 Add FEATURE_IDEAS.md
  FEATURE_IDEAS.md
Labels: cleanup, RFC, feature request

#6327 No need to track write set with temporary variables
  regression/contracts/assigns_enforce_17/test.desc
  regression/contracts/assigns_enforce_structs_04/test.desc
  regression/contracts/assigns_enforce_structs_05/test.desc
  regression/contracts/assigns_enforce_structs_06/test.desc
  regression/contracts/assigns_enforce_structs_07/main.c
  regression/contracts/assigns_enforce_structs_07/test.desc
  regression/contracts/assigns_replace_07/main.c
  regression/contracts/assigns_replace_07/test.desc
  regression/contracts/assigns_type_checking_valid_cases/test.desc
  regression/contracts/assigns_validity_pointer_01/test.desc
  regression/contracts/assigns_validity_pointer_02/test.desc
  regression/contracts/assigns_validity_pointer_03/test.desc
  regression/contracts/assigns_validity_pointer_04/test.desc
  regression/contracts/history-pointer-enforce-01/test.desc
  regression/contracts/history-pointer-enforce-02/test.desc
  regression/contracts/history-pointer-enforce-08/test.desc
  regression/contracts/history-pointer-enforce-09/test.desc
  regression/contracts/history-pointer-enforce-10/test.desc
  regression/contracts/history-pointer-enforce-11/test.desc
  regression/contracts/history-pointer-replace-04/test.desc
  regression/contracts/test_array_memory_replace/test.desc
  regression/contracts/test_array_memory_too_small_replace/test.desc
  regression/contracts/test_scalar_memory_replace/test.desc
  regression/contracts/test_struct_enforce/test.desc
  regression/contracts/test_struct_member_enforce/test.desc
  regression/contracts/test_struct_replace/test.desc
  regression/contracts/trivial_contract_enforce/test.desc
  regression/contracts/trivial_contract_replace/test.desc
  src/goto-instrument/contracts/assigns.cpp
  src/goto-instrument/contracts/assigns.h
  src/goto-instrument/contracts/contracts.cpp
Labels: bugfix, aws, Code Contracts

#6336 Add KNOWNBUG to float-trace as a temporary fix
  regression/cbmc/float-trace/test.c
  regression/cbmc/float-trace/test.desc
Labels: bugfix

#6332 Documentation for decreases clauses
  doc/cprover-manual/contracts-decreases.md
  doc/cprover-manual/contracts-invariants.md
  doc/cprover-manual/contracts-loops.md
  regression/contracts/loop_contracts_binary_search/main.c
  regression/contracts/loop_contracts_binary_search/test.desc
Labels: documentation, aws, Code Contracts

#6334 Refactor assigns clause implementation
  regression/contracts/assigns_repeated_ignored/main.c
  regression/contracts/assigns_repeated_ignored/test.desc
  regression/contracts/assigns_validity_pointer_04/test.desc
  regression/contracts/test_aliasing_ensure_indirect/test.desc
  src/goto-instrument/contracts/assigns.cpp
  src/goto-instrument/contracts/assigns.h
  src/goto-instrument/contracts/contracts.cpp
Labels: aws, aws-high, Code Contracts

#6311 Fix applicability condition of simplify_byte_update
  src/util/simplify_expr.cpp
Labels: bugfix

#6331 Adds the notion of a local write set to contracts
  regression/contracts/assigns_enforce_18/main.c
  regression/contracts/assigns_enforce_18/test.desc
  regression/contracts/assigns_enforce_19/main.c
  regression/contracts/assigns_enforce_19/test.desc
  regression/contracts/assigns_enforce_structs_04/test.desc
  regression/contracts/assigns_validity_pointer_04/test.desc
  src/goto-instrument/contracts/assigns.cpp
  src/goto-instrument/contracts/assigns.h
  src/goto-instrument/contracts/contracts.cpp
  src/goto-instrument/contracts/contracts.h
Labels: bugfix, aws, Code Contracts

#6340 Add workaround for issue described in #6168.
  regression/contracts/github_6168_infinite_unwinding_bug/main.c
  regression/contracts/github_6168_infinite_unwinding_bug/test.desc
  src/goto-instrument/goto_instrument_parse_options.cpp
Labels: bugfix, aws, Code Contracts

#6345 Check subset relationship of assigns clause during replacement
  regression/contracts/assigns_enforce_structs_07/test.desc
  regression/contracts/assigns_replace_08/main.c
  regression/contracts/assigns_replace_08/test.desc
  regression/contracts/assigns_validity_pointer_01/main.c
  regression/contracts/assigns_validity_pointer_02/test.desc
  regression/contracts/assigns_validity_pointer_04/test.desc
  regression/contracts/test_aliasing_ensure_indirect/test.desc
  src/ansi-c/ansi_c_convert_type.cpp
  src/goto-instrument/contracts/assigns.cpp
  src/goto-instrument/contracts/contracts.cpp
Labels: bugfix, aws, Code Contracts

#6352 Check frame conditions before __CPROVER_havoc_object
  regression/contracts/assigns_enforce_20/main.c
  regression/contracts/assigns_enforce_20/test.desc
  src/goto-instrument/contracts/contracts.cpp
  src/goto-instrument/contracts/contracts.h
Labels: bugfix, aws, Code Contracts

#6338 goto-analyzer --(un)reachable-functions should not rely on base names
  regression/goto-cc-goto-analyzer/reachable-functions-export-file-local-symbols/project.c
  regression/goto-cc-goto-analyzer/reachable-functions-export-file-local-symbols/proof.c
  regression/goto-cc-goto-analyzer/reachable-functions-export-file-local-symbols/test.desc
  regression/goto-cc-goto-analyzer/reachable-functions-export-file-local-symbols/test.sh
  src/goto-analyzer/unreachable_instructions.cpp
Labels: bugfix, aws, aws-high

#6358 [CI] Change order of arguments to `signtool.exe`.
  .github/workflows/release-packages.yaml
Labels: CI

#6363 Handle functions with mangled names in contract replacement
  regression/contracts/assigns_replace_09/main.c
  regression/contracts/assigns_replace_09/test.desc
  src/goto-instrument/contracts/contracts.cpp
  src/goto-instrument/contracts/contracts.h
Labels: bugfix, aws, Code Contracts

#6365 A predicate to validate all pointer derefs in an expression AST
  regression/contracts/assigns_enforce_structs_07/main.c
  regression/contracts/assigns_enforce_structs_07/test.desc
  regression/contracts/assigns_replace_07/main.c
  regression/contracts/assigns_replace_07/test.desc
  regression/contracts/invar_loop-entry_check/main.c
  regression/contracts/invar_loop-entry_check/test.desc
  src/goto-instrument/Makefile
  src/goto-instrument/contracts/assigns.cpp
  src/goto-instrument/contracts/assigns.h
  src/goto-instrument/contracts/contracts.cpp
  src/goto-instrument/contracts/contracts.h
  src/goto-instrument/contracts/utils.cpp
  src/goto-instrument/contracts/utils.h
  src/goto-instrument/havoc_loops.cpp
  src/goto-instrument/havoc_utils.cpp
  src/goto-instrument/havoc_utils.h
  src/goto-instrument/k_induction.cpp
  src/goto-instrument/loop_utils.cpp
Labels: aws, aws-high

#6364 cmdlinet::get_comma_separated_values: re-use split_string
  regression/goto-instrument/fp-reachability-slice3/test.desc
  src/util/cmdline.cpp
  src/util/cmdline.h
Labels: cleanup
