Repository diffblue/cbmc, pull requests merged in 2021-07, with the labels that each got.

#6208 Fix for iterators into unordered_maps
  src/solvers/flattening/boolbv.cpp
  src/solvers/prop/prop_conv_solver.cpp
Labels: Solvers, bugfix

#6197 goto instrumentation for decreases clauses on loops
  regression/contracts/invar_check_multiple_loops/test.desc
  regression/contracts/invar_check_nested_loops/main.c
  regression/contracts/invar_check_nested_loops/test.desc
  regression/contracts/variant_function_call_fail/main.c
  regression/contracts/variant_function_call_fail/test.desc
  regression/contracts/variant_missing_invariant_warning/main.c
  regression/contracts/variant_missing_invariant_warning/test.desc
  regression/contracts/variant_not_decreasing_fail/main.c
  regression/contracts/variant_not_decreasing_fail/test.desc
  regression/contracts/variant_parsing_statement_fail/test.desc
  regression/contracts/variant_parsing_tuple_fail/test.desc
  regression/contracts/variant_side_effects_fail/main.c
  regression/contracts/variant_side_effects_fail/test.desc
  regression/contracts/variant_weak_invariant_fail/main.c
  regression/contracts/variant_weak_invariant_fail/test.desc
  regression/contracts/variant_while_true_pass/main.c
  regression/contracts/variant_while_true_pass/test.desc
  src/goto-instrument/code_contracts.cpp
  src/goto-instrument/code_contracts.h
  src/goto-programs/goto_convert.cpp
  src/goto-programs/goto_convert_class.h
Labels: Code Contracts, aws, enhancement

#6211 Track conversion and use identifier instead of expression
  src/solvers/smt2/smt2_conv.cpp
Labels: SMT Backend Interface, cleanup

#6205 Fix bool versus bitvec 1 sort mismtach for CVC4
  src/solvers/smt2/smt2_conv.cpp
Labels: SMT Backend Interface

#6210 SMT Z3 trace fix
  regression/cbmc/enum-trace1/test_json.desc
  regression/cbmc/json-interface1/test.desc
  regression/cbmc/json1/test.desc
  regression/cbmc/z3/trace-char.c
  regression/cbmc/z3/trace-char.desc
  regression/cbmc/z3/trace.c
  regression/cbmc/z3/trace.desc
  src/solvers/smt2/smt2_conv.cpp
  src/solvers/smt2/smt2_conv.h
Labels: SMT Backend Interface, bugfix

#6177 allow an empty assigns clause
  regression/contracts/assigns_enforce_15/main.c
  regression/contracts/assigns_enforce_15/test.desc
  src/ansi-c/parser.y
Labels: C Front End, Code Contracts, aws

#6214 allow multiple loop invariants
  regression/contracts/invar_check_multiple_loops/main.c
  src/ansi-c/c_typecheck_code.cpp
  src/ansi-c/parser.y
  src/goto-instrument/code_contracts.cpp
Labels: Code Contracts, aws, enhancement

#6216 Improves type checking for __CPROVER_assigns clauses
  regression/contracts/assigns_function_pointer/main.c
  regression/contracts/assigns_function_pointer/test.desc
  regression/contracts/assigns_replace_07/test.desc
  regression/contracts/assigns_type_checking_invalid_case_01/main.c
  regression/contracts/assigns_type_checking_invalid_case_01/test.desc
  regression/contracts/assigns_type_checking_invalid_case_02/main.c
  regression/contracts/assigns_type_checking_invalid_case_02/test.desc
  regression/contracts/assigns_type_checking_valid_cases/main.c
  regression/contracts/assigns_type_checking_valid_cases/test.desc
  src/ansi-c/ansi_c_convert_type.cpp
Labels: Code Contracts, aws

#6213 Run regression tests with `z3` as the backend solver.
  .github/workflows/pull-request-checks.yaml
  regression/cbmc/Float-div3/test.desc
  regression/cbmc/Quantifiers-assertion/test.desc
  regression/cbmc/Quantifiers-assignment/test.desc
  regression/cbmc/Quantifiers-if/test.desc
  regression/cbmc/Quantifiers-initialisation2/test.desc
  regression/cbmc/Quantifiers-not-exists/fixed.desc
  regression/cbmc/Quantifiers-not/test.desc
  regression/cbmc/Quantifiers-two-dimension-array/test.desc
  regression/cbmc/union10/union_list2.desc
  regression/cbmc/union11/union_list.desc
Labels: CI

#6194 Enable and use the automatic limit for array-as-uninterpreted-function (duplicated, fixes 6130)
  src/solvers/flattening/boolbv.cpp
  src/solvers/flattening/boolbv.h
  src/solvers/flattening/boolbv_width.cpp
Labels: aws-high, bugfix

#6221 Smt unknown handling
  regression/cbmc/z3/Issue5977.c
  regression/cbmc/z3/Issue5977.desc
  src/solvers/smt2/smt2_dec.cpp
Labels: SMT Backend Interface

#6196 Parser support for assigns contracts on loops
  regression/contracts/invar_assigns_alias_analysis/main.c
  regression/contracts/invar_assigns_alias_analysis/test.desc
  regression/contracts/invar_assigns_empty/main.c
  regression/contracts/invar_assigns_empty/test.desc
  regression/contracts/invar_assigns_opt/main.c
  regression/contracts/invar_assigns_opt/test.desc
  src/ansi-c/parser.y
Labels: C Front End, Code Contracts, aws

#6226 allow multiple assigns clauses
  regression/contracts/assigns_enforce_03/main.c
  src/ansi-c/ansi_c_convert_type.cpp
Labels: C Front End, Code Contracts, aws

#6165 Initial data structures for incremental smt2 solving
  src/solvers/Makefile
  src/solvers/smt2_incremental/internal_ast.txt
  src/solvers/smt2_incremental/smt_commands.cpp
  src/solvers/smt2_incremental/smt_commands.def
  src/solvers/smt2_incremental/smt_commands.h
  src/solvers/smt2_incremental/smt_logics.cpp
  src/solvers/smt2_incremental/smt_logics.def
  src/solvers/smt2_incremental/smt_logics.h
  src/solvers/smt2_incremental/smt_options.cpp
  src/solvers/smt2_incremental/smt_options.def
  src/solvers/smt2_incremental/smt_options.h
  src/solvers/smt2_incremental/smt_sorts.cpp
  src/solvers/smt2_incremental/smt_sorts.def
  src/solvers/smt2_incremental/smt_sorts.h
  src/solvers/smt2_incremental/smt_terms.cpp
  src/solvers/smt2_incremental/smt_terms.def
  src/solvers/smt2_incremental/smt_terms.h
  unit/Makefile
  unit/count_tests.py
  unit/solvers/smt2_incremental/module_dependencies.txt
  unit/solvers/smt2_incremental/smt_commands.cpp
  unit/solvers/smt2_incremental/smt_sorts.cpp
  unit/solvers/smt2_incremental/smt_terms.cpp
Labels: SMT Backend Interface, work in progress

#6232 Revert the change to the use of unbounded arrays
  src/solvers/flattening/boolbv.h
Labels: aws, aws-high, bugfix

#6243 A simplified example that triggers issue 6230, from @SaswatPadhi
  regression/cbmc/array-bug-6230/main.c
  regression/cbmc/array-bug-6230/test.desc
Labels: Tests

#6151 Piped process handler for CBMC/SMT solver IPC
  .github/workflows/pull-request-checks.yaml
  doc/API/util/piped_process.md
  src/util/Makefile
  src/util/piped_process.cpp
  src/util/piped_process.h
  unit/Makefile
  unit/util/piped_process.cpp
Labels: SMT Backend Interface

#6255 Avoid crashing when applying trivial contracts
  doc/cprover-manual/contracts-assigns.md
  doc/cprover-manual/contracts-history-variables.md
  doc/cprover-manual/contracts-memory-predicates.md
  doc/cprover-manual/contracts-requires-and-ensures.md
  doc/cprover-manual/contracts.md
  regression/contracts/trivial_contract_enforce/main.c
  regression/contracts/trivial_contract_enforce/test.desc
  regression/contracts/trivial_contract_replace/main.c
  regression/contracts/trivial_contract_replace/test.desc
  src/goto-instrument/contracts/assigns.cpp
  src/goto-instrument/contracts/contracts.cpp
  src/goto-instrument/contracts/contracts.h
  src/goto-instrument/contracts/memory_predicates.cpp
Labels: Code Contracts, aws, bugfix
