Repository diffblue/cbmc, pull requests merged in 2023-04, with the labels that each got.

#7642 Cleanup read_bin_goto_object
  src/goto-programs/read_bin_goto_object.cpp
Labels: cleanup

#7628 CONTRACTS: add loop contract mode enum and string conversion functions
  src/goto-instrument/Makefile
  src/goto-instrument/contracts/dynamic-frames/dfcc_contract_mode.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_contract_mode.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_loop_contract_mode.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_loop_contract_mode.h
Labels: aws, aws-high, Code Contracts

#7645 Translate verification results from C++ to Rust
  src/libcprover-cpp/api.cpp
  src/libcprover-cpp/api.h
  src/libcprover-rust/include/c_api.h
  src/libcprover-rust/include/c_errors.h
  src/libcprover-rust/src/c_api.cc
  src/libcprover-rust/src/lib.rs
  unit/libcprover-cpp/verification_resultt.cpp
Labels: aws, aws-high, Kani, Rust API

#7647 Change `COMPILING.md` with newer Rust instructions
  COMPILING.md
Labels: aws, aws-high, Kani

#7632 CONTRACTS: loop info tagging utility functions
  src/goto-instrument/Makefile
  src/goto-instrument/contracts/dynamic-frames/dfcc_loop_tags.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_loop_tags.h
Labels: aws, aws-high, Code Contracts

#7627 CONTRACTS: check function for loop normal form
  src/goto-instrument/Makefile
  src/goto-instrument/contracts/dynamic-frames/dfcc_check_loop_normal_form.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_check_loop_normal_form.h
  src/goto-instrument/contracts/dynamic-frames/module_dependencies.txt
Labels: aws, aws-high, Code Contracts

#7664 Remove `Cargo.lock` as recommended by Rust docs.
  src/libcprover-rust/.gitignore
  src/libcprover-rust/Cargo.lock
  src/libcprover-rust/Cargo.toml
Labels: Rust API

#7636 CONTRACTS: functions to compute root objects
  src/goto-instrument/Makefile
  src/goto-instrument/contracts/dynamic-frames/dfcc_root_object.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_root_object.h
Labels: aws, aws-high, Code Contracts

#7681 Replace DFCC's set_hide by call to make_hidden
  src/goto-instrument/contracts/dynamic-frames/dfcc_library.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_library.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_spec_functions.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_swap_and_wrap.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_utils.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_utils.h
Labels: cleanup, blocker

#7682 Remove dfcc_utilst::has_no_loops
  src/goto-instrument/contracts/dynamic-frames/dfcc_contract_clauses_codegen.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_utils.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_utils.h
Labels: cleanup, blocker

#7688 Cleanup use of dfcc_wrapper_programt::addr_of_*
  src/goto-instrument/contracts/dynamic-frames/dfcc_wrapper_program.cpp
Labels: cleanup, Code Contracts

#7687 dfcc_wrapper_programt::encode_ensures_clauses: remove unnecessary local
  src/goto-instrument/contracts/dynamic-frames/dfcc_wrapper_program.cpp
Labels: cleanup, Code Contracts

#7684 Remove dfcc_utilst::inhibit_unused_functions
  src/goto-instrument/contracts/dynamic-frames/dfcc.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_utils.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_utils.h
Labels: cleanup, blocker
