Repository diffblue/cbmc, pull requests merged in 2023-05, with the labels that each got.

#7671 CONTRACTS: class dfcc_cfg_infot: loops and identifier scoping for DFCC
  src/goto-instrument/Makefile
  src/goto-instrument/contracts/dynamic-frames/dfcc_cfg_info.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_cfg_info.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_loop_tags.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_loop_tags.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_spec_functions.cpp
Labels: aws, aws-high, Code Contracts

#7699 CONTRACTS: re-enable side effect checking in assigns/frees clauses (HOTFIX)
  regression/contracts-dfcc/assigns-frees-clauses-check-side-effects/main.c
  regression/contracts-dfcc/assigns-frees-clauses-check-side-effects/test.desc
  src/goto-instrument/contracts/dynamic-frames/dfcc_spec_functions.cpp
Labels: aws, aws-high, Code Contracts

#2844 test jbmc/string_literal1 now works
  jbmc/regression/jbmc/string_literal1/test.desc
Labels: Tests

#7678 Make goto_{model,functions}t::unload return a value
  jbmc/src/java_bytecode/lazy_goto_functions_map.h
  jbmc/src/java_bytecode/lazy_goto_model.cpp
  src/goto-programs/goto_functions.h
  src/goto-programs/goto_model.h
  src/goto-programs/initialize_goto_model.cpp
  src/goto-programs/initialize_goto_model.h
Labels: blocker

#7672 CONTRACTS: class to instrument a single loop
  src/goto-instrument/Makefile
  src/goto-instrument/contracts/dynamic-frames/dfcc_instrument_loop.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_instrument_loop.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_library.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_library.h
Labels: aws, aws-high, Code Contracts

#7700 Symex: Simplify left-hand side
  regression/cbmc/simplify-array-size/main.c
  regression/cbmc/simplify-array-size/test.desc
  src/goto-symex/goto_symex_state.cpp
Labels: bugfix, aws, aws-high

#3742 strengthen type of parameter of gather_field_types
  jbmc/src/java_bytecode/ci_lazy_methods_needed.cpp
  jbmc/src/java_bytecode/ci_lazy_methods_needed.h
Labels: Java Front End, cleanup

#6123 Concurrency: treat updates to an unknown field as atomic
  regression/cbmc-concurrency/array1/main.c
  regression/cbmc-concurrency/array1/test.desc
  src/goto-symex/goto_symex.cpp
Labels: bugfix

#7685 Remove dfcc_utilst::make_map_start_address
  src/goto-instrument/contracts/dynamic-frames/dfcc_utils.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_utils.h
Labels: cleanup, aws, Code Contracts

#7693 Cleanup the API of dfcc_loop_nesting_grapht
  src/analyses/loop_analysis.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_cfg_info.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_cfg_info.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_loop_nesting_graph.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_loop_nesting_graph.h
Labels: cleanup, aws, Code Contracts

#7698 Replace requires with c_requires
  src/ansi-c/ansi_c_convert_type.cpp
  src/ansi-c/ansi_c_convert_type.h
  src/ansi-c/c_typecheck_base.cpp
  src/cprover/instrument_contracts.cpp
  src/goto-instrument/contracts/contracts.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_contract_functions.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_contract_functions.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_wrapper_program.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_wrapper_program.h
  src/linking/remove_internal_symbols.cpp
  src/util/c_types.h
Labels: cleanup, aws, Code Contracts

#7705 Simplify byte extract: support signed and unsigned offsets
  src/util/simplify_expr.cpp
Labels: bugfix, aws

#7683 Make all methods of dfcc_utilst static
  src/goto-instrument/contracts/dynamic-frames/dfcc.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_cfg_info.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_cfg_info.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_contract_clauses_codegen.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_contract_clauses_codegen.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_contract_functions.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_contract_functions.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_contract_handler.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_contract_handler.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_instrument.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_instrument.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_instrument_loop.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_instrument_loop.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_library.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_library.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_lift_memory_predicates.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_lift_memory_predicates.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_spec_functions.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_spec_functions.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_swap_and_wrap.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_swap_and_wrap.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_utils.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_utils.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_wrapper_program.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_wrapper_program.h
Labels: cleanup, aws, Code Contracts

#7708 CONTRACTS: `dfcc_is_cprover_symbol` now uses allow lists to match symbols
  regression/contracts-dfcc/dont_skip_cprover_prefixed_vars_fail/main.c
  regression/contracts-dfcc/dont_skip_cprover_prefixed_vars_fail/test.desc
  regression/contracts-dfcc/dont_skip_cprover_prefixed_vars_pass/main.c
  regression/contracts-dfcc/dont_skip_cprover_prefixed_vars_pass/test.desc
  src/goto-instrument/contracts/dynamic-frames/dfcc_cfg_info.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_instrument.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_is_cprover_symbol.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_is_cprover_symbol.h
Labels: aws, Code Contracts

#7721 Code contracts: cleanup get_fresh_aux_symbol wrappers
  src/goto-instrument/contracts/contracts.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_cfg_info.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_instrument.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_instrument_loop.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_instrument_loop.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_spec_functions.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_spec_functions.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_utils.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_utils.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_wrapper_program.cpp
  src/goto-instrument/contracts/instrument_spec_assigns.cpp
  src/goto-instrument/contracts/instrument_spec_assigns.h
  src/goto-instrument/contracts/memory_predicates.cpp
  src/goto-instrument/contracts/utils.cpp
  src/goto-instrument/contracts/utils.h
Labels: cleanup, Code Contracts

#7727 Fix includes for BDD_GUARDS
  src/analyses/guard.h
  src/goto-instrument/goto_instrument_parse_options.cpp
Labels: bugfix

#7738 Piped process: fix off-by-one error
  src/util/piped_process.cpp
Labels: bugfix

#7739 Field sensitivity: also rewrite byte extract to type casts
  regression/contracts/assigns_enforce_conditional_unions/program-only.desc
  src/goto-symex/field_sensitivity.cpp
Labels: aws-high, Kani
