Repository diffblue/cbmc, pull requests merged in 2024-09, with the labels that each got.

#8400 SMT2 back-end: fix inconsistent array flattening
  src/solvers/flattening/arrays.cpp
  src/solvers/flattening/arrays.h
  src/solvers/smt2/smt2_conv.cpp
Labels: SMT Backend Interface

#8430 Contracts: remove bound-var-rewrite
  src/goto-instrument/contracts/contracts.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_instrument_loop.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_wrapper_program.cpp
  src/goto-instrument/contracts/utils.cpp
  src/goto-instrument/contracts/utils.h
Labels: cleanup, Code Contracts

#8438 Fix Alpine's assert-statement conversion special case
  regression/ansi-c/goto_convert_assert/main.c
  regression/ansi-c/goto_convert_assert/test.desc
  src/ansi-c/goto-conversion/goto_convert.cpp
Labels: bugfix, C Front End

#8459 Contracts: always remove spurious do {... } while(0) loops
  regression/contracts-dfcc/invar_assigns_empty/test.desc
  src/goto-instrument/contracts/contracts.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_cfg_info.cpp
  src/goto-instrument/contracts/utils.cpp
  src/goto-instrument/contracts/utils.h
Labels: Code Contracts

#8458 Contracts/DFCC: split conjunctions in loop invariants
  src/goto-instrument/contracts/dynamic-frames/dfcc_instrument_loop.cpp
Labels: Code Contracts

#8366 C library: fix use of va_list for AARCH64
  src/ansi-c/library/stdio.c
  src/util/config.cpp
Labels: bugfix, C Front End

#8466 SMT2: implement range type
  src/solvers/smt2/smt2_conv.cpp
Labels: Solvers

#8470 Contracts: document use of __CPROVER_loop_entry with arrays
  src/goto-instrument/contracts/doc/user/contracts-history-variables.md
Labels: Code Contracts
