Repository diffblue/cbmc, pull requests merged in 2024-11, with the labels that each got.

#8489 [CONTRACTS] Detect loop locals with goto_rw in DFCC
  regression/contracts-dfcc/dont_skip_cprover_prefixed_vars_fail/main.c
  regression/contracts-dfcc/dont_skip_cprover_prefixed_vars_pass/main.c
  regression/contracts-dfcc/invar_loop-entry_check/main.c
  regression/contracts-dfcc/invar_loop-entry_check/test.desc
  regression/contracts-dfcc/invar_loop-entry_fail/main.c
  regression/contracts-dfcc/loop_assigns_inference-03/main.c
  src/goto-instrument/contracts/dynamic-frames/dfcc_cfg_info.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_infer_loop_assigns.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_infer_loop_assigns.h
Labels: Code Contracts

#8490 [CONTRACTS] DFCC loop assigns infererence with functions inlined
  regression/contracts-dfcc/invar_havoc_dynamic_array_const_idx/main.c
  regression/contracts-dfcc/loop_assigns_inference-01/test.desc
  regression/contracts-dfcc/loop_assigns_inference-04/main.c
  regression/contracts-dfcc/loop_assigns_inference-04/test.desc
  regression/contracts-dfcc/loop_assigns_inference-05/main.c
  regression/contracts-dfcc/loop_assigns_inference-05/test.desc
  src/goto-instrument/contracts/dynamic-frames/dfcc_cfg_info.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_cfg_info.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_infer_loop_assigns.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_infer_loop_assigns.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_instrument.cpp
Labels: Code Contracts

#8496 fix `update_bit` lowering
  src/util/bitvector_expr.cpp
  unit/Makefile
  unit/solvers/flattening/boolbv_update_bit.cpp
Labels: Solvers, bugfix

#8501 remove duplicate SATCHECK_* defines
  src/config.inc
Labels: cleanup, Build

#8502 Cadical with preprocessor and local search
  src/goto-checker/solver_factory.cpp
  src/solvers/sat/satcheck.h
  src/solvers/sat/satcheck_cadical.cpp
  src/solvers/sat/satcheck_cadical.h
  unit/solvers/sat/satcheck_cadical.cpp
Labels: Solvers
