Repository diffblue/cbmc, pull requests merged in 2025-01, with the labels that each got.

#8551 protect `ieee_floatt::rounding_mode`
  src/solvers/refinement/refine_arithmetic.cpp
  src/util/ieee_float.h
  src/util/simplify_expr_floatbv.cpp
Labels: cleanup

#8546 goto-analyzer: `--show-local-bitvector`
  doc/man/goto-analyzer.1
  regression/goto-analyzer/bitvector-analysis/basic1.c
  regression/goto-analyzer/bitvector-analysis/basic1.desc
  src/goto-analyzer/goto_analyzer_parse_options.cpp
  src/goto-analyzer/goto_analyzer_parse_options.h
Labels: Static Analyses

#8564 Fix publish workflow
  .github/workflows/doxygen-check.yaml
  .github/workflows/publish.yaml
  doc/API/util/piped_process.md
  doc/architectural/front-page.md
  doc/architectural/goto-program-transformations.md
  doc/assets/xml_spec.md
  scripts/run_doxygen.sh
  src/doxyfile
  src/goto-instrument/README.md
Labels: Build

#8574 CONTRATCS: force success for necessary pointer predicates
  regression/contracts-dfcc/quantifiers-loops-fresh-bound-vars-smt/test.desc
  src/ansi-c/library/cprover_contracts.c
  src/goto-instrument/contracts/dynamic-frames/dfcc_is_cprover_symbol.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_is_cprover_symbol.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_is_fresh.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_obeys_contract.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_pointer_equals.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_pointer_in_range.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_wrapper_program.cpp
Labels: Code Contracts

#8576 CONTRACTS: separation checks using nondet demonic variable
  regression/contracts-dfcc/test_aliasing_ensure/main.c
  regression/contracts-dfcc/test_aliasing_ensure/test.desc
  regression/contracts-dfcc/test_scalar_memory_enforce/main.c
  src/ansi-c/library/cprover_contracts.c
  src/goto-instrument/contracts/doc/developer/contracts-dev-spec-dfcc-runtime.md
  src/goto-instrument/contracts/dynamic-frames/dfcc_is_cprover_symbol.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_library.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_library.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_wrapper_program.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_wrapper_program.h
Labels: Code Contracts

#8577 CONTRACTS: ensure at most one predicate per pointer
  regression/contracts-dfcc/test_pointer_pred_unique_enforce_fail/main.c
  regression/contracts-dfcc/test_pointer_pred_unique_enforce_fail/test.desc
  regression/contracts-dfcc/test_pointer_pred_unique_enforce_pass/main.c
  regression/contracts-dfcc/test_pointer_pred_unique_enforce_pass/test.desc
  regression/contracts-dfcc/test_pointer_pred_unique_replace_fail/main.c
  regression/contracts-dfcc/test_pointer_pred_unique_replace_fail/test.desc
  regression/contracts-dfcc/test_pointer_pred_unique_replace_pass/main.c
  regression/contracts-dfcc/test_pointer_pred_unique_replace_pass/test.desc
  src/ansi-c/library/cprover_contracts.c
  src/goto-instrument/contracts/doc/user/contracts-memory-predicates.md
Labels: Code Contracts
