Repository diffblue/cbmc, changes with the owners that CODEOWNERS names for each.
All owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue, @martin-cs, @mgudemann, @pkesseli, @romainbrenguier, @thk123, @cristina-david, @cesaro, @NathanJPhillips, @diffblue/cbmc-developers, @reuk, @diffblue/devops, @forejtv

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*       @kroening @tautschnig @peterschrammel @smowton @chrisr-diffblue

# These files should rarely change

src/big-int/ @kroening
src/ansi-c/ @kroening @tautschnig
src/assembler/ @kroening @tautschnig
src/goto-cc/ @kroening @tautschnig
src/linking/ @kroening @tautschnig
src/memory-models/ @kroening @tautschnig
src/goto-symex/ @kroening @tautschnig @peterschrammel
src/json/ @kroening @tautschnig @peterschrammel
src/langapi/ @kroening @tautschnig @peterschrammel
src/xmllang/ @kroening @tautschnig @peterschrammel
src/nonstd/ @smowton @peterschrammel
src/solvers/cvc @martin-cs @kroening
src/solvers/flattening @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/floatbv @martin-cs @kroening
src/solvers/miniBDD @tautschnig @kroening
src/solvers/prop @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/sat @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/smt2 @martin-cs @tautschnig @peterschrammel
src/miniz/ @smowton @mgudemann @peterschrammel


# These files change frequently and changes are high-risk

src/cbmc/ @smowton @kroening @tautschnig @peterschrammel
src/goto-programs/ @smowton @kroening @tautschnig @peterschrammel @pkesseli
src/util/ @smowton @kroening @tautschnig @peterschrammel @pkesseli
src/solvers/refinement @martin-cs @romainbrenguier @peterschrammel
src/java_bytecode/ @smowton @mgudemann @thk123 @cristina-david @cesaro @pkesseli @NathanJPhillips @peterschrammel
src/analyses/ @martin-cs @peterschrammel @chrisr-diffblue @thk123 @smowton
src/pointer-analysis/ @martin-cs @peterschrammel @chrisr-diffblue @smowton


# These files change frequently and changes are medium-risk

src/goto-analyzer/ @martin-cs @chrisr-diffblue @peterschrammel
src/goto-instrument/ @martin-cs @chrisr-diffblue @peterschrammel
src/goto-diff/ @tautschnig @peterschrammel
src/jbmc/ @smowton @mgudemann @cristina-david @cesaro @pkesseli @peterschrammel
src/cpp/ @kroening @tautschnig @peterschrammel


# These files change frequently and changes are low-risk

unit/ @diffblue/cbmc-developers
regression/ @diffblue/cbmc-developers

CMakeLists.txt @reuk @chrisr-diffblue
cmake/ @reuk @chrisr-diffblue

scripts/ @diffblue/devops @thk123 @forejtv @peterschrammel
.travis.yml @diffblue/devops @thk123 @forejtv @peterschrammel
appveyor.yml @diffblue/devops @thk123 @forejtv @peterschrammel

Add cron jobs for sanitizers and libc++ debug mode
  .travis.yml
  CMakeLists.txt
  cmake/set_up_configs.cmake
Owners: @diffblue/devops, @thk123, @forejtv, @peterschrammel, @reuk, @chrisr-diffblue

Check it works outside of a cron job
  .travis.yml
Owners: @diffblue/devops, @thk123, @forejtv, @peterschrammel

fix iterator in freeze_lazy_contraints
  src/solvers/refinement/refine_arrays.cpp
Owners: @martin-cs, @romainbrenguier, @peterschrammel

make-function-assume-false command line option
  src/goto-instrument/Makefile
  src/goto-instrument/goto_instrument_parse_options.cpp
  src/goto-instrument/goto_instrument_parse_options.h
  src/goto-instrument/make_function_assume_false.cpp
  src/goto-instrument/make_function_assume_false.h
Owners: @martin-cs, @chrisr-diffblue, @peterschrammel

Regression tests for make-function-assume-false
  regression/goto-instrument/make_function_assume_false1/main.c
  regression/goto-instrument/make_function_assume_false1/test.desc
  regression/goto-instrument/make_function_assume_false2/main.c
  regression/goto-instrument/make_function_assume_false2/test.desc
  regression/goto-instrument/make_function_assume_false3/main.c
  regression/goto-instrument/make_function_assume_false3/test.desc
Owners: @diffblue/cbmc-developers

Fix to unified_difft::lcss for it not to error on iterator check
  src/goto-diff/unified_diff.cpp
Owners: @tautschnig, @peterschrammel

Remove unneeded code
  src/util/std_expr.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Fix include statements in java_bytecode_instrument
  src/java_bytecode/java_bytecode_instrument.cpp
  src/java_bytecode/java_bytecode_instrument.h
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Refactor the command line handling of specific analyses.
  src/goto-analyzer/goto_analyzer_parse_options.cpp
Owners: @martin-cs, @chrisr-diffblue, @peterschrammel

Move class_identifier update to zero initializer
  src/goto-programs/builtin_functions.cpp
  src/linking/zero_initializer.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Let symex do immediate zero initialisation of java_new{,_array}
  src/goto-programs/builtin_functions.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Add a new set of options that allow task, abstract interpreter and domain to be picked independently.
  src/goto-analyzer/Makefile
  src/goto-analyzer/goto_analyzer_parse_options.cpp
  src/goto-analyzer/goto_analyzer_parse_options.h
  src/goto-analyzer/static_show_domain.cpp
  src/goto-analyzer/static_show_domain.h
  src/goto-analyzer/static_simplifier.cpp
  src/goto-analyzer/static_simplifier.h
  src/goto-analyzer/static_verifier.cpp
  src/goto-analyzer/static_verifier.h
Owners: @martin-cs, @chrisr-diffblue, @peterschrammel

Refactor doit() in goto analyzer to catch exceptions thrown during analysis.
  src/goto-analyzer/goto_analyzer_parse_options.cpp
  src/goto-analyzer/goto_analyzer_parse_options.h
Owners: @martin-cs, @chrisr-diffblue, @peterschrammel

Convert --intervals and --non-null from being specific to general analysis.
  src/goto-analyzer/Makefile
  src/goto-analyzer/goto_analyzer_parse_options.cpp
  src/goto-analyzer/static_analyzer.cpp
  src/goto-analyzer/static_analyzer.h
Owners: @martin-cs, @chrisr-diffblue, @peterschrammel

Convert --unreachable-instructions, --unreachable-functions and --reachable-functions from specific to general tasks.
  regression/goto-analyzer/reachable-functions-basic-json/test.desc
  regression/goto-analyzer/reachable-functions-basic-text/test.desc
  regression/goto-analyzer/reachable-functions-domain-text/test.desc
  regression/goto-analyzer/unreachable-functions-basic-json/test.desc
  regression/goto-analyzer/unreachable-functions-basic-text/test.desc
  regression/goto-analyzer/unreachable-functions-domain-text/test.desc
  regression/goto-analyzer/unreachable-instructions-basic-json/test.desc
  regression/goto-analyzer/unreachable-instructions-basic-text/test.desc
  regression/goto-analyzer/unreachable-instructions-basic-text/unreachable.c
  regression/goto-analyzer/unreachable-instructions-domain-text/test.desc
  src/goto-analyzer/goto_analyzer_parse_options.cpp
  src/goto-analyzer/unreachable_instructions.cpp
  src/goto-analyzer/unreachable_instructions.h
Owners: @diffblue/cbmc-developers, @martin-cs, @chrisr-diffblue, @peterschrammel

Update the use of assert in unreachable_instructions.
  src/goto-analyzer/unreachable_instructions.cpp
Owners: @martin-cs, @chrisr-diffblue, @peterschrammel

Convert returned numbers to the appropriate symbolic exit codes and correct a few cases.
  regression/goto-analyzer/regenerate-entry-function/test.desc
  regression/goto-cc-goto-analyzer/regenerate-entry-function/test.desc
  src/goto-analyzer/goto_analyzer_parse_options.cpp
Owners: @diffblue/cbmc-developers, @martin-cs, @chrisr-diffblue, @peterschrammel

Store list of runtime exceptions in new variable
  src/java_bytecode/java_bytecode_instrument.cpp
  src/java_bytecode/java_bytecode_instrument.h
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Always load classes with throw_runtime_exceptions
  src/java_bytecode/java_bytecode_language.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Add test for ArrayIndexOutOfBoundsException
  regression/cbmc-java/ArrayIndexOutOfBoundsException3/ArrayIndexOutOfBoundsExceptionTest.class
  regression/cbmc-java/ArrayIndexOutOfBoundsException3/ArrayIndexOutOfBoundsExceptionTest.java
  regression/cbmc-java/ArrayIndexOutOfBoundsException3/java/lang/ArrayIndexOutOfBoundsException.class
  regression/cbmc-java/ArrayIndexOutOfBoundsException3/java/lang/ArrayIndexOutOfBoundsException.java
  regression/cbmc-java/ArrayIndexOutOfBoundsException3/java/lang/IndexOutOfBoundsException.class
  regression/cbmc-java/ArrayIndexOutOfBoundsException3/java/lang/IndexOutOfBoundsException.java
  regression/cbmc-java/ArrayIndexOutOfBoundsException3/java/lang/RuntimeException.class
  regression/cbmc-java/ArrayIndexOutOfBoundsException3/java/lang/RuntimeException.java
  regression/cbmc-java/ArrayIndexOutOfBoundsException3/test.desc
Owners: @diffblue/cbmc-developers

Add regression test for NullPointerException
  regression/cbmc-java/NullPointerException4/A.class
  regression/cbmc-java/NullPointerException4/Test.class
  regression/cbmc-java/NullPointerException4/Test.java
  regression/cbmc-java/NullPointerException4/java/lang/NullPointerException.class
  regression/cbmc-java/NullPointerException4/java/lang/NullPointerException.java
  regression/cbmc-java/NullPointerException4/java/lang/RuntimeException.class
  regression/cbmc-java/NullPointerException4/java/lang/RuntimeException.java
  regression/cbmc-java/NullPointerException4/test.desc
Owners: @diffblue/cbmc-developers

Add regression test for ArithmeticException
  regression/cbmc-java/ArithmeticException7/ArithmeticExceptionTest.class
  regression/cbmc-java/ArithmeticException7/ArithmeticExceptionTest.java
  regression/cbmc-java/ArithmeticException7/java/lang/ArithmeticException.class
  regression/cbmc-java/ArithmeticException7/java/lang/ArithmeticException.java
  regression/cbmc-java/ArithmeticException7/java/lang/RuntimeException.class
  regression/cbmc-java/ArithmeticException7/java/lang/RuntimeException.java
  regression/cbmc-java/ArithmeticException7/test.desc
Owners: @diffblue/cbmc-developers

Add test for ClassCastException
  regression/cbmc-java/ClassCastException3/A.class
  regression/cbmc-java/ClassCastException3/B.class
  regression/cbmc-java/ClassCastException3/ClassCastExceptionTest.class
  regression/cbmc-java/ClassCastException3/ClassCastExceptionTest.java
  regression/cbmc-java/ClassCastException3/java/lang/ClassCastException.class
  regression/cbmc-java/ClassCastException3/java/lang/ClassCastException.java
  regression/cbmc-java/ClassCastException3/java/lang/RuntimeException.class
  regression/cbmc-java/ClassCastException3/java/lang/RuntimeException.java
  regression/cbmc-java/ClassCastException3/test.desc
Owners: @diffblue/cbmc-developers

Add test for NegativeArraySizeException
  regression/cbmc-java/NegativeArraySizeException2/NegativeArraySizeExceptionTest.class
  regression/cbmc-java/NegativeArraySizeException2/NegativeArraySizeExceptionTest.java
  regression/cbmc-java/NegativeArraySizeException2/java/lang/NegativeArraySizeException.class
  regression/cbmc-java/NegativeArraySizeException2/java/lang/NegativeArraySizeException.java
  regression/cbmc-java/NegativeArraySizeException2/java/lang/RuntimeException.class
  regression/cbmc-java/NegativeArraySizeException2/java/lang/RuntimeException.java
  regression/cbmc-java/NegativeArraySizeException2/test.desc
Owners: @diffblue/cbmc-developers

Rename test to NegativeArraySizeException1
  regression/cbmc-java/NegativeArraySizeException1/NegativeArraySizeExceptionTest.class
  regression/cbmc-java/NegativeArraySizeException1/NegativeArraySizeExceptionTest.java
  regression/cbmc-java/NegativeArraySizeException1/test.desc
Owners: @diffblue/cbmc-developers

Make comment about killing irep more precise
  src/util/irep.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Comment explaining name of data field in dt
  src/util/irep.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Don't store pointers to symbols in map
  src/java_bytecode/ci_lazy_methods.cpp
  src/java_bytecode/ci_lazy_methods.h
  src/java_bytecode/java_bytecode_convert_class.cpp
  src/java_bytecode/java_bytecode_language.cpp
  src/java_bytecode/java_bytecode_language.h
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Use optionalt instead of safe_pointer
  src/java_bytecode/ci_lazy_methods.cpp
  src/java_bytecode/ci_lazy_methods.h
  src/java_bytecode/java_bytecode_convert_method.cpp
  src/java_bytecode/java_bytecode_convert_method.h
  src/java_bytecode/java_bytecode_convert_method_class.h
  src/java_bytecode/java_bytecode_language.cpp
  src/util/safe_pointer.h
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel, @kroening, @tautschnig

Replace map to pair with a more specialized type
  src/java_bytecode/ci_lazy_methods.cpp
  src/java_bytecode/ci_lazy_methods.h
  src/java_bytecode/java_bytecode_convert_class.cpp
  src/java_bytecode/java_bytecode_language.cpp
  src/java_bytecode/java_bytecode_language.h
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Rename things to better reflect true meaning
  src/java_bytecode/ci_lazy_methods.cpp
  src/java_bytecode/ci_lazy_methods.h
  src/java_bytecode/java_bytecode_convert_class.cpp
  src/java_bytecode/java_bytecode_convert_class.h
  src/java_bytecode/java_bytecode_convert_method.cpp
  src/java_bytecode/java_bytecode_convert_method.h
  src/java_bytecode/java_bytecode_convert_method_class.h
  src/java_bytecode/java_bytecode_language.cpp
  src/java_bytecode/java_bytecode_language.h
  src/util/language.h
  src/util/language_file.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel, @kroening, @tautschnig

Make string solver functions get converted correctly first time
  src/java_bytecode/ci_lazy_methods.cpp
  src/java_bytecode/ci_lazy_methods.h
  src/java_bytecode/java_bytecode_convert_method.cpp
  src/java_bytecode/java_bytecode_convert_method.h
  src/java_bytecode/java_bytecode_convert_method_class.h
  src/java_bytecode/java_bytecode_language.cpp
  src/java_bytecode/java_bytecode_language.h
  src/java_bytecode/java_string_library_preprocess.cpp
  src/java_bytecode/java_string_library_preprocess.h
  src/util/language.h
  src/util/language_file.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel, @kroening, @tautschnig

Initialise string solver function parameter names
  src/java_bytecode/java_bytecode_convert_method.cpp
  src/java_bytecode/java_bytecode_convert_method.h
  src/java_bytecode/java_bytecode_language.cpp
  src/java_bytecode/java_string_library_preprocess.cpp
  src/java_bytecode/java_string_library_preprocess.h
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Print exported attribute in expr2c
  src/ansi-c/expr2c.cpp
Owners: @kroening, @tautschnig

Fix for the constant arrays marked as nondet issue.
  regression/cbmc/no_nondet_static/main.c
  regression/cbmc/no_nondet_static/test.desc
  src/goto-instrument/nondet_static.cpp
  src/util/type.cpp
  src/util/type.h
Owners: @diffblue/cbmc-developers, @martin-cs, @chrisr-diffblue, @peterschrammel, @smowton, @kroening, @tautschnig, @pkesseli

Fix 'missing return statement' errors in miniBDD_new
  unit/miniBDD_new.cpp
Owners: @diffblue/cbmc-developers

Add Windows dependency information to the COMPILING file
  COMPILING.md
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue

Disable use of unistd in flex outputs
  src/assembler/scanner.l
  src/jsil/scanner.l
  src/json/scanner.l
  src/xmllang/scanner.l
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue

Update appveyor config
  appveyor.yml
Owners: @diffblue/devops, @thk123, @forejtv, @peterschrammel

Tidying of java_specialized_generic_class_typet
  src/java_bytecode/generate_java_generic_type.h
  src/java_bytecode/java_types.h
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel
