Repository diffblue/cbmc, changes with the owners that CODEOWNERS names for each.
All owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue, @romainbrenguier, @martin-cs, @mgudemann, @pkesseli, @thk123, @cristina-david, @cesaro, @NathanJPhillips, @danpoe, @owen-jones-diffblue, @hannes-steffenhagen-diffblue, @allredj, @diffblue/devops, @forejtv

CODEOWNERS:

# Code owners are expected to complete reviews with feedback to the PR author or
# approval within two weeks.
#
# These owners will be the default owners for everything in the repo.
*       @kroening @tautschnig @peterschrammel @smowton @chrisr-diffblue

# These files should rarely change

/src/big-int/ @kroening
/src/ansi-c/ @kroening @tautschnig @chrisr-diffblue
/src/assembler/ @kroening @tautschnig @chrisr-diffblue
/src/goto-cc/ @kroening @tautschnig @chrisr-diffblue
/src/linking/ @kroening @tautschnig @chrisr-diffblue
/src/memory-models/ @kroening @tautschnig
/src/goto-symex/ @kroening @tautschnig @peterschrammel @smowton @romainbrenguier
/src/json/ @kroening @tautschnig @peterschrammel
/src/langapi/ @kroening @tautschnig @peterschrammel
/src/xmllang/ @kroening @tautschnig @peterschrammel
/src/nonstd/ @smowton @peterschrammel
/src/solvers/flattening @martin-cs @kroening @tautschnig @peterschrammel
/src/solvers/floatbv @martin-cs @kroening
/src/solvers/miniBDD @tautschnig @kroening
/src/solvers/prop @martin-cs @kroening @tautschnig @peterschrammel
/src/solvers/sat @martin-cs @kroening @tautschnig @peterschrammel
/jbmc/src/miniz/ @smowton @mgudemann @peterschrammel


# These files change frequently and changes are high-risk

/src/cbmc/ @smowton @kroening @tautschnig @peterschrammel
/src/goto-programs/ @smowton @kroening @tautschnig @peterschrammel @pkesseli
/src/util/ @smowton @kroening @tautschnig @peterschrammel @pkesseli
/src/solvers/refinement @martin-cs @romainbrenguier @peterschrammel
/src/solvers/strings @martin-cs @romainbrenguier @peterschrammel
/jbmc/src/java_bytecode/ @smowton @mgudemann @thk123 @cristina-david @cesaro @pkesseli @NathanJPhillips @peterschrammel
/src/analyses/ @martin-cs @peterschrammel @chrisr-diffblue @thk123 @smowton @danpoe @owen-jones-diffblue
/src/pointer-analysis/ @martin-cs @peterschrammel @chrisr-diffblue @smowton @owen-jones-diffblue


# These files change frequently and changes are medium-risk

/src/goto-analyzer/ @martin-cs @chrisr-diffblue @peterschrammel @danpoe @hannes-steffenhagen-diffblue
/src/goto-harness/ @martin-cs @chrisr-diffblue @peterschrammel @danpoe @hannes-steffenhagen-diffblue
/src/goto-instrument/ @martin-cs @chrisr-diffblue @peterschrammel @danpoe @hannes-steffenhagen-diffblue @smowton
/src/goto-diff/ @tautschnig @peterschrammel
/jbmc/src/jbmc/ @smowton @mgudemann @cristina-david @cesaro @pkesseli @peterschrammel
/jbmc/src/janalyzer/ @smowton @mgudemann @cristina-david @cesaro @pkesseli @peterschrammel
/jbmc/src/jdiff/ @smowton @mgudemann @cristina-david @cesaro @pkesseli @peterschrammel
/src/cpp/ @kroening @tautschnig @peterschrammel
/src/solvers/smt2 @kroening @martin-cs @tautschnig @peterschrammel @allredj @romainbrenguier
/src/statement-list/ @kroening @tautschnig @peterschrammel @pkesseli

/cmake/        @hannes-steffenhagen-diffblue
CMakeLists.txt @hannes-steffenhagen-diffblue

# These files change frequently and changes are low-risk

/src/util/irep_ids.def

/unit/
/regression/
/jbmc/unit/
/jbmc/regression/

/scripts/ @diffblue/devops @thk123 @forejtv @peterschrammel
/scripts/expected_doxygen_warnings.txt

/.travis.yml @diffblue/devops @thk123 @forejtv @peterschrammel @chrisr-diffblue

Adding unit tests to external sat solveR
  src/solvers/sat/external_sat.cpp
  unit/Makefile
  unit/solvers/sat/external_sat.cpp
Owners: @martin-cs, @kroening, @tautschnig, @peterschrammel

Add maintainer name to package email address
  cmake/packaging.cmake
Owners: @hannes-steffenhagen-diffblue

Create MSI installer on release
  .github/workflows/pull-request-checks.yaml
  .github/workflows/release-packages.yaml
  README.md
  cmake/packaging.cmake
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue, @hannes-steffenhagen-diffblue

Bump CBMC version to 5.14.0
  src/config.inc
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue

Add missing runs-on field for MSI package job
  .github/workflows/release-packages.yaml
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue

Bump CBMC version to 3.14.1
  src/config.inc
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue

Fix bug preventing creation of MSIs on release
  .github/workflows/release-packages.yaml
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue

Bump CBMC version to 5.14.2
  src/config.inc
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue

Fix bug that prevented --malloc-may-fail from working
  regression/goto-cc-cbmc/malloc-may-fail-should-work-with-compiled-binaries/test.c
  regression/goto-cc-cbmc/malloc-may-fail-should-work-with-compiled-binaries/test.desc
  src/ansi-c/ansi_c_internal_additions.cpp
  src/cbmc/cbmc_parse_options.cpp
  src/goto-programs/Makefile
  src/goto-programs/add_malloc_may_fail_variable_initializations.cpp
  src/goto-programs/add_malloc_may_fail_variable_initializations.h
Owners: @kroening, @tautschnig, @chrisr-diffblue, @smowton, @peterschrammel, @pkesseli

Fix constant_propagation tests
  regression/goto-analyzer/constant_propagation_01/test.desc
  regression/goto-analyzer/constant_propagation_02/test.desc
  regression/goto-analyzer/constant_propagation_03/test.desc
  regression/goto-analyzer/constant_propagation_04/test.desc
  regression/goto-analyzer/constant_propagation_07/test.desc
  regression/goto-analyzer/constant_propagation_12/test.desc
Owners: none

Add commented out code relating to --malloc-may-fail
  jbmc/src/jbmc/jbmc_parse_options.cpp
  src/goto-analyzer/goto_analyzer_parse_options.cpp
Owners: @smowton, @mgudemann, @cristina-david, @cesaro, @pkesseli, @peterschrammel, @martin-cs, @chrisr-diffblue, @danpoe, @hannes-steffenhagen-diffblue

Add macOS installation instructions to README
  README.md
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue

format_expr can now format tuples
  src/util/format_expr.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Horn clause encoder
  src/goto-instrument/goto_instrument_parse_options.cpp
  src/goto-instrument/goto_instrument_parse_options.h
  src/goto-instrument/horn_encoding.cpp
  src/goto-instrument/horn_encoding.h
Owners: @martin-cs, @chrisr-diffblue, @peterschrammel, @danpoe, @hannes-steffenhagen-diffblue, @smowton

add encoding for SYNTH-COMP
  src/goto-instrument/goto_instrument_parse_options.cpp
  src/goto-instrument/goto_instrument_parse_options.h
  src/goto-instrument/horn_encoding.cpp
  src/goto-instrument/horn_encoding.h
  src/solvers/smt2/smt2_conv.cpp
  src/solvers/smt2/smt2_conv.h
Owners: @martin-cs, @chrisr-diffblue, @peterschrammel, @danpoe, @hannes-steffenhagen-diffblue, @smowton, @kroening, @tautschnig, @allredj, @romainbrenguier

build on Mac with latest clang
  src/config.inc
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue

added to_tuple_expr(...)
  src/util/mathematical_expr.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

SMT2: function types and function applications
  src/solvers/smt2/smt2_conv.cpp
  src/solvers/smt2/smt2_conv.h
Owners: @kroening, @martin-cs, @tautschnig, @peterschrammel, @allredj, @romainbrenguier

Bump cbmc version to 5.14.3
  src/config.inc
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue

fix build fail due to -Wrange-loop-analysis
  src/goto-programs/goto_program.cpp
  src/goto-symex/build_goto_trace.cpp
  src/solvers/sat/cnf.cpp
  src/solvers/solver_hardness.cpp
  src/util/graph.h
  src/util/sharing_map.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli, @romainbrenguier, @martin-cs, @chrisr-diffblue

Fix JBMC crash on windows in `NondetEnumOpaqueReturn` test
  src/util/string_utils.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Add unit test of `escape_non_alnum`
  unit/Makefile
  unit/util/string_utils/escape_non_alnum.cpp
Owners: none

Fix conversion to hex of negative characters
  src/util/string_utils.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Remove usage of `narrow` for widening conversion
  src/util/string_utils.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Explain why particular conversions of characters are performed
  src/util/string_utils.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

xenci: rename yml to yaml
  .github/workflows/build-and-test-Xen.yaml
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue

xen-cbmc: fix ci script
  .github/workflows/build-and-test-Xen.yaml
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue

Bump cbmc version to 5.15.0
  src/config.inc
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue

Updates posix_memalign to consider malloc may fail
  src/ansi-c/library/stdlib.c
Owners: @kroening, @tautschnig, @chrisr-diffblue

Improves regression tests for posix_memalign
  regression/cbmc-library/posix_memalign-01/test.desc
  regression/cbmc-library/posix_memalign-02/main.c
  regression/cbmc-library/posix_memalign-02/test.desc
Owners: none

Update brew before updating formula
  .github/workflows/release-packages.yaml
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue

Add additional documentation of --nan-check flag
  doc/cprover-manual/properties.md
  regression/cbmc-library/float-nan-check/main.c
  regression/cbmc-library/float-nan-check/test.desc
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue

Create .deb package for ubuntu-18.04 on release
  .github/workflows/pull-request-checks.yaml
  .github/workflows/release-packages.yaml
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue

First draft of a compile and run tests against vs2019 in gh actions.
  .github/workflows/pull-request-checks.yaml
  .github/workflows/vs2019/build-cbmc.bat
  .github/workflows/vs2019/run-tests.bat
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue

Add exclusion mechanism for windows broken tests to cbmc/
  regression/cbmc/CMakeLists.txt
  regression/cbmc/address_space_size_limit1/test.desc
Owners: none

Add missing perl command in regressions/CMakeLists.txt
  regression/CMakeLists.txt
Owners: none

Move ${gcc_only} outside of quoted strings.
  regression/cbmc/CMakeLists.txt
Owners: none

Exclude regression/goto-instrument/ broken test on windows
  regression/goto-instrument/CMakeLists.txt
  regression/goto-instrument/restrict-function-pointer-to-complex-expression/test.desc
Owners: none

Add a Z3 prover installation step to the gh action workflow
  .github/workflows/pull-request-checks.yaml
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue

Add exclusion mechanism to cmbc-incr/
  regression/cbmc-incr/CMakeLists.txt
  regression/cbmc-incr/alarm1/test.desc
  regression/cbmc-incr/alarm3/test.desc
  regression/cbmc-incr/cruise1/test.desc
  regression/cbmc-incr/timeout.pl
Owners: none
