Repository diffblue/cbmc, changes with the owners that CODEOWNERS names for each.
All owners: @kroening, @tautschnig, @peterschrammel, @chris-ryder, @jimgrundy, @TGWDB, @nlightnfotis, @remi-delmas-3000, @romainbrenguier, @martin-cs, @qinheping, @NlightNFotis, @thomasspriggs, @esteffin, @feliperodri, @diffblue/diffblue-opensource

Fix typos in contracts.h
  src/goto-instrument/contracts/contracts.h
Owners: @tautschnig, @feliperodri, @remi-delmas-3000

SMT back-end: add support for Bitwuzla and CVC 5
  doc/man/cbmc.1
  doc/man/jbmc.1
  src/goto-checker/solver_factory.cpp
  src/goto-checker/solver_factory.h
  src/solvers/smt2/smt2_conv.cpp
  src/solvers/smt2/smt2_conv.h
  src/solvers/smt2/smt2_dec.cpp
Owners: @jimgrundy, @TGWDB, @kroening, @tautschnig, @peterschrammel, @nlightnfotis, @martin-cs, @thomasspriggs, @NlightNFotis

Mark quick "THOROUGH" tests as "CORE"
  jbmc/regression/jbmc-strings/ConstantEvaluationToString01/test_long_no_propagation2.desc
  jbmc/regression/jbmc-strings/StringBuilderChars01/test.desc
  jbmc/regression/jbmc-strings/StringIndexMethods01/test.desc
  jbmc/regression/jbmc-strings/StringIndexOf/test_thorough.desc
  jbmc/regression/jbmc-strings/StringStartEnd01/test.desc
  jbmc/regression/jbmc-strings/StringStartEnd03/test.desc
  regression/cbmc-cover/location15/test.desc
Owners: none

C model library: Support ARM64 va_list types
  src/ansi-c/library/stdio.c
Owners: @kroening, @tautschnig, @chris-ryder, @peterschrammel, @remi-delmas-3000

Fix ccache restore key for check-macos-12-cmake-clang
  .github/workflows/pull-request-checks.yaml
Owners: @diffblue/diffblue-opensource

clang-format boolbv_typecast.cpp
  src/solvers/flattening/boolbv_typecast.cpp
Owners: @martin-cs, @kroening, @tautschnig, @peterschrammel

Support (T)bv-typed conversion when T has smaller bit width
  src/solvers/flattening/boolbv_typecast.cpp
Owners: @martin-cs, @kroening, @tautschnig, @peterschrammel

Fix versions of doxygen used on github actions jobs
  .github/workflows/doxygen-check.yaml
  .github/workflows/publish.yaml
Owners: @diffblue/diffblue-opensource

Update doxygen version needed by `run_doxygen.sh` to 1.9.1
  scripts/expected_doxygen_warnings.txt
  scripts/run_doxygen.sh
  src/doxyfile
Owners: @diffblue/diffblue-opensource, @kroening, @tautschnig, @peterschrammel, @chris-ryder

Fix broken multiline reference
  scripts/expected_doxygen_warnings.txt
  src/analyses/ai.h
Owners: @diffblue/diffblue-opensource, @martin-cs, @peterschrammel, @chris-ryder

Update page format used by doxygen to `a4`
  scripts/expected_doxygen_warnings.txt
  src/doxyfile
Owners: @diffblue/diffblue-opensource, @kroening, @tautschnig, @peterschrammel, @chris-ryder

Make is_osx_mach_header declaration and definition consistent
  src/goto-programs/osx_fat_reader.cpp
  src/goto-programs/osx_fat_reader.h
Owners: @kroening, @tautschnig, @peterschrammel

Add an option to not unwind tranformed loops after applying loop contracts
  doc/man/goto-instrument.1
  regression/contracts/loop_contracts_no_unwind/main.c
  regression/contracts/loop_contracts_no_unwind/test.desc
  src/goto-instrument/contracts/contracts.cpp
  src/goto-instrument/contracts/contracts.h
  src/goto-instrument/goto_instrument_parse_options.cpp
  src/goto-instrument/goto_instrument_parse_options.h
Owners: @jimgrundy, @TGWDB, @kroening, @tautschnig, @peterschrammel, @nlightnfotis, @feliperodri, @remi-delmas-3000, @martin-cs, @chris-ryder

Add an option in goto-synthesizer to not unwind tranformed loops
  doc/man/goto-synthesizer.1
  src/goto-synthesizer/cegis_verifier.cpp
  src/goto-synthesizer/goto_synthesizer_parse_options.cpp
  src/goto-synthesizer/goto_synthesizer_parse_options.h
Owners: @jimgrundy, @TGWDB, @kroening, @tautschnig, @peterschrammel, @nlightnfotis, @qinheping, @feliperodri, @remi-delmas-3000

Add nondet_static_matching regex
  src/goto-instrument/nondet_static.cpp
  src/goto-instrument/nondet_static.h
Owners: @martin-cs, @chris-ryder, @peterschrammel, @tautschnig, @kroening

Use GNU wget to download CVC5 on Windows 2022 CI job
  .github/workflows/pull-request-checks.yaml
Owners: @diffblue/diffblue-opensource

Remove never-read variable seen_terms
  src/goto-synthesizer/enumerative_loop_contracts_synthesizer.cpp
Owners: @qinheping, @tautschnig, @feliperodri, @remi-delmas-3000

Update link to reference generated website
  doc/architectural/central-data-structures.md
  doc/doxygen-root/doxygen-markdown/markdown.sh
Owners: @jimgrundy, @TGWDB, @kroening, @tautschnig, @peterschrammel, @nlightnfotis

Add some high-level documentation on `symex` and GOTO-program instructions.
  doc/architectural/cbmc-architecture.md
  doc/architectural/symex-instructions.md
Owners: @jimgrundy, @TGWDB, @kroening, @tautschnig, @peterschrammel, @nlightnfotis

Remove unused function_depth variable
  src/goto-programs/goto_trace.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Add --nondet-static-matching regex option to goto-instrument
  doc/man/goto-instrument.1
  src/goto-instrument/goto_instrument_parse_options.cpp
  src/goto-instrument/goto_instrument_parse_options.h
Owners: @jimgrundy, @TGWDB, @kroening, @tautschnig, @peterschrammel, @nlightnfotis, @martin-cs, @chris-ryder

Move test --nondet-static-matching option from cbmc to goto-instrument
  regression/goto-instrument/nondet_static_matching/main.c
  regression/goto-instrument/nondet_static_matching/test.desc
  src/goto-instrument/goto_instrument_parse_options.cpp
Owners: @martin-cs, @chris-ryder, @peterschrammel, @tautschnig, @kroening

Allow including multiple backend solvers in cmake builds
  CMakeLists.txt
  src/libcprover-rust/build.rs
  src/solvers/CMakeLists.txt
  src/solvers/sat/satcheck.h
Owners: @diffblue/diffblue-opensource, @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel, @martin-cs, @kroening, @tautschnig

Include cadical in some CI workflows
  .github/workflows/pull-request-checks.yaml
  .gitignore
  Dockerfile
  scripts/cadical-1.4.1-patch
  scripts/cadical_CMakeLists.txt
  src/Makefile
  src/solvers/Makefile
Owners: @diffblue/diffblue-opensource, @kroening, @tautschnig, @peterschrammel, @chris-ryder, @thomasspriggs, @NlightNFotis, @TGWDB

Include cadical in release packages
  .github/workflows/release-packages.yaml
Owners: @diffblue/diffblue-opensource

Introduce a new --sat-solver option to allow selecting the backend SAT solver
  doc/man/cbmc.1
  doc/man/jbmc.1
  regression/cbmc/sat-solver-error/test.c
  regression/cbmc/sat-solver-error/test.desc
  regression/cbmc/sat-solver-warning/test.c
  regression/cbmc/sat-solver-warning/test.desc
  regression/cbmc/sat-solver/test.c
  regression/cbmc/sat-solver/test.desc
  regression/validate-trace-xml-schema/check.py
  src/goto-checker/solver_factory.cpp
  src/goto-checker/solver_factory.h
Owners: @jimgrundy, @TGWDB, @kroening, @tautschnig, @peterschrammel, @nlightnfotis

Update installation instructions to include how to build CBMC with multiple backend solvers
  COMPILING.md
Owners: @kroening, @tautschnig, @peterschrammel, @chris-ryder

Add shadow memory state to goto_symex_statet
  src/goto-symex/goto_symex_state.h
Owners: @kroening, @tautschnig, @peterschrammel, @romainbrenguier

Add shadow_memory.h
  src/goto-symex/shadow_memory.h
Owners: @kroening, @tautschnig, @peterschrammel, @romainbrenguier

Add shadow_memory_state.h
  src/goto-symex/shadow_memory_state.h
Owners: @kroening, @tautschnig, @peterschrammel, @romainbrenguier

Add shadow_memory_field_definitions.h
  src/goto-symex/shadow_memory_field_definitions.h
Owners: @kroening, @tautschnig, @peterschrammel, @romainbrenguier

Introduce enum_is_in_range expression
  regression/cbmc/enum_is_in_range/enum_test3-simplified.desc
  src/ansi-c/c_expr.cpp
  src/ansi-c/c_expr.h
  src/ansi-c/c_typecheck_expr.cpp
  src/ansi-c/cprover_builtin_headers.h
  src/ansi-c/goto_check_c.cpp
  src/ansi-c/library/cprover.h
  src/goto-programs/builtin_functions.cpp
  src/goto-programs/goto_convert_class.h
  src/util/irep_ids.def
Owners: @kroening, @tautschnig, @chris-ryder, @peterschrammel, @remi-delmas-3000

Make CPROVER intrinsics proper prototypes
  src/ansi-c/c_typecheck_expr.cpp
  src/ansi-c/cprover_builtin_headers.h
  src/ansi-c/library/cprover.h
  src/cpp/library/cprover.h
Owners: @kroening, @tautschnig, @chris-ryder, @peterschrammel, @remi-delmas-3000

C library check: silence warnings about GNU-style line markers
  src/ansi-c/library_check.sh
Owners: @kroening, @tautschnig, @chris-ryder, @peterschrammel, @remi-delmas-3000

C library: make functions with zero parameters proper declarations
  src/ansi-c/library/cprover_contracts.c
  src/ansi-c/library/fcntl.c
  src/ansi-c/library/gcc.c
  src/ansi-c/library/getopt.c
  src/ansi-c/library/inet.c
  src/ansi-c/library/math.c
  src/ansi-c/library/mman.c
  src/ansi-c/library/netdb.c
  src/ansi-c/library/process.c
  src/ansi-c/library/pthread_lib.c
  src/ansi-c/library/random.c
  src/ansi-c/library/signal.c
  src/ansi-c/library/stdio.c
  src/ansi-c/library/stdlib.c
  src/ansi-c/library/time.c
  src/ansi-c/library/unistd.c
  src/cpp/library/new.c
Owners: @kroening, @tautschnig, @chris-ryder, @peterschrammel, @remi-delmas-3000

Add stub for shadow memory instrumentation implementation
  src/goto-symex/Makefile
  src/goto-symex/shadow_memory.cpp
Owners: @kroening, @tautschnig, @peterschrammel, @romainbrenguier

Preprocess shadow memory field declarations
  src/goto-checker/multi_path_symex_only_checker.cpp
  src/goto-checker/single_path_symex_only_checker.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Make shadow memory instrumentation available to goto_symex
  src/goto-symex/goto_symex.h
Owners: @kroening, @tautschnig, @peterschrammel, @romainbrenguier

Initialize shadow memory on allocate()
  src/goto-symex/symex_builtin_functions.cpp
Owners: @kroening, @tautschnig, @peterschrammel, @romainbrenguier

Initialize shadow memory for function parameters
  src/goto-symex/goto_symex.h
  src/goto-symex/symex_function_call.cpp
Owners: @kroening, @tautschnig, @peterschrammel, @romainbrenguier

CODEOWNERS:

# Code owners are expected to complete reviews with feedback to the PR author or
# approval within two weeks.
#
# These owners will be the default owners for everything in the repo.
*       @kroening @tautschnig @peterschrammel @chris-ryder

# Documentation can be reviewed by people with broad project responsibility

/doc/ @jimgrundy @TGWDB @kroening @tautschnig @peterschrammel @nlightnfotis


# These files should rarely change

/src/big-int/ @kroening
/src/ansi-c/ @kroening @tautschnig @chris-ryder @peterschrammel @remi-delmas-3000
/src/assembler/ @kroening @tautschnig @chris-ryder
/src/goto-cc/ @kroening @tautschnig @chris-ryder
/src/linking/ @kroening @tautschnig @chris-ryder
/src/memory-models/ @kroening @tautschnig
/src/goto-checker/ @kroening @tautschnig @peterschrammel
/src/goto-symex/ @kroening @tautschnig @peterschrammel @romainbrenguier
/src/json/ @kroening @tautschnig @peterschrammel
/src/json-symtab-language/ @martin-cs
/src/langapi/ @kroening @tautschnig @peterschrammel
/src/xmllang/ @kroening @tautschnig @peterschrammel
/src/nonstd/ @peterschrammel
/src/solvers/flattening @martin-cs @kroening @tautschnig @peterschrammel
/src/solvers/floatbv @martin-cs @kroening
/src/solvers/miniBDD @tautschnig @kroening
/src/solvers/prop @martin-cs @kroening @tautschnig @peterschrammel
/src/solvers/sat @martin-cs @kroening @tautschnig @peterschrammel
/src/symtab2gb/ @martin-cs
/jbmc/src/miniz/ @peterschrammel
/src/crangler/ @kroening @tautschnig @qinheping


# These files change frequently and changes are high-risk

/src/cbmc/ @kroening @tautschnig @peterschrammel @NlightNFotis @thomasspriggs
/src/goto-programs/ @kroening @tautschnig @peterschrammel
/src/util/ @kroening @tautschnig @peterschrammel
/src/solvers/refinement @martin-cs @romainbrenguier @peterschrammel
/src/solvers/strings @martin-cs @romainbrenguier @peterschrammel
/jbmc/src/java_bytecode/ @romainbrenguier @peterschrammel
/src/analyses/ @martin-cs @peterschrammel @chris-ryder
/src/pointer-analysis/ @martin-cs @peterschrammel @chris-ryder
/src/libcprover-cpp @NlightNFotis @thomasspriggs @esteffin @TGWDB @peterschrammel
/src/libcprover-rust @NlightNFotis @thomasspriggs @TGWDB @peterschrammel

# These files change frequently and changes are medium-risk

/src/goto-analyzer/ @martin-cs @chris-ryder @peterschrammel
/src/goto-harness/ @martin-cs @chris-ryder @peterschrammel
/src/goto-instrument/ @martin-cs @chris-ryder @peterschrammel @tautschnig @kroening
/src/goto-instrument/contracts/ @tautschnig @feliperodri @remi-delmas-3000
/src/goto-synthesizer/ @qinheping @tautschnig @feliperodri @remi-delmas-3000
/src/goto-diff/ @tautschnig @peterschrammel
/src/jsil/ @kroening @tautschnig
/src/memory-analyzer/ @tautschnig @chris-ryder @kroening
/jbmc/src/jbmc/ @peterschrammel @romainbrenguier
/jbmc/src/janalyzer/ @peterschrammel @romainbrenguier
/jbmc/src/jdiff/ @peterschrammel
/src/cpp/ @kroening @tautschnig @peterschrammel
/src/solvers/smt2 @kroening @martin-cs @peterschrammel @thomasspriggs @NlightNFotis @TGWDB
/src/solvers/smt2_incremental @peterschrammel @thomasspriggs @NlightNFotis @TGWDB @chris-ryder
/src/solvers/Makefile @kroening @tautschnig @peterschrammel @chris-ryder @thomasspriggs @NlightNFotis @TGWDB
/src/statement-list/ @kroening @tautschnig @peterschrammel

/cmake/        @diffblue/diffblue-opensource
CMakeLists.txt @diffblue/diffblue-opensource

# These files change frequently and changes are low-risk

/src/util/irep_ids.def

/unit/
/regression/
/jbmc/unit/
/jbmc/regression/

/scripts/ @diffblue/diffblue-opensource

# CI pipeline is the responsibility of the Open Source maintenance team at Diffblue.
/.github/ @diffblue/diffblue-opensource
src/config.inc @diffblue/diffblue-opensource
