Repository diffblue/cbmc, changes with the owners that CODEOWNERS names for each.
All owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue, @martin-cs, @mgudemann, @pkesseli, @romainbrenguier, @thk123, @cristina-david, @cesaro, @NathanJPhillips, @diffblue/cbmc-developers, @reuk, @diffblue/devops, @forejtv

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*       @kroening @tautschnig @peterschrammel @smowton @chrisr-diffblue

# These files should rarely change

src/big-int/ @kroening
src/ansi-c/ @kroening @tautschnig
src/assembler/ @kroening @tautschnig
src/goto-cc/ @kroening @tautschnig
src/linking/ @kroening @tautschnig
src/memory-models/ @kroening @tautschnig
src/goto-symex/ @kroening @tautschnig @peterschrammel
src/json/ @kroening @tautschnig @peterschrammel
src/langapi/ @kroening @tautschnig @peterschrammel
src/xmllang/ @kroening @tautschnig @peterschrammel
src/nonstd/ @smowton @peterschrammel
src/solvers/cvc @martin-cs @kroening
src/solvers/flattening @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/floatbv @martin-cs @kroening
src/solvers/miniBDD @tautschnig @kroening
src/solvers/prop @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/sat @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/smt2 @martin-cs @tautschnig @peterschrammel
src/miniz/ @smowton @mgudemann @peterschrammel


# These files change frequently and changes are high-risk

src/cbmc/ @smowton @kroening @tautschnig @peterschrammel
src/goto-programs/ @smowton @kroening @tautschnig @peterschrammel @pkesseli
src/util/ @smowton @kroening @tautschnig @peterschrammel @pkesseli
src/solvers/refinement @martin-cs @romainbrenguier @peterschrammel
src/java_bytecode/ @smowton @mgudemann @thk123 @cristina-david @cesaro @pkesseli @NathanJPhillips @peterschrammel
src/analyses/ @martin-cs @peterschrammel @chrisr-diffblue @thk123 @smowton
src/pointer-analysis/ @martin-cs @peterschrammel @chrisr-diffblue @smowton


# These files change frequently and changes are medium-risk

src/goto-analyzer/ @martin-cs @chrisr-diffblue @peterschrammel
src/goto-instrument/ @martin-cs @chrisr-diffblue @peterschrammel
src/goto-diff/ @tautschnig @peterschrammel
src/jbmc/ @smowton @mgudemann @cristina-david @cesaro @pkesseli @peterschrammel
src/cpp/ @kroening @tautschnig @peterschrammel


# These files change frequently and changes are low-risk

unit/ @diffblue/cbmc-developers
regression/ @diffblue/cbmc-developers

CMakeLists.txt @reuk @chrisr-diffblue
cmake/ @reuk @chrisr-diffblue

scripts/ @diffblue/devops @thk123 @forejtv @peterschrammel
.travis.yml @diffblue/devops @thk123 @forejtv @peterschrammel
appveyor.yml @diffblue/devops @thk123 @forejtv @peterschrammel

Add the generic type arguments to the specalised type
  src/java_bytecode/generate_java_generic_type.cpp
  src/java_bytecode/generate_java_generic_type.h
  src/java_bytecode/java_types.h
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Renaming generic_tag to generic_name since not a tag
  src/java_bytecode/generate_java_generic_type.cpp
  src/java_bytecode/generate_java_generic_type.h
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Collect string solver function calls
  src/java_bytecode/java_bytecode_language.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Adds an option to simplify repeatedly instead of just once
  regression/goto-analyzer-simplify/fully-simplify-expression/main.c
  regression/goto-analyzer-simplify/fully-simplify-expression/test.desc
  src/goto-analyzer/goto_analyzer_parse_options.cpp
  src/goto-analyzer/goto_analyzer_parse_options.h
  src/goto-analyzer/static_simplifier.cpp
Owners: @diffblue/cbmc-developers, @martin-cs, @chrisr-diffblue, @peterschrammel

Fix the handling of recursive data types.
  regression/cbmc/no_nondet_static/main.c
  regression/cbmc/no_nondet_static/test.desc
  src/goto-instrument/nondet_static.cpp
  src/util/type.cpp
  src/util/type.h
Owners: @diffblue/cbmc-developers, @martin-cs, @chrisr-diffblue, @peterschrammel, @smowton, @kroening, @tautschnig, @pkesseli

Overwrite files when unpacking unconditionally
  appveyor.yml
Owners: @diffblue/devops, @thk123, @forejtv, @peterschrammel

Include setjmp.h if the jmp_buf symbol is used
  src/goto-programs/system_library_symbols.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Use small intrusive pointer in irep
  src/util/cow.h
  src/util/irep.cpp
  src/util/irep.h
  src/util/small_shared_ptr.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Fix dangling reference in cpp_typecheck_constructor
  src/cpp/cpp_typecheck_constructor.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Add comment suggested by @owen-jones-diffblue
  src/util/irep.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Answer yes to all question of 7z
  appveyor.yml
Owners: @diffblue/devops, @thk123, @forejtv, @peterschrammel

Test comparing jbmc lastIndexOf with loop version
  regression/jbmc-strings/VerifStringLastIndexOf/Test.class
  regression/jbmc-strings/VerifStringLastIndexOf/Test.java
  regression/jbmc-strings/VerifStringLastIndexOf/test.desc
Owners: @diffblue/cbmc-developers

Prevent overflow with argument of lastIndexOf
  src/solvers/refinement/string_constraint_generator_indexof.cpp
Owners: @martin-cs, @romainbrenguier, @peterschrammel

Fix the handling of recursive data types.
  regression/cbmc/no_nondet_static/main.c
  regression/cbmc/no_nondet_static/test.desc
  src/goto-instrument/nondet_static.cpp
  src/util/type.cpp
  src/util/type.h
Owners: @diffblue/cbmc-developers, @martin-cs, @chrisr-diffblue, @peterschrammel, @smowton, @kroening, @tautschnig, @pkesseli

Fix for the constant arrays marked as nondet issue.
  regression/cbmc/no_nondet_static/main.c
  regression/cbmc/no_nondet_static/test.desc
  src/goto-instrument/nondet_static.cpp
  src/util/type.cpp
  src/util/type.h
Owners: @diffblue/cbmc-developers, @martin-cs, @chrisr-diffblue, @peterschrammel, @smowton, @kroening, @tautschnig, @pkesseli

Type consistent string preprocessing for floating-point expressions
  regression/jbmc-strings/StringValueOf09/test.desc
  src/java_bytecode/java_string_library_preprocess.cpp
Owners: @diffblue/cbmc-developers, @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Add validate and can_cast method to string_exprt
  src/util/string_expr.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Use numeric_cast instead of other conversion
  src/solvers/refinement/string_refinement.cpp
Owners: @martin-cs, @romainbrenguier, @peterschrammel

Change length argument type to size_t
  src/solvers/refinement/string_constraint_generator.h
  src/solvers/refinement/string_constraint_generator_format.cpp
  src/solvers/refinement/string_refinement.cpp
Owners: @martin-cs, @romainbrenguier, @peterschrammel

Remove solvers/refinement/expr_cast.h
  src/solvers/refinement/expr_cast.h
Owners: @martin-cs, @romainbrenguier, @peterschrammel

Extend numeric_cast for constant expressions
  src/util/arith_tools.h
  src/util/mp_arith.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Change type of size to std::size_t
  src/solvers/refinement/string_refinement.cpp
Owners: @martin-cs, @romainbrenguier, @peterschrammel

Use numeric_cast instead of refinement/expr_cast
  src/solvers/refinement/string_constraint_generator_transformation.cpp
  src/solvers/refinement/string_refinement.cpp
Owners: @martin-cs, @romainbrenguier, @peterschrammel

Utility to generate HTML reports from perf-test experiments
  scripts/perf-test/make-tables.sh
Owners: @diffblue/devops, @thk123, @forejtv, @peterschrammel

Permit selecting a regular-expression-defined set of tasks
  scripts/perf-test/perf_test.py
Owners: @diffblue/devops, @thk123, @forejtv, @peterschrammel

Update cprover-sv-comp, benchexec to latest version
  scripts/perf-test/ec2.yaml
Owners: @diffblue/devops, @thk123, @forejtv, @peterschrammel

Support custom CodeBuild templates
  scripts/perf-test/perf_test.py
Owners: @diffblue/devops, @thk123, @forejtv, @peterschrammel

SV-COMP now requires zip files
  scripts/perf-test/ec2.yaml
Owners: @diffblue/devops, @thk123, @forejtv, @peterschrammel

perf-test: build configuration using glucose
  scripts/perf-test/codebuild-glucose.yaml
Owners: @diffblue/devops, @thk123, @forejtv, @peterschrammel

Use svcomp18 as base
  scripts/perf-test/ebs.yaml
Owners: @diffblue/devops, @thk123, @forejtv, @peterschrammel

Extra fix for lcss needed
  src/goto-diff/unified_diff.cpp
Owners: @tautschnig, @peterschrammel

Adding a unit test for specialisation of implicitly generic classes
  unit/java_bytecode/generate_concrete_generic_type/generate_java_generic_type.cpp
  unit/java_bytecode/generate_concrete_generic_type/generate_outer_inner.cpp
  unit/java_bytecode/generate_concrete_generic_type/generic_outer_inner$GenericOuter$GenericInner.class
  unit/java_bytecode/generate_concrete_generic_type/generic_outer_inner$GenericOuter$Inner$InnerInner.class
  unit/java_bytecode/generate_concrete_generic_type/generic_outer_inner$GenericOuter$Inner.class
  unit/java_bytecode/generate_concrete_generic_type/generic_outer_inner$GenericOuter.class
  unit/java_bytecode/generate_concrete_generic_type/generic_outer_inner$Outer$GenericInner$GenericInnerInner.class
  unit/java_bytecode/generate_concrete_generic_type/generic_outer_inner$Outer$GenericInner$InnerInner.class
  unit/java_bytecode/generate_concrete_generic_type/generic_outer_inner$Outer$GenericInner.class
  unit/java_bytecode/generate_concrete_generic_type/generic_outer_inner$Outer$Inner$GenericInnerInner.class
  unit/java_bytecode/generate_concrete_generic_type/generic_outer_inner$Outer$Inner$InnerInner.class
  unit/java_bytecode/generate_concrete_generic_type/generic_outer_inner$Outer$Inner.class
  unit/java_bytecode/generate_concrete_generic_type/generic_outer_inner$Outer$TwoParamGenericInner$InnerInner.class
  unit/java_bytecode/generate_concrete_generic_type/generic_outer_inner$Outer$TwoParamGenericInner.class
  unit/java_bytecode/generate_concrete_generic_type/generic_outer_inner$Outer.class
  unit/java_bytecode/generate_concrete_generic_type/generic_outer_inner.class
  unit/java_bytecode/generate_concrete_generic_type/generic_outer_inner.java
Owners: @diffblue/cbmc-developers

Adding specialisation for implicitly generic classes
  src/java_bytecode/generate_java_generic_type.cpp
  src/java_bytecode/generate_java_generic_type.h
  src/java_bytecode/java_types.h
  unit/testing-utils/generic_utils.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel, @diffblue/cbmc-developers

Moving a utility function to utility function file
  unit/java_bytecode/generate_concrete_generic_type/generate_java_generic_type.cpp
  unit/testing-utils/generic_utils.cpp
  unit/testing-utils/generic_utils.h
Owners: @diffblue/cbmc-developers

Allows simplification of expressions containing non-const
  src/analyses/variable-sensitivity/abstract_enviroment.cpp
  src/analyses/variable-sensitivity/abstract_object.cpp
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @thk123, @smowton

Ensure guarded_gotos is cleared after converting each function
  src/goto-programs/goto_convert.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Call graph: optionally record callsites
  src/analyses/call_graph.cpp
  src/analyses/call_graph.h
  unit/analyses/call_graph.cpp
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @thk123, @smowton, @diffblue/cbmc-developers

Call graph: add constructors that only include reachable functions
  src/analyses/call_graph.cpp
  src/analyses/call_graph.h
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @thk123, @smowton

grapht: add get_reachable function
  src/util/graph.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Call graph -> grapht transformation
  src/analyses/call_graph.cpp
  src/analyses/call_graph.h
  unit/analyses/call_graph.cpp
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @thk123, @smowton, @diffblue/cbmc-developers
