Repository diffblue/cbmc, changes with the owners that CODEOWNERS names for each.
All owners: @kroening, @tautschnig, @peterschrammel, @jimgrundy, @TGWDB, @nlightnfotis, @remi-delmas-3000, @martin-cs, @qinheping, @NlightNFotis, @thomasspriggs, @esteffin, @feliperodri, @diffblue/diffblue-opensource

Replace file_util.{h,cpp} by std::filesystem
  jbmc/src/java_bytecode/java_class_loader_base.cpp
  jbmc/unit/java-testing-utils/load_java_class.cpp
  src/goto-analyzer/unreachable_instructions.cpp
  src/goto-cc/as_mode.cpp
  src/goto-cc/compile.cpp
  src/goto-cc/gcc_mode.cpp
  src/goto-cc/hybrid_binary.cpp
  src/goto-cc/ld_mode.cpp
  src/goto-cc/ms_cl_mode.cpp
  src/goto-instrument/count_eloc.cpp
  src/util/Makefile
  src/util/file_util.cpp
  src/util/file_util.h
  src/util/parser.h
  src/util/source_location.cpp
  src/util/tempdir.cpp
  src/util/tempfile.cpp
  unit/Makefile
  unit/util/file_util.cpp
Owners: @peterschrammel, @TGWDB, @martin-cs, @kroening, @tautschnig

Fix invalid-escape-sequence warning
  .github/workflows/pull-request-check-rust-api.yaml
Owners: @diffblue/diffblue-opensource

Remove local declaration of void_t
  src/solvers/smt2_incremental/ast/smt_terms.h
  src/solvers/smt2_incremental/type_traits.h
Owners: @peterschrammel, @thomasspriggs, @NlightNFotis, @TGWDB, @esteffin

Fix ccache configuration of check-macos-12-cmake-clang-rust
  .github/workflows/pull-request-check-rust-api.yaml
Owners: @diffblue/diffblue-opensource

Fix libstdc++-not-found error
  .github/workflows/pull-request-check-rust-api.yaml
Owners: @diffblue/diffblue-opensource

Remove local declaration of void_t
  src/solvers/smt2_incremental/ast/smt_terms.h
  src/solvers/smt2_incremental/type_traits.h
Owners: @peterschrammel, @thomasspriggs, @NlightNFotis, @TGWDB, @esteffin

Fix ccache configuration of check-macos-12-cmake-clang-rust
  .github/workflows/pull-request-check-rust-api.yaml
Owners: @diffblue/diffblue-opensource

Fix invalid-escape-sequence warning
  .github/workflows/pull-request-check-rust-api.yaml
Owners: @diffblue/diffblue-opensource

Fix libstdc++-not-found error
  .github/workflows/pull-request-check-rust-api.yaml
Owners: @diffblue/diffblue-opensource

Use `if constexpr` in `smt_function_application_termt::indices`
  src/solvers/smt2_incremental/ast/smt_terms.h
Owners: @peterschrammel, @thomasspriggs, @NlightNFotis, @TGWDB, @esteffin

Remove `nodiscard.h`
  src/util/nodiscard.h
Owners: @kroening, @tautschnig, @peterschrammel

Replace usages of `NODISCARD` macro with `[[nodiscard]]` attribute
  jbmc/src/java_bytecode/java_utils.cpp
  jbmc/src/java_bytecode/java_utils.h
  src/cprover/bv_pointers_wide.h
  src/goto-programs/link_goto_model.h
  src/goto-symex/field_sensitivity.h
  src/goto-symex/goto_symex.h
  src/goto-symex/goto_symex_state.h
  src/goto-symex/symex_clean_expr.cpp
  src/solvers/flattening/bv_pointers.h
  src/solvers/flattening/bv_utils.h
  src/solvers/smt2_incremental/smt2_incremental_decision_procedure.cpp
  src/solvers/smt2_incremental/smt_response_validation.h
  src/solvers/strings/string_dependencies.h
  src/util/interval_union.h
  src/util/piped_process.cpp
  src/util/piped_process.h
  src/util/rename.h
  src/util/simplify_expr_class.h
Owners: @peterschrammel, @TGWDB, @kroening, @tautschnig, @martin-cs, @thomasspriggs, @NlightNFotis, @esteffin

Use `[[nodiscard]]` attribute for all build systems
  src/util/nodiscard.h
Owners: @kroening, @tautschnig, @peterschrammel

Remove explicit return type of the `ranget::map` function
  src/util/range.h
Owners: @kroening, @tautschnig, @peterschrammel

Replace usage of `std::result_of` with `std::invoke_result`
  src/util/range.h
Owners: @kroening, @tautschnig, @peterschrammel

Compact propositional encoding of OBJECT_SIZE(ptr)
  src/solvers/flattening/bv_pointers.cpp
  src/solvers/flattening/bv_pointers.h
Owners: @martin-cs, @kroening, @tautschnig, @peterschrammel

Introduce nodiscared warning/error
  src/solvers/smt2_incremental/smt2_incremental_decision_procedure.cpp
Owners: @peterschrammel, @thomasspriggs, @NlightNFotis, @TGWDB, @esteffin

Introduce nodiscared warning/error
  src/solvers/smt2_incremental/smt2_incremental_decision_procedure.cpp
Owners: @peterschrammel, @thomasspriggs, @NlightNFotis, @TGWDB, @esteffin

miniBDD test: support lselect
  unit/solvers/bdd/miniBDD/miniBDD.cpp
Owners: none

Add invariant that multiplication uses operands of the same size
  src/solvers/flattening/bv_utils.cpp
Owners: @martin-cs, @kroening, @tautschnig, @peterschrammel

Higher radix multiplier encoding
  src/solvers/flattening/bv_utils.cpp
Owners: @martin-cs, @kroening, @tautschnig, @peterschrammel

Implement Karatsuba's multiplication algorithm
  src/solvers/flattening/bv_utils.cpp
  src/solvers/flattening/bv_utils.h
Owners: @martin-cs, @kroening, @tautschnig, @peterschrammel

Symbolic Toom-Cook multiplication
  src/solvers/flattening/bv_utils.cpp
  src/solvers/flattening/bv_utils.h
Owners: @martin-cs, @kroening, @tautschnig, @peterschrammel

Make componentt::{base,pretty}_name comments
  regression/ansi-c/arch_flags_mcpu_bad/object.intel
  regression/ansi-c/arch_flags_mcpu_good/object.arm
  regression/ansi-c/arch_flags_mthumb_bad/object.intel
  regression/ansi-c/arch_flags_mthumb_good/object.arm
  src/ansi-c/expr2c.cpp
  src/cpp/expr2cpp.cpp
  src/goto-instrument/alignment_checks.cpp
  src/goto-programs/write_goto_binary.h
  src/util/irep_ids.def
  src/util/std_types.h
Owners: @kroening, @tautschnig, @peterschrammel, @remi-delmas-3000, @martin-cs

Fix INVARIANT message for unimplemented count trailing zeros
  src/solvers/smt2_incremental/convert_expr_to_smt.cpp
Owners: @peterschrammel, @thomasspriggs, @NlightNFotis, @TGWDB, @esteffin

Replace file_util.{h,cpp} by std::filesystem
  jbmc/src/java_bytecode/java_class_loader_base.cpp
  jbmc/unit/java-testing-utils/load_java_class.cpp
  src/goto-analyzer/unreachable_instructions.cpp
  src/goto-cc/as_mode.cpp
  src/goto-cc/compile.cpp
  src/goto-cc/gcc_mode.cpp
  src/goto-cc/hybrid_binary.cpp
  src/goto-cc/ld_mode.cpp
  src/goto-cc/ms_cl_mode.cpp
  src/goto-instrument/count_eloc.cpp
  src/util/Makefile
  src/util/file_util.cpp
  src/util/file_util.h
  src/util/parser.h
  src/util/source_location.cpp
  src/util/tempdir.cpp
  src/util/tempfile.cpp
  unit/Makefile
  unit/util/file_util.cpp
Owners: @peterschrammel, @TGWDB, @martin-cs, @kroening, @tautschnig

languaget is not a messaget
  jbmc/src/janalyzer/janalyzer_parse_options.cpp
  jbmc/src/java_bytecode/README.md
  jbmc/src/java_bytecode/ci_lazy_methods.cpp
  jbmc/src/java_bytecode/java_bytecode_language.cpp
  jbmc/src/java_bytecode/java_bytecode_language.h
  jbmc/src/java_bytecode/java_entry_point.cpp
  jbmc/src/java_bytecode/lazy_goto_model.cpp
  jbmc/src/jbmc/jbmc_parse_options.cpp
  jbmc/unit/java-testing-utils/load_java_class.cpp
  jbmc/unit/java_bytecode/java_bytecode_language/language.cpp
  jbmc/unit/java_bytecode/java_bytecode_parser/parse_java_annotations.cpp
  src/ansi-c/ansi_c_language.cpp
  src/ansi-c/ansi_c_language.h
  src/ansi-c/cprover_library.cpp
  src/cbmc/cbmc_parse_options.cpp
  src/cpp/cpp_language.cpp
  src/cpp/cpp_language.h
  src/goto-cc/compile.cpp
  src/goto-instrument/contracts/memory_predicates.cpp
  src/goto-instrument/model_argc_argv.cpp
  src/goto-programs/initialize_goto_model.cpp
  src/goto-programs/rebuild_goto_start_function.cpp
  src/jsil/jsil_language.cpp
  src/jsil/jsil_language.h
  src/json-symtab-language/json_symtab_language.cpp
  src/json-symtab-language/json_symtab_language.h
  src/langapi/language.cpp
  src/langapi/language.h
  src/langapi/language_file.cpp
  src/langapi/language_file.h
  src/langapi/language_util.cpp
  src/statement-list/statement_list_language.cpp
  src/statement-list/statement_list_language.h
  src/symtab2gb/symtab2gb_parse_options.cpp
  unit/analyses/ai/ai_simplify_lhs.cpp
  unit/testing-utils/get_goto_model_from_c.cpp
Owners: @peterschrammel, @TGWDB, @kroening, @tautschnig, @remi-delmas-3000, @NlightNFotis, @thomasspriggs, @feliperodri, @martin-cs

DFCC instrumentation: ensure programs are well-formed
  .github/workflows/pull-request-checks.yaml
  src/goto-instrument/contracts/dynamic-frames/dfcc_wrapper_program.cpp
Owners: @diffblue/diffblue-opensource, @tautschnig, @feliperodri, @remi-delmas-3000

Fix test_struct_union_c regression test
  regression/cbmc/havoc_slice/test_struct_union_c.desc
Owners: none

havoc_object1/test.desc
  regression/cbmc/havoc_object1/test.desc
Owners: none

pointer-overflow3/no-simplify.desc
  regression/cbmc/pointer-overflow3/no-simplify.desc
Owners: none

Function_Pointer2/test.desc
  regression/cbmc/Function_Pointer2/test.desc
Owners: none

works
  regression/cbmc/Float-rounding/compile_time_rounding.desc
Owners: none

havoc_object1/test.desc
  regression/cbmc/havoc_object1/full-slice.desc
Owners: none

Float2/test.desc
  regression/cbmc/Float2/test.desc
Owners: none

typedef-return-type1/test.desc
  regression/cbmc/typedef-return-type1/test.desc
Owners: none

array-cell-sensitivity7/test.desc
  regression/cbmc/array-cell-sensitivity7/test.desc
Owners: none

array-cell-sensitivity6/test.desc
  regression/cbmc/array-cell-sensitivity6/test.desc
Owners: none

graphml_witness1/test.desc
  regression/cbmc/graphml_witness1/test.desc
Owners: none

pointer-to-struct-with-flexible-array-member-as-parameter-to-entry-point/test.desc
  regression/cbmc/pointer-to-struct-with-flexible-array-member-as-parameter-to-entry-point/test.desc
Owners: none

CODEOWNERS:

# Code owners are expected to complete reviews with feedback to the PR author or
# approval within two weeks.
#
# These owners will be the default owners for everything in the repo.
*       @kroening @tautschnig @peterschrammel

# Documentation can be reviewed by people with broad project responsibility

/doc/ @jimgrundy @TGWDB @kroening @tautschnig @peterschrammel @nlightnfotis


# These files should rarely change

/src/big-int/ @kroening
/src/ansi-c/ @kroening @tautschnig @peterschrammel @remi-delmas-3000
/src/assembler/ @kroening @tautschnig
/src/goto-cc/ @kroening @tautschnig
/src/linking/ @kroening @tautschnig
/src/memory-models/ @kroening @tautschnig
/src/goto-checker/ @kroening @tautschnig @peterschrammel
/src/goto-symex/ @kroening @tautschnig @peterschrammel
/src/json/ @kroening @tautschnig @peterschrammel
/src/json-symtab-language/ @martin-cs
/src/langapi/ @kroening @tautschnig @peterschrammel
/src/xmllang/ @kroening @tautschnig @peterschrammel
/src/solvers/flattening @martin-cs @kroening @tautschnig @peterschrammel
/src/solvers/floatbv @martin-cs @kroening
/src/solvers/miniBDD @tautschnig @kroening
/src/solvers/prop @martin-cs @kroening @tautschnig @peterschrammel
/src/solvers/sat @martin-cs @kroening @tautschnig @peterschrammel
/src/symtab2gb/ @martin-cs
/jbmc/src/miniz/ @peterschrammel
/src/crangler/ @kroening @tautschnig @qinheping


# These files change frequently and changes are high-risk

/src/cbmc/ @kroening @tautschnig @peterschrammel @NlightNFotis @thomasspriggs
/src/goto-programs/ @kroening @tautschnig @peterschrammel
/src/util/ @kroening @tautschnig @peterschrammel
/src/solvers/refinement @martin-cs @peterschrammel
/src/solvers/strings @martin-cs @peterschrammel
/jbmc/src/java_bytecode/ @peterschrammel @TGWDB
/src/analyses/ @martin-cs @peterschrammel
/src/pointer-analysis/ @martin-cs @peterschrammel
/src/libcprover-cpp @NlightNFotis @thomasspriggs @esteffin @TGWDB @peterschrammel
/src/libcprover-rust @NlightNFotis @thomasspriggs @TGWDB @peterschrammel @esteffin

# These files change frequently and changes are medium-risk

/src/goto-analyzer/ @martin-cs @peterschrammel
/src/goto-bmc/ @NlightNFotis @thomasspriggs @esteffin @TGWDB @peterschrammel
/src/goto-harness/ @martin-cs @peterschrammel
/src/goto-instrument/ @martin-cs @peterschrammel @tautschnig @kroening
/src/goto-instrument/contracts/ @tautschnig @feliperodri @remi-delmas-3000
/src/goto-inspect/ @diffblue/diffblue-opensource
/src/goto-synthesizer/ @qinheping @tautschnig @feliperodri @remi-delmas-3000
/src/goto-diff/ @tautschnig @peterschrammel
/src/jsil/ @kroening @tautschnig
/src/memory-analyzer/ @tautschnig @kroening
/jbmc/src/jbmc/ @peterschrammel @TGWDB
/jbmc/src/janalyzer/ @peterschrammel @TGWDB
/jbmc/src/jdiff/ @peterschrammel
/src/cpp/ @kroening @tautschnig @peterschrammel
/src/solvers/smt2 @kroening @martin-cs @peterschrammel @thomasspriggs @NlightNFotis @TGWDB
/src/solvers/smt2_incremental @peterschrammel @thomasspriggs @NlightNFotis @TGWDB @esteffin
/src/solvers/Makefile @kroening @tautschnig @peterschrammel @thomasspriggs @NlightNFotis @TGWDB @esteffin
/src/statement-list/ @kroening @tautschnig @peterschrammel

/cmake/        @diffblue/diffblue-opensource
CMakeLists.txt @diffblue/diffblue-opensource
CHANGELOG      @diffblue/diffblue-opensource

# These files change frequently and changes are low-risk

/src/util/irep_ids.def

/unit/
/regression/
/jbmc/unit/
/jbmc/regression/

/scripts/ @diffblue/diffblue-opensource

# CI pipeline is the responsibility of the Open Source maintenance team at Diffblue.
/.github/ @diffblue/diffblue-opensource
src/config.inc @diffblue/diffblue-opensource
