Repository diffblue/cbmc, changes with the owners that CODEOWNERS names for each.
All owners: @kroening, @tautschnig, @peterschrammel, @chris-ryder, @jimgrundy, @TGWDB, @nlightnfotis, @remi-delmas-3000, @romainbrenguier, @martin-cs, @qinheping, @NlightNFotis, @thomasspriggs, @esteffin, @feliperodri, @diffblue/diffblue-opensource

CODEOWNERS:

# Code owners are expected to complete reviews with feedback to the PR author or
# approval within two weeks.
#
# These owners will be the default owners for everything in the repo.
*       @kroening @tautschnig @peterschrammel @chris-ryder

# Documentation can be reviewed by people with broad project responsibility

/doc/ @jimgrundy @TGWDB @kroening @tautschnig @peterschrammel @nlightnfotis


# These files should rarely change

/src/big-int/ @kroening
/src/ansi-c/ @kroening @tautschnig @chris-ryder @peterschrammel @remi-delmas-3000
/src/assembler/ @kroening @tautschnig @chris-ryder
/src/goto-cc/ @kroening @tautschnig @chris-ryder
/src/linking/ @kroening @tautschnig @chris-ryder
/src/memory-models/ @kroening @tautschnig
/src/goto-checker/ @kroening @tautschnig @peterschrammel
/src/goto-symex/ @kroening @tautschnig @peterschrammel @romainbrenguier
/src/json/ @kroening @tautschnig @peterschrammel
/src/json-symtab-language/ @martin-cs
/src/langapi/ @kroening @tautschnig @peterschrammel
/src/xmllang/ @kroening @tautschnig @peterschrammel
/src/nonstd/ @peterschrammel
/src/solvers/flattening @martin-cs @kroening @tautschnig @peterschrammel
/src/solvers/floatbv @martin-cs @kroening
/src/solvers/miniBDD @tautschnig @kroening
/src/solvers/prop @martin-cs @kroening @tautschnig @peterschrammel
/src/solvers/sat @martin-cs @kroening @tautschnig @peterschrammel
/src/symtab2gb/ @martin-cs
/jbmc/src/miniz/ @peterschrammel
/src/crangler/ @kroening @tautschnig @qinheping


# These files change frequently and changes are high-risk

/src/cbmc/ @kroening @tautschnig @peterschrammel @NlightNFotis @thomasspriggs
/src/goto-programs/ @kroening @tautschnig @peterschrammel
/src/util/ @kroening @tautschnig @peterschrammel
/src/solvers/refinement @martin-cs @romainbrenguier @peterschrammel
/src/solvers/strings @martin-cs @romainbrenguier @peterschrammel
/jbmc/src/java_bytecode/ @romainbrenguier @peterschrammel
/src/analyses/ @martin-cs @peterschrammel @chris-ryder
/src/pointer-analysis/ @martin-cs @peterschrammel @chris-ryder
/src/libcprover-cpp @NlightNFotis @thomasspriggs @esteffin @TGWDB @peterschrammel
/src/libcprover-rust @NlightNFotis @thomasspriggs @TGWDB @peterschrammel

# These files change frequently and changes are medium-risk

/src/goto-analyzer/ @martin-cs @chris-ryder @peterschrammel
/src/goto-harness/ @martin-cs @chris-ryder @peterschrammel
/src/goto-instrument/ @martin-cs @chris-ryder @peterschrammel @tautschnig @kroening
/src/goto-instrument/contracts/ @tautschnig @feliperodri @remi-delmas-3000
/src/goto-synthesizer/ @qinheping @tautschnig @feliperodri @remi-delmas-3000
/src/goto-diff/ @tautschnig @peterschrammel
/src/jsil/ @kroening @tautschnig
/src/memory-analyzer/ @tautschnig @chris-ryder @kroening
/jbmc/src/jbmc/ @peterschrammel @romainbrenguier
/jbmc/src/janalyzer/ @peterschrammel @romainbrenguier
/jbmc/src/jdiff/ @peterschrammel
/src/cpp/ @kroening @tautschnig @peterschrammel
/src/solvers/smt2 @kroening @martin-cs @peterschrammel @thomasspriggs @NlightNFotis @TGWDB
/src/solvers/smt2_incremental @peterschrammel @thomasspriggs @NlightNFotis @TGWDB @chris-ryder
/src/solvers/Makefile @kroening @tautschnig @peterschrammel @chris-ryder @thomasspriggs @NlightNFotis @TGWDB
/src/statement-list/ @kroening @tautschnig @peterschrammel

/cmake/        @diffblue/diffblue-opensource
CMakeLists.txt @diffblue/diffblue-opensource

# These files change frequently and changes are low-risk

/src/util/irep_ids.def

/unit/
/regression/
/jbmc/unit/
/jbmc/regression/

/scripts/ @diffblue/diffblue-opensource

# CI pipeline is the responsibility of the Open Source maintenance team at Diffblue.
/.github/ @diffblue/diffblue-opensource
src/config.inc @diffblue/diffblue-opensource

[DOCS] Enhance documentation for `ffi_util` module.
  src/libcprover-rust/src/lib.rs
Owners: @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel

Update comments for building the project correctly.
  src/libcprover-rust/build.rs
  src/libcprover-rust/src/lib.rs
Owners: @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel

[DOCS] Add a tutorial file and inline it into the documentation
  src/libcprover-rust/src/lib.rs
  src/libcprover-rust/tutorial.md
Owners: @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel

Deactivate `doctest`.
  src/libcprover-rust/Cargo.toml
Owners: @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel

[DOCS] Document the `cprover_api` module.
  src/libcprover-rust/src/lib.rs
Owners: @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel

Ignore empty loops during loop-contracts synthesis
  regression/goto-synthesizer/empty_loop/main.c
  regression/goto-synthesizer/empty_loop/test.desc
  src/goto-instrument/contracts/contracts.cpp
  src/goto-synthesizer/enumerative_loop_contracts_synthesizer.cpp
Owners: @tautschnig, @feliperodri, @remi-delmas-3000, @qinheping

Don't error out when alias analysis fails during loop assigns inference
  regression/contracts/loop_assigns-fail/test.desc
  src/goto-instrument/loop_utils.cpp
Owners: @martin-cs, @chris-ryder, @peterschrammel, @tautschnig, @kroening

Use local alias analysis in loop assigns synthesis
  src/goto-synthesizer/enumerative_loop_contracts_synthesizer.cpp
  src/goto-synthesizer/enumerative_loop_contracts_synthesizer.h
Owners: @qinheping, @tautschnig, @feliperodri, @remi-delmas-3000

Add an option to specify object bits in synthesizer
  doc/man/goto-synthesizer.1
  regression/goto-synthesizer/address_space_size_limit/main.c
  regression/goto-synthesizer/address_space_size_limit/test.desc
  regression/goto-synthesizer/chain.sh
  src/goto-synthesizer/goto_synthesizer_parse_options.cpp
  src/goto-synthesizer/goto_synthesizer_parse_options.h
Owners: @jimgrundy, @TGWDB, @kroening, @tautschnig, @peterschrammel, @nlightnfotis, @qinheping, @feliperodri, @remi-delmas-3000

Add extract_field_name in new shadow_memory_util.h/.cpp
  src/goto-symex/Makefile
  src/goto-symex/shadow_memory_util.cpp
  src/goto-symex/shadow_memory_util.h
Owners: @kroening, @tautschnig, @peterschrammel, @romainbrenguier

Fixed removed and deprecated call
  src/goto-symex/shadow_memory.cpp
Owners: @kroening, @tautschnig, @peterschrammel, @romainbrenguier

Implement shadow_memoryt::gather_field_declarations
  src/goto-symex/shadow_memory.cpp
  src/goto-symex/shadow_memory.h
Owners: @kroening, @tautschnig, @peterschrammel, @romainbrenguier

Add tests for gathering shadow memory declarations
  regression/cbmc-shadow-memory/declarations1/bad1.c
  regression/cbmc-shadow-memory/declarations1/bad2.c
  regression/cbmc-shadow-memory/declarations1/good.c
  regression/cbmc-shadow-memory/declarations1/test_bad1.desc
  regression/cbmc-shadow-memory/declarations1/test_bad2.desc
  regression/cbmc-shadow-memory/declarations1/test_good.desc
Owners: none

Enable solver options in goto-synthesizer
  doc/man/goto-synthesizer.1
  regression/goto-synthesizer/loop_contracts_synthesis_03/test_cadical.desc
  src/goto-synthesizer/cegis_verifier.cpp
  src/goto-synthesizer/cegis_verifier.h
  src/goto-synthesizer/enumerative_loop_contracts_synthesizer.cpp
  src/goto-synthesizer/enumerative_loop_contracts_synthesizer.h
  src/goto-synthesizer/goto_synthesizer_parse_options.cpp
  src/goto-synthesizer/goto_synthesizer_parse_options.h
Owners: @jimgrundy, @TGWDB, @kroening, @tautschnig, @peterschrammel, @nlightnfotis, @qinheping, @feliperodri, @remi-delmas-3000

Document remove_unused_functions dependency on remove_function_pointers
  doc/architectural/goto-program-transformations.md
Owners: @jimgrundy, @TGWDB, @kroening, @tautschnig, @peterschrammel, @nlightnfotis

Remove link to device-behaviour documentation
  doc/architectural/goto-program-transformations.md
Owners: @jimgrundy, @TGWDB, @kroening, @tautschnig, @peterschrammel, @nlightnfotis

Add initial version of goto transforms documentation
  doc/architectural/cbmc-architecture.md
  doc/architectural/goto-program-transformations.md
Owners: @jimgrundy, @TGWDB, @kroening, @tautschnig, @peterschrammel, @nlightnfotis

Remove references to the label properties pass adding locations
  doc/architectural/goto-program-transformations.md
Owners: @jimgrundy, @TGWDB, @kroening, @tautschnig, @peterschrammel, @nlightnfotis

Fix race in regression tests
  regression/contracts-dfcc/chain.sh
Owners: none

C front-end: ensure array type updates are consistent
  regression/cbmc/extern6/main.c
  regression/cbmc/extern6/test.desc
  src/ansi-c/ansi_c_language.cpp
  src/linking/static_lifetime_init.cpp
  src/util/lower_byte_operators.cpp
Owners: @kroening, @tautschnig, @chris-ryder, @peterschrammel, @remi-delmas-3000

Use get_writeable_symbol() to avoid redundant search
  jbmc/src/java_bytecode/java_bytecode_concurrency_instrumentation.cpp
  src/ansi-c/c_typecheck_type.cpp
  src/cpp/cpp_typecheck.cpp
  src/cpp/cpp_typecheck_declaration.cpp
  src/cpp/cpp_typecheck_expr.cpp
  src/cpp/cpp_typecheck_template.cpp
  src/goto-cc/linker_script_merge.cpp
  src/goto-instrument/dump_c.cpp
  src/goto-programs/name_mangler.h
  src/goto-programs/remove_complex.cpp
  src/goto-programs/remove_complex.h
  src/goto-programs/remove_vector.cpp
  src/goto-programs/remove_vector.h
  src/goto-programs/slice_global_inits.cpp
  src/goto-programs/string_abstraction.cpp
  src/linking/linking.cpp
  src/util/symbol_table_base.h
Owners: @romainbrenguier, @peterschrammel, @kroening, @tautschnig, @chris-ryder, @remi-delmas-3000, @martin-cs

Function-pointer removal: fix interaction with slice-global-inits
  regression/goto-instrument/slice-global-inits5/main.c
  regression/goto-instrument/slice-global-inits5/test.desc
  src/goto-programs/remove_const_function_pointers.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Slice-global-inits requires function-pointer removal
  regression/goto-instrument/slice-global-inits6/main.c
  regression/goto-instrument/slice-global-inits6/test.desc
  src/goto-instrument/goto_instrument_parse_options.cpp
Owners: @martin-cs, @chris-ryder, @peterschrammel, @tautschnig, @kroening

Add bvt output helper
  src/solvers/prop/literal.cpp
  src/solvers/prop/literal.h
Owners: @martin-cs, @kroening, @tautschnig, @peterschrammel

Support all `objdump --syms` formats in `ls_parse.py`
  scripts/ls_parse.py
Owners: @diffblue/diffblue-opensource

Simplify array size expressions
  src/util/simplify_expr.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Do not error on undef extern linker symbols
  src/goto-cc/linker_script_merge.cpp
  src/goto-cc/linker_script_merge.h
Owners: @kroening, @tautschnig, @chris-ryder

Fix whitespace
  src/goto-cc/linker_script_merge.cpp
  src/goto-cc/linker_script_merge.h
Owners: @kroening, @tautschnig, @chris-ryder

(gcc 13) include cstdint for *int*_t
  src/goto-programs/name_mangler.cpp
  src/goto-programs/osx_fat_reader.h
  src/solvers/prop/prop.h
  src/solvers/smt2/smt2_conv.cpp
  src/util/ieee_float.cpp
  src/util/unicode.cpp
Owners: @kroening, @tautschnig, @peterschrammel, @martin-cs, @thomasspriggs, @NlightNFotis, @TGWDB

Add a unit test for catching exceptions from C++ and returning Rust Result types.
  src/libcprover-rust/src/lib.rs
Owners: @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel

Remove `other/` from exclusion list for package code.
  src/libcprover-rust/Cargo.toml
Owners: @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel

Include exception base classes in separate file to avoid depending on internal headers
  src/libcprover-rust/include/c_api.h
  src/libcprover-rust/include/c_errors.h
  src/libcprover-rust/src/c_api.cc
Owners: @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel

Add environment variable for include folder in build and update build docs
  src/libcprover-rust/build.rs
  src/libcprover-rust/readme.md
Owners: @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel

Fold tutorial into readme.md and move readme into top-level docs
  src/libcprover-rust/readme.md
  src/libcprover-rust/src/lib.rs
  src/libcprover-rust/tutorial.md
Owners: @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel

Add an environment variable for the include folder in the CBMC directory.
  .github/workflows/pull-request-check-rust-api.yaml
Owners: @diffblue/diffblue-opensource

Fix linting issues
  src/libcprover-rust/include/c_errors.h
  src/libcprover-rust/src/c_api.cc
  src/libcprover-rust/src/lib.rs
Owners: @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel

SMT back-end: report too-many-addressed-objects
  regression/cbmc/address_space_size_limit1/test.desc
  src/solvers/smt2/smt2_conv.cpp
  src/solvers/smt2_incremental/convert_expr_to_smt.cpp
  unit/solvers/smt2_incremental/convert_expr_to_smt.cpp
Owners: @kroening, @martin-cs, @peterschrammel, @thomasspriggs, @NlightNFotis, @TGWDB, @chris-ryder

CONTRACTS: compute base identifiers of an expression
  src/goto-instrument/Makefile
  src/goto-instrument/contracts/dynamic-frames/dfcc_base_idents.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_base_idents.h
Owners: @martin-cs, @chris-ryder, @peterschrammel, @tautschnig, @kroening, @feliperodri, @remi-delmas-3000

CONTRACTS: is_cprover_symbol utility function
  src/goto-instrument/Makefile
  src/goto-instrument/contracts/dynamic-frames/dfcc_is_cprover_symbol.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_is_cprover_symbol.h
Owners: @martin-cs, @chris-ryder, @peterschrammel, @tautschnig, @kroening, @feliperodri, @remi-delmas-3000

Remove commented out calls to non-existant outputs
  src/goto-programs/write_goto_binary.cpp
Owners: @kroening, @tautschnig, @peterschrammel
