Repository diffblue/cbmc, changes with the owners that CODEOWNERS names for each.
All owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue, @martin-cs, @mgudemann, @pkesseli, @romainbrenguier, @thk123, @cristina-david, @cesaro, @NathanJPhillips, @diffblue/cbmc-developers, @reuk, @diffblue/devops, @forejtv

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*       @kroening @tautschnig @peterschrammel @smowton @chrisr-diffblue

# These files should rarely change

src/big-int/ @kroening
src/ansi-c/ @kroening @tautschnig
src/assembler/ @kroening @tautschnig
src/goto-cc/ @kroening @tautschnig
src/linking/ @kroening @tautschnig
src/memory-models/ @kroening @tautschnig
src/goto-symex/ @kroening @tautschnig @peterschrammel
src/json/ @kroening @tautschnig @peterschrammel
src/langapi/ @kroening @tautschnig @peterschrammel
src/xmllang/ @kroening @tautschnig @peterschrammel
src/nonstd/ @smowton @peterschrammel
src/solvers/cvc @martin-cs @kroening
src/solvers/flattening @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/floatbv @martin-cs @kroening
src/solvers/miniBDD @tautschnig @kroening
src/solvers/prop @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/sat @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/smt2 @martin-cs @tautschnig @peterschrammel
src/miniz/ @smowton @mgudemann @peterschrammel


# These files change frequently and changes are high-risk

src/cbmc/ @smowton @kroening @tautschnig @peterschrammel
src/goto-programs/ @smowton @kroening @tautschnig @peterschrammel @pkesseli
src/util/ @smowton @kroening @tautschnig @peterschrammel @pkesseli
src/solvers/refinement @martin-cs @romainbrenguier @peterschrammel
src/java_bytecode/ @smowton @mgudemann @thk123 @cristina-david @cesaro @pkesseli @NathanJPhillips @peterschrammel
src/analyses/ @martin-cs @peterschrammel @chrisr-diffblue @thk123 @smowton
src/pointer-analysis/ @martin-cs @peterschrammel @chrisr-diffblue @smowton


# These files change frequently and changes are medium-risk

src/goto-analyzer/ @martin-cs @chrisr-diffblue @peterschrammel
src/goto-instrument/ @martin-cs @chrisr-diffblue @peterschrammel
src/goto-diff/ @tautschnig @peterschrammel
src/jbmc/ @smowton @mgudemann @cristina-david @cesaro @pkesseli @peterschrammel
src/cpp/ @kroening @tautschnig @peterschrammel


# These files change frequently and changes are low-risk

unit/ @diffblue/cbmc-developers
regression/ @diffblue/cbmc-developers

CMakeLists.txt @reuk @chrisr-diffblue
cmake/ @reuk @chrisr-diffblue

scripts/ @diffblue/devops @thk123 @forejtv @peterschrammel
.travis.yml @diffblue/devops @thk123 @forejtv @peterschrammel
appveyor.yml @diffblue/devops @thk123 @forejtv @peterschrammel

Fix iterator comparison bug in expr_iterator
  src/util/expr_iterator.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Fix expr iterator mutation bug
  src/util/expr_iterator.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Fix iterator equality check bug in ai.h
  src/analyses/ai.h
  src/goto-programs/goto_program_template.h
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @thk123, @smowton, @kroening, @tautschnig, @pkesseli

Fix iterator equality check bug in custom_bitvector_analysis.cpp
  src/analyses/custom_bitvector_analysis.cpp
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @thk123, @smowton

Avoid dereferencing past-the-end iterator in cover.cpp
  src/goto-instrument/cover.cpp
Owners: @martin-cs, @chrisr-diffblue, @peterschrammel

Fix iterator equality check bug in dependence_graph.cpp
  src/analyses/dependence_graph.cpp
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @thk123, @smowton

Fix null dereference bug in cpp_typecheck_compound_type.cpp
  src/cpp/cpp_typecheck_compound_type.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Fix heap use-after-free in string_refinement.cpp
  src/solvers/refinement/string_refinement.cpp
Owners: @martin-cs, @romainbrenguier, @peterschrammel

Fix goto program hash function
  src/goto-programs/goto_program_template.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Fix iterator equality check bug in constant_propagator.cpp
  src/analyses/constant_propagator.cpp
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @thk123, @smowton

Enable value-set to handle DEAD statements
  src/pointer-analysis/value_set.cpp
  src/pointer-analysis/value_set_domain_transform.inc
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @smowton

Add unit tests for value-set-analysis customisation
  unit/Makefile
  unit/pointer-analysis/CustomVSATest.jar
  unit/pointer-analysis/CustomVSATest.java
  unit/pointer-analysis/custom_value_set_analysis.cpp
Owners: @diffblue/cbmc-developers

Templatize and virtualize value-set analysis
  src/pointer-analysis/Makefile
  src/pointer-analysis/show_value_sets.h
  src/pointer-analysis/value_set.cpp
  src/pointer-analysis/value_set.h
  src/pointer-analysis/value_set_analysis.cpp
  src/pointer-analysis/value_set_analysis.h
  src/pointer-analysis/value_set_domain.h
  src/pointer-analysis/value_set_domain_transform.inc
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @smowton

Document value_sett
  src/pointer-analysis/value_set.cpp
  src/pointer-analysis/value_set.h
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @smowton

Fix String.equals to check for class identifier
  src/java_bytecode/java_string_library_preprocess.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Test for String.equals with class identifier check
  regression/jbmc-strings/StringEquals/Test.class
  regression/jbmc-strings/StringEquals/Test.java
  regression/jbmc-strings/StringEquals/test.desc
Owners: @diffblue/cbmc-developers

Prevent use of CharSequence as a class_identifier
  src/java_bytecode/java_object_factory.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Move the pretty printing function from generate_java_generic_type to java_utils.
  src/java_bytecode/generate_java_generic_type.cpp
  src/java_bytecode/generate_java_generic_type.h
  src/java_bytecode/java_utils.cpp
  src/java_bytecode/java_utils.h
  unit/java_bytecode/generate_concrete_generic_type/generate_java_generic_type.cpp
  unit/java_bytecode/java_utils_test.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel, @diffblue/cbmc-developers

Run regression test directories in parallel during CI
  .travis.yml
Owners: @diffblue/devops, @thk123, @forejtv, @peterschrammel

Mark tests which fail due to invariant violations
  regression/cbmc-cover/built-ins7/test.desc
  regression/cbmc-cover/mcdc1/test.desc
  regression/cbmc-cover/mcdc10/test.desc
  regression/cbmc-cover/mcdc11/test.desc
  regression/cbmc-cover/mcdc12/test.desc
  regression/cbmc-cover/mcdc13/test.desc
  regression/cbmc-cover/mcdc14/test.desc
  regression/cbmc-cover/mcdc2/test.desc
  regression/cbmc-cover/mcdc3/test.desc
  regression/cbmc-cover/mcdc4/test.desc
  regression/cbmc-cover/mcdc5/test.desc
  regression/cbmc-cover/mcdc6/test.desc
  regression/cbmc-cover/mcdc7/test.desc
  regression/cbmc-cover/mcdc8/test.desc
  regression/cbmc-cover/mcdc9/test.desc
  src/goto-instrument/cover.cpp
Owners: @diffblue/cbmc-developers, @martin-cs, @chrisr-diffblue, @peterschrammel

Fix a few typos in function comments
  src/pointer-analysis/value_set.h
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @smowton

Adding a unit test for implicitly generic classes
  unit/java_bytecode/java_bytecode_parse_generics/GenericClassWithInnerClasses$GenericInner$GenericInnerInner.class
  unit/java_bytecode/java_bytecode_parse_generics/GenericClassWithInnerClasses$GenericInner.class
  unit/java_bytecode/java_bytecode_parse_generics/GenericClassWithInnerClasses$Inner$InnerInner.class
  unit/java_bytecode/java_bytecode_parse_generics/GenericClassWithInnerClasses$Inner.class
  unit/java_bytecode/java_bytecode_parse_generics/GenericClassWithInnerClasses$StaticInner.class
  unit/java_bytecode/java_bytecode_parse_generics/GenericClassWithInnerClasses.class
  unit/java_bytecode/java_bytecode_parse_generics/GenericClassWithInnerClasses.java
  unit/java_bytecode/java_bytecode_parse_generics/parse_generic_class_with_inner_classes.cpp
  unit/java_bytecode/java_bytecode_parse_generics/parse_signature_descriptor_mismatch.cpp
  unit/testing-utils/require_type.cpp
  unit/testing-utils/require_type.h
Owners: @diffblue/cbmc-developers

Introducing a new type for implicitly generic classes
  src/java_bytecode/java_bytecode_convert_class.cpp
  src/java_bytecode/java_bytecode_convert_class.h
  src/java_bytecode/java_bytecode_language.cpp
  src/java_bytecode/java_types.h
  src/util/irep_ids.def
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel, @kroening, @tautschnig

Fix escape analysis
  regression/goto-instrument/show-escape-analysis1/main.c
  regression/goto-instrument/show-escape-analysis1/test.desc
  src/analyses/escape_analysis.cpp
Owners: @diffblue/cbmc-developers, @martin-cs, @peterschrammel, @chrisr-diffblue, @thk123, @smowton

Fix copy&paste error in same_set
  regression/goto-instrument/show-escape-analysis1/test.desc
  src/util/union_find.h
Owners: @diffblue/cbmc-developers, @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Prevent empty arrays from being passed to the solver
  src/solvers/refinement/string_refinement.cpp
Owners: @martin-cs, @romainbrenguier, @peterschrammel

Update Windows dependencies in Compiling.md
  COMPILING.md
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue

Replace unsigned with more precise type
  src/pointer-analysis/value_set_fi.h
  src/pointer-analysis/value_set_fivr.cpp
  src/pointer-analysis/value_set_fivr.h
  src/pointer-analysis/value_set_fivrns.cpp
  src/pointer-analysis/value_set_fivrns.h
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @smowton

Replace objectt with optional<mp_integer>
  src/pointer-analysis/value_set.cpp
  src/pointer-analysis/value_set.h
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @smowton

Replace objectt in value_set_fi.*
  src/pointer-analysis/value_set_fi.cpp
  src/pointer-analysis/value_set_fi.h
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @smowton

Replace objectt in value_set_fivr.*
  src/pointer-analysis/value_set_fivr.cpp
  src/pointer-analysis/value_set_fivr.h
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @smowton

Replace objectt in value_set_fivrns.*
  src/pointer-analysis/value_set_fivrns.cpp
  src/pointer-analysis/value_set_fivrns.h
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @smowton

Add force loading parameter `--java-load-class`
  src/java_bytecode/ci_lazy_methods.cpp
  src/java_bytecode/ci_lazy_methods.h
  src/java_bytecode/java_bytecode_language.cpp
  src/java_bytecode/java_bytecode_language.h
  src/java_bytecode/java_class_loader.cpp
  src/java_bytecode/java_class_loader.h
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Remove quotes inside preprocessor defines to avoid problems with shell quote.
  src/util/config.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Make goto_symext a subtype of messaget
  src/cbmc/bmc.cpp
  src/cbmc/bmc.h
  src/cbmc/symex_bmc.cpp
  src/cbmc/symex_bmc.h
  src/goto-instrument/accelerate/accelerate.cpp
  src/goto-instrument/accelerate/accelerate.h
  src/goto-instrument/accelerate/acceleration_utils.cpp
  src/goto-instrument/accelerate/acceleration_utils.h
  src/goto-instrument/accelerate/disjunctive_polynomial_acceleration.cpp
  src/goto-instrument/accelerate/disjunctive_polynomial_acceleration.h
  src/goto-instrument/accelerate/enumerating_loop_acceleration.h
  src/goto-instrument/accelerate/polynomial_accelerator.cpp
  src/goto-instrument/accelerate/polynomial_accelerator.h
  src/goto-instrument/accelerate/sat_path_enumerator.cpp
  src/goto-instrument/accelerate/sat_path_enumerator.h
  src/goto-instrument/accelerate/scratch_program.h
  src/goto-instrument/goto_instrument_parse_options.cpp
  src/goto-symex/goto_symex.h
  src/goto-symex/symex_function_call.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @martin-cs, @chrisr-diffblue

Refactoring in axioms for lastIndexOf(char)
  src/solvers/refinement/string_constraint_generator_indexof.cpp
Owners: @martin-cs, @romainbrenguier, @peterschrammel

Fix special case of empty string in (last)IndexOf
  src/solvers/refinement/string_constraint_generator_indexof.cpp
Owners: @martin-cs, @romainbrenguier, @peterschrammel

Test for String.lastIndexOf with empty argument
  regression/jbmc-strings/StringLastIndexOf/Test.class
  regression/jbmc-strings/StringLastIndexOf/Test.java
  regression/jbmc-strings/StringLastIndexOf/test.desc
Owners: @diffblue/cbmc-developers

Fix bounds in axioms for lastIndexOf(char)
  src/solvers/refinement/string_constraint_generator_indexof.cpp
Owners: @martin-cs, @romainbrenguier, @peterschrammel

Make string_container static init more resilient
  src/util/dstring.h
  src/util/irep_ids.cpp
  src/util/string_container.cpp
  src/util/string_container.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli
