Repository diffblue/cbmc, changes with the owners that CODEOWNERS names for each.
All owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue, @martin-cs, @mgudemann, @pkesseli, @romainbrenguier, @thk123, @cristina-david, @cesaro, @NathanJPhillips, @diffblue/cbmc-developers, @reuk, @diffblue/devops, @forejtv

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*       @kroening @tautschnig @peterschrammel @smowton @chrisr-diffblue

# These files should rarely change

src/big-int/ @kroening
src/ansi-c/ @kroening @tautschnig
src/assembler/ @kroening @tautschnig
src/goto-cc/ @kroening @tautschnig
src/linking/ @kroening @tautschnig
src/memory-models/ @kroening @tautschnig
src/goto-symex/ @kroening @tautschnig @peterschrammel
src/json/ @kroening @tautschnig @peterschrammel
src/langapi/ @kroening @tautschnig @peterschrammel
src/xmllang/ @kroening @tautschnig @peterschrammel
src/nonstd/ @smowton @peterschrammel
src/solvers/cvc @martin-cs @kroening
src/solvers/flattening @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/floatbv @martin-cs @kroening
src/solvers/miniBDD @tautschnig @kroening
src/solvers/prop @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/sat @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/smt2 @martin-cs @tautschnig @peterschrammel
src/miniz/ @smowton @mgudemann @peterschrammel


# These files change frequently and changes are high-risk

src/cbmc/ @smowton @kroening @tautschnig @peterschrammel
src/goto-programs/ @smowton @kroening @tautschnig @peterschrammel @pkesseli
src/util/ @smowton @kroening @tautschnig @peterschrammel @pkesseli
src/solvers/refinement @martin-cs @romainbrenguier @peterschrammel
src/java_bytecode/ @smowton @mgudemann @thk123 @cristina-david @cesaro @pkesseli @NathanJPhillips @peterschrammel
src/analyses/ @martin-cs @peterschrammel @chrisr-diffblue @thk123 @smowton
src/pointer-analysis/ @martin-cs @peterschrammel @chrisr-diffblue @smowton


# These files change frequently and changes are medium-risk

src/goto-analyzer/ @martin-cs @chrisr-diffblue @peterschrammel
src/goto-instrument/ @martin-cs @chrisr-diffblue @peterschrammel
src/goto-diff/ @tautschnig @peterschrammel
src/jbmc/ @smowton @mgudemann @cristina-david @cesaro @pkesseli @peterschrammel
src/cpp/ @kroening @tautschnig @peterschrammel


# These files change frequently and changes are low-risk

unit/ @diffblue/cbmc-developers
regression/ @diffblue/cbmc-developers

CMakeLists.txt @reuk @chrisr-diffblue
cmake/ @reuk @chrisr-diffblue

scripts/ @diffblue/devops @thk123 @forejtv @peterschrammel
.travis.yml @diffblue/devops @thk123 @forejtv @peterschrammel
appveyor.yml @diffblue/devops @thk123 @forejtv @peterschrammel

Always allow the main function not to have a body
  src/java_bytecode/ci_lazy_methods.cpp
  src/java_bytecode/java_entry_point.cpp
  src/java_bytecode/java_entry_point.h
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Reset counter used by get_fresh_aux_symbol in unit tests
  unit/java_bytecode/java_string_library_preprocess/convert_exprt_to_string_exprt.cpp
Owners: @diffblue/cbmc-developers

Don't erase symbol in java_bytecode_convert_methodt::convert
  src/java_bytecode/java_bytecode_convert_method.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Allow front-end to lazily implement functions not pre-registered
  src/java_bytecode/java_bytecode_language.cpp
  src/java_bytecode/java_bytecode_language.h
  src/util/language.h
  src/util/language_file.cpp
  src/util/language_file.h
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel, @kroening, @tautschnig

Do lowering of java_new as a functions-level pass
  src/clobber/clobber_parse_options.cpp
  src/goto-analyzer/goto_analyzer_parse_options.cpp
  src/goto-diff/goto_diff_parse_options.cpp
  src/goto-programs/Makefile
  src/goto-programs/builtin_functions.cpp
  src/goto-programs/class_identifier.cpp
  src/goto-programs/class_identifier.h
  src/goto-programs/goto_convert.cpp
  src/goto-programs/goto_convert_class.h
  src/goto-programs/remove_java_new.cpp
  src/goto-programs/remove_java_new.h
  src/jbmc/jbmc_parse_options.cpp
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue, @martin-cs, @pkesseli, @mgudemann, @cristina-david, @cesaro

Fix new tests to use lazy loading
  unit/testing-utils/load_java_class.cpp
  unit/testing-utils/load_java_class.h
Owners: @diffblue/cbmc-developers

Correct class_id of nondet strings
  src/java_bytecode/java_object_factory.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Document class_identifier argument of root class
  src/java_bytecode/java_root_class.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Add test for instanceof String
  regression/jbmc-strings/instanceof/Test.class
  regression/jbmc-strings/instanceof/Test.java
  regression/jbmc-strings/instanceof/test.desc
Owners: @diffblue/cbmc-developers

Correct unit test for gen_nondet_string
  unit/java_bytecode/java_object_factory/gen_nondet_string_init.cpp
Owners: @diffblue/cbmc-developers

linter fix: line length
  src/analyses/call_graph.h
  src/goto-instrument/remove_function.h
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @thk123, @smowton

Aggressive slicer regression tests
  regression/goto-instrument/aggressive_slicer1/main.c
  regression/goto-instrument/aggressive_slicer1/test.desc
  regression/goto-instrument/aggressive_slicer2/main.c
  regression/goto-instrument/aggressive_slicer2/test.desc
  regression/goto-instrument/aggressive_slicer3/main.c
  regression/goto-instrument/aggressive_slicer3/test.desc
  regression/goto-instrument/aggressive_slicer4/main.c
  regression/goto-instrument/aggressive_slicer4/test.desc
  regression/goto-instrument/aggressive_slicer5/main.c
  regression/goto-instrument/aggressive_slicer5/test.desc
  regression/goto-instrument/aggressive_slicer6/main.c
  regression/goto-instrument/aggressive_slicer6/test.desc
Owners: @diffblue/cbmc-developers

re-introduce constructor
  src/analyses/call_graph.cpp
  src/analyses/call_graph.h
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @thk123, @smowton

Add AWrapper.class which was missing from regression test
  regression/cbmc-java/generics_type_param/AWrapper.class
  regression/cbmc-java/generics_type_param/test.desc
Owners: @diffblue/cbmc-developers

Add headers needed to build under MSVC14 / Visual Studio 2015
  src/java_bytecode/generate_java_generic_type.cpp
  src/java_bytecode/java_types.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Fix iterator comparison bug in expr_iterator
  src/util/expr_iterator.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Add a class to represent specialised generic classes, and change concretisation functions to use that.
  src/java_bytecode/generate_java_generic_type.cpp
  src/java_bytecode/generate_java_generic_type.h
  src/java_bytecode/java_types.h
  src/util/irep_ids.def
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel, @kroening, @tautschnig

Fix lazy goto model movin
  src/goto-programs/lazy_goto_model.cpp
  src/goto-programs/lazy_goto_model.h
  src/jbmc/jbmc_parse_options.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli, @mgudemann, @cristina-david, @cesaro

Use stdlib debug mode in Travis
  .travis.yml
Owners: @diffblue/devops, @thk123, @forejtv, @peterschrammel

Changes in the generics concretisation tests to correspond to the new class signatures.
  unit/java_bytecode/generate_concrete_generic_type/generate_java_generic_type.cpp
Owners: @diffblue/cbmc-developers

Use stdlib debug mode in Travis
  .travis.yml
Owners: @diffblue/devops, @thk123, @forejtv, @peterschrammel

Add edge type parameter to ai transform method
  src/analyses/ai.cpp
  src/analyses/ai.h
  src/analyses/constant_propagator.cpp
  src/analyses/constant_propagator.h
  src/analyses/custom_bitvector_analysis.cpp
  src/analyses/custom_bitvector_analysis.h
  src/analyses/dependence_graph.cpp
  src/analyses/dependence_graph.h
  src/analyses/escape_analysis.cpp
  src/analyses/escape_analysis.h
  src/analyses/global_may_alias.cpp
  src/analyses/global_may_alias.h
  src/analyses/interval_domain.cpp
  src/analyses/interval_domain.h
  src/analyses/invariant_set_domain.cpp
  src/analyses/invariant_set_domain.h
  src/analyses/is_threaded.cpp
  src/analyses/reaching_definitions.cpp
  src/analyses/reaching_definitions.h
  src/analyses/uninitialized_domain.cpp
  src/analyses/uninitialized_domain.h
  unit/analyses/ai/ai_simplify_lhs.cpp
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @thk123, @smowton, @diffblue/cbmc-developers

Fix allocation of infinite char arrays
  src/java_bytecode/java_object_factory.cpp
  src/java_bytecode/java_string_library_preprocess.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Add invariant on array to pointer association
  src/solvers/refinement/string_constraint_generator_main.cpp
Owners: @martin-cs, @romainbrenguier, @peterschrammel

Adapt unit test for allocation of string data
  unit/java_bytecode/java_object_factory/gen_nondet_string_init.cpp
Owners: @diffblue/cbmc-developers

Remove redundant pointer to array association
  src/java_bytecode/java_string_library_preprocess.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Fix the pretty printing routine to pp types that have java:: as their prefix only
  src/java_bytecode/generate_java_generic_type.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

change #if0 to #ifdef DEBUG
  src/pointer-analysis/value_set.cpp
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @smowton

Make two helper functions available
  src/java_bytecode/java_types.cpp
  src/java_bytecode/java_types.h
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Use -p option of test.pl instead of printer script
  regression/jbmc-strings/Makefile
Owners: @diffblue/cbmc-developers

refactoring bmc.cpp
  src/cbmc/bmc.cpp
  src/cbmc/bmc.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel

Hook for cegis to freeze program variables
  src/cbmc/bmc.cpp
  src/cbmc/bmc.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel

Added range-based symex operations
  src/goto-symex/goto_symex.h
  src/goto-symex/symex_main.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Find source location from a property irep_idt
  src/goto-programs/show_properties.cpp
  src/goto-programs/show_properties.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

introduces --havoc-undefined-function
  regression/cbmc/havoc_undefined_functions/main.c
  regression/cbmc/havoc_undefined_functions/test.desc
  src/cbmc/cbmc_parse_options.cpp
  src/cbmc/cbmc_parse_options.h
  src/cbmc/symex_bmc.cpp
  src/goto-symex/symex_function_call.cpp
Owners: @diffblue/cbmc-developers, @smowton, @kroening, @tautschnig, @peterschrammel

Fixed the pretty printing type function and fix the tests failing, and introduce test for the pretty printing function.
  src/java_bytecode/generate_java_generic_type.cpp
  src/java_bytecode/generate_java_generic_type.h
  unit/java_bytecode/generate_concrete_generic_type/generate_java_generic_type.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel, @diffblue/cbmc-developers

Use stable data structure for BV refinement approximations
  regression/cbmc/Float-div1-refine/main.c
  regression/cbmc/Float-div1-refine/test.desc
  src/solvers/refinement/bv_refinement.h
  src/solvers/refinement/refine_arithmetic.cpp
Owners: @diffblue/cbmc-developers, @martin-cs, @romainbrenguier, @peterschrammel

Fix iterator equality check bug in graphml_witness.cpp
  src/goto-programs/graphml_witness.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Fix iterator comparison bug in reaching_definitions.cpp
  src/analyses/reaching_definitions.cpp
  src/analyses/reaching_definitions.h
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @thk123, @smowton

Fix use-after-free in c_typecheck_initializer.cpp
  src/ansi-c/c_typecheck_initializer.cpp
Owners: @kroening, @tautschnig
