Repository diffblue/cbmc, changes with the owners that CODEOWNERS names for each.
All owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue, @martin-cs, @mgudemann, @pkesseli, @romainbrenguier, @thk123, @cristina-david, @cesaro, @NathanJPhillips, @diffblue/cbmc-developers, @reuk, @diffblue/devops, @forejtv

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*       @kroening @tautschnig @peterschrammel @smowton @chrisr-diffblue

# These files should rarely change

src/big-int/ @kroening
src/ansi-c/ @kroening @tautschnig
src/assembler/ @kroening @tautschnig
src/goto-cc/ @kroening @tautschnig
src/linking/ @kroening @tautschnig
src/memory-models/ @kroening @tautschnig
src/goto-symex/ @kroening @tautschnig @peterschrammel
src/json/ @kroening @tautschnig @peterschrammel
src/langapi/ @kroening @tautschnig @peterschrammel
src/xmllang/ @kroening @tautschnig @peterschrammel
src/nonstd/ @smowton @peterschrammel
src/solvers/cvc @martin-cs @kroening
src/solvers/flattening @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/floatbv @martin-cs @kroening
src/solvers/miniBDD @tautschnig @kroening
src/solvers/prop @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/sat @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/smt2 @martin-cs @tautschnig @peterschrammel
src/miniz/ @smowton @mgudemann @peterschrammel


# These files change frequently and changes are high-risk

src/cbmc/ @smowton @kroening @tautschnig @peterschrammel
src/goto-programs/ @smowton @kroening @tautschnig @peterschrammel @pkesseli
src/util/ @smowton @kroening @tautschnig @peterschrammel @pkesseli
src/solvers/refinement @martin-cs @romainbrenguier @peterschrammel
src/java_bytecode/ @smowton @mgudemann @thk123 @cristina-david @cesaro @pkesseli @NathanJPhillips @peterschrammel
src/analyses/ @martin-cs @peterschrammel @chrisr-diffblue @thk123 @smowton
src/pointer-analysis/ @martin-cs @peterschrammel @chrisr-diffblue @smowton


# These files change frequently and changes are medium-risk

src/goto-analyzer/ @martin-cs @chrisr-diffblue @peterschrammel
src/goto-instrument/ @martin-cs @chrisr-diffblue @peterschrammel
src/goto-diff/ @tautschnig @peterschrammel
src/jbmc/ @smowton @mgudemann @cristina-david @cesaro @pkesseli @peterschrammel
src/cpp/ @kroening @tautschnig @peterschrammel


# These files change frequently and changes are low-risk

unit/ @diffblue/cbmc-developers
regression/ @diffblue/cbmc-developers

CMakeLists.txt @reuk @chrisr-diffblue
cmake/ @reuk @chrisr-diffblue

scripts/ @diffblue/devops @thk123 @forejtv @peterschrammel
.travis.yml @diffblue/devops @thk123 @forejtv @peterschrammel
appveyor.yml @diffblue/devops @thk123 @forejtv @peterschrammel

Unify satchecker instantiation in solvers
  src/solvers/flattening/bv_minimize.h
  src/solvers/refinement/bv_refinement.h
  src/solvers/refinement/refine_arrays.cpp
  src/solvers/refinement/string_refinement.cpp
Owners: @martin-cs, @kroening, @tautschnig, @peterschrammel, @romainbrenguier

Register --random-var-freq and --random-seed command line options
  src/cbmc/cbmc_parse_options.cpp
  src/cbmc/cbmc_parse_options.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel

Allow instrumentation of java.* and org.cprover.*
  src/goto-instrument/cover_filter.cpp
Owners: @martin-cs, @chrisr-diffblue, @peterschrammel

Get source location from symbol table
  src/goto-diff/goto_diff_base.cpp
Owners: @tautschnig, @peterschrammel

Java regression test for goto-diff
  regression/goto-diff/syntactic-diff-java1/new.jar
  regression/goto-diff/syntactic-diff-java1/new/Test.java
  regression/goto-diff/syntactic-diff-java1/old.jar
  regression/goto-diff/syntactic-diff-java1/old/Test.java
  regression/goto-diff/syntactic-diff-java1/test.desc
Owners: @diffblue/cbmc-developers

Also reset fresh temporary symbol counter
  src/goto-programs/goto_convert_functions.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Compare relative goto target offsets
  src/goto-diff/syntactic_diff.cpp
Owners: @tautschnig, @peterschrammel

Fix op1/op0 copy&paste typo
  src/cpp/cpp_typecheck_constructor.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Fix usage of instruction source location
  src/goto-programs/show_goto_functions_json.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Add regression test for --store-goto-locations json
  regression/goto-instrument/store_goto_locations_json/main.c
  regression/goto-instrument/store_goto_locations_json/test.desc
Owners: @diffblue/cbmc-developers

Fix for [TG-1633] Inner generic types have incorrect type identifier
  src/java_bytecode/java_types.cpp
  unit/java_bytecode/java_bytecode_parse_generics/GenericClassWithGenericInnerClasses.class
  unit/java_bytecode/java_bytecode_parse_generics/GenericClassWithGenericInnerClasses.java
  unit/java_bytecode/java_bytecode_parse_generics/parse_generic_class_with_generic_inner_classes.cpp
  unit/java_bytecode/java_types/erase_type_arguments.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel, @diffblue/cbmc-developers

TG-1877: Include array pointer types in needed classes
  regression/cbmc-java/lazyloading_array_parameter/asserthere.class
  regression/cbmc-java/lazyloading_array_parameter/test.class
  regression/cbmc-java/lazyloading_array_parameter/test.desc
  regression/cbmc-java/lazyloading_array_parameter/test.java
  regression/cbmc-java/lazyloading_indirect_array_parameter/asserthere.class
  regression/cbmc-java/lazyloading_indirect_array_parameter/container.class
  regression/cbmc-java/lazyloading_indirect_array_parameter/test.class
  regression/cbmc-java/lazyloading_indirect_array_parameter/test.desc
  regression/cbmc-java/lazyloading_indirect_array_parameter/test.java
  regression/cbmc-java/lazyloading_indirect_generic_array_parameter/asserthere.class
  regression/cbmc-java/lazyloading_indirect_generic_array_parameter/container.class
  regression/cbmc-java/lazyloading_indirect_generic_array_parameter/test.class
  regression/cbmc-java/lazyloading_indirect_generic_array_parameter/test.desc
  regression/cbmc-java/lazyloading_indirect_generic_array_parameter/test.java
  src/java_bytecode/ci_lazy_methods.cpp
Owners: @diffblue/cbmc-developers, @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Lazy loading: assume concrete generic parameter types are needed
  regression/cbmc-java/lazyloading_multiple_generic_parameters/asserthere.class
  regression/cbmc-java/lazyloading_multiple_generic_parameters/container.class
  regression/cbmc-java/lazyloading_multiple_generic_parameters/test.class
  regression/cbmc-java/lazyloading_multiple_generic_parameters/test.desc
  regression/cbmc-java/lazyloading_multiple_generic_parameters/test.java
  regression/cbmc-java/lazyloading_nested_generic_parameters/asserthere.class
  regression/cbmc-java/lazyloading_nested_generic_parameters/container.class
  regression/cbmc-java/lazyloading_nested_generic_parameters/container2.class
  regression/cbmc-java/lazyloading_nested_generic_parameters/test.class
  regression/cbmc-java/lazyloading_nested_generic_parameters/test.desc
  regression/cbmc-java/lazyloading_nested_generic_parameters/test.java
  src/java_bytecode/ci_lazy_methods.cpp
Owners: @diffblue/cbmc-developers, @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Add remove_instanceof overload to remove from a particular instruction
  src/goto-programs/remove_instanceof.cpp
  src/goto-programs/remove_instanceof.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Added base_name in comments for all symbols
  src/goto-programs/json_goto_trace.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Protect extended trace behind a command line option
  src/cbmc/all_properties.cpp
  src/cbmc/bmc.cpp
  src/cbmc/bmc.h
  src/cbmc/bmc_cover.cpp
  src/cbmc/cbmc_parse_options.cpp
  src/cbmc/cbmc_parse_options.h
  src/goto-programs/goto_trace.cpp
  src/goto-programs/goto_trace.h
  src/goto-programs/json_goto_trace.cpp
  src/goto-programs/json_goto_trace.h
  src/jbmc/jbmc_parse_options.cpp
  src/jbmc/jbmc_parse_options.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli, @mgudemann, @cristina-david, @cesaro

Added regression tests
  regression/cbmc-java/trace_options_json_extended/Test.class
  regression/cbmc-java/trace_options_json_extended/Test.java
  regression/cbmc-java/trace_options_json_extended/extended.desc
  regression/cbmc-java/trace_options_json_extended/non-extended.desc
  regression/cbmc/trace_options_json_extended/extended.desc
  regression/cbmc/trace_options_json_extended/non-extended.desc
  regression/cbmc/trace_options_json_extended/test.c
Owners: @diffblue/cbmc-developers

Add raw LHS irep field to trace output
  src/goto-programs/json_goto_trace.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Don't pass iterators into function calls
  src/goto-programs/remove_exceptions.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Allow to remove instanceof when remove exceptions
  src/goto-programs/remove_exceptions.cpp
  src/goto-programs/remove_exceptions.h
  src/jbmc/jbmc_parse_options.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli, @mgudemann, @cristina-david, @cesaro

Add workaround for alpine regression test failure
  regression/goto-analyzer/sensitivity-function-call-array/main.c
  regression/goto-analyzer/sensitivity-function-call-opaque/main.c
  regression/goto-analyzer/sensitivity-function-call-pointer/main.c
  regression/goto-analyzer/sensitivity-function-call-primitive/main.c
  regression/goto-analyzer/sensitivity-function-call-recursive/main.c
  regression/goto-analyzer/sensitivity-function-call-varargs/main.c
Owners: @diffblue/cbmc-developers

This introduces nondet_symbol_exprt, which is generated by symbolic execution in response to side_effect_expr_nondett
  src/ansi-c/expr2c.cpp
  src/ansi-c/expr2c_class.h
  src/goto-symex/goto_symex.cpp
  src/solvers/smt1/smt1_conv.cpp
  src/solvers/smt2/smt2_conv.cpp
  src/util/std_expr.h
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue, @martin-cs, @pkesseli

C library: Implement strcat, strncat
  regression/cbmc/strcat1/main.c
  regression/cbmc/strcat1/test.desc
  src/ansi-c/library/string.c
Owners: @diffblue/cbmc-developers, @kroening, @tautschnig

C library: Check upper bounds in memset, memcpy, memmove
  regression/cbmc/memcpy1/main.c
  regression/cbmc/memcpy1/test.desc
  regression/cbmc/memset3/test.desc
  src/ansi-c/library/string.c
Owners: @diffblue/cbmc-developers, @kroening, @tautschnig

JBMC: Remove C-only passes
  src/jbmc/jbmc_parse_options.cpp
  src/jbmc/jbmc_parse_options.h
Owners: @smowton, @mgudemann, @cristina-david, @cesaro, @pkesseli, @peterschrammel

Complete instanceof for Java.
  src/goto-programs/remove_instanceof.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Implement bswap in SAT back-end
  regression/cbmc/gcc_bswap1/main.c
  regression/cbmc/gcc_bswap1/test.desc
  src/solvers/Makefile
  src/solvers/flattening/boolbv.cpp
  src/solvers/flattening/boolbv.h
  src/solvers/flattening/boolbv_bswap.cpp
Owners: @diffblue/cbmc-developers, @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue, @martin-cs

Introduce bswap_exprt
  src/ansi-c/c_typecheck_expr.cpp
  src/util/simplify_expr.cpp
  src/util/simplify_expr_class.h
  src/util/simplify_expr_int.cpp
  src/util/std_expr.h
Owners: @kroening, @tautschnig, @smowton, @peterschrammel, @pkesseli

Add regression test for null instanceof.
  regression/cbmc-java/instanceof8/InstanceOf8.class
  regression/cbmc-java/instanceof8/InstanceOf8.java
  regression/cbmc-java/instanceof8/test.desc
Owners: @diffblue/cbmc-developers

C library: network byteorder functions
  regression/cbmc/inet_endian1/main.c
  regression/cbmc/inet_endian1/test.desc
  src/ansi-c/library/inet.c
Owners: @diffblue/cbmc-developers, @kroening, @tautschnig

Refactor simplify_inequality_address_of
  src/util/simplify_expr_pointer.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Simplify address-of in cases like &a.b.c==&a.b.c
  regression/goto-analyzer/sensitivity-test-constants-pointer-to-two-value-struct/test.desc
  src/util/simplify_expr_pointer.cpp
Owners: @diffblue/cbmc-developers, @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Allow expressions like &s == &s.x to be simplified
  src/util/simplify_expr_pointer.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Remove exceptions: switch to single inflight exception global
  src/goto-programs/remove_exceptions.cpp
  src/goto-programs/remove_exceptions.h
  src/java_bytecode/java_bytecode_internal_additions.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli, @mgudemann, @thk123, @cristina-david, @cesaro, @NathanJPhillips

Remove exceptions: add per-function entry point
  src/goto-programs/remove_exceptions.cpp
  src/goto-programs/remove_exceptions.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Refactor has_char_pointer_subtype with has_subtype
  src/solvers/refinement/string_refinement.cpp
Owners: @martin-cs, @romainbrenguier, @peterschrammel

Extend symbol resolution to string_typet
  src/solvers/refinement/string_refinement.cpp
  src/solvers/refinement/string_refinement.h
Owners: @martin-cs, @romainbrenguier, @peterschrammel

Handle if_exprt in add_axioms_for_string_literal
  src/solvers/refinement/string_constraint_generator.h
  src/solvers/refinement/string_constraint_generator_constants.cpp
Owners: @martin-cs, @romainbrenguier, @peterschrammel

Add unit test for has_subtype
  unit/Makefile
  unit/solvers/refinement/string_refinement/has_subtype.cpp
Owners: @diffblue/cbmc-developers

Add an optional guard to add_axioms_for_constant
  src/solvers/refinement/string_constraint_generator.h
  src/solvers/refinement/string_constraint_generator_constants.cpp
Owners: @martin-cs, @romainbrenguier, @peterschrammel
