Repository diffblue/cbmc, changes with the owners that CODEOWNERS names for each.
All owners: @kroening, @tautschnig, @peterschrammel, @chris-ryder, @jimgrundy, @TGWDB, @nlightnfotis, @remi-delmas-3000, @romainbrenguier, @martin-cs, @qinheping, @NlightNFotis, @thomasspriggs, @esteffin, @feliperodri, @diffblue/diffblue-opensource

CODEOWNERS:

# Code owners are expected to complete reviews with feedback to the PR author or
# approval within two weeks.
#
# These owners will be the default owners for everything in the repo.
*       @kroening @tautschnig @peterschrammel @chris-ryder

# Documentation can be reviewed by people with broad project responsibility

/doc/ @jimgrundy @TGWDB @kroening @tautschnig @peterschrammel @nlightnfotis


# These files should rarely change

/src/big-int/ @kroening
/src/ansi-c/ @kroening @tautschnig @chris-ryder @peterschrammel @remi-delmas-3000
/src/assembler/ @kroening @tautschnig @chris-ryder
/src/goto-cc/ @kroening @tautschnig @chris-ryder
/src/linking/ @kroening @tautschnig @chris-ryder
/src/memory-models/ @kroening @tautschnig
/src/goto-checker/ @kroening @tautschnig @peterschrammel
/src/goto-symex/ @kroening @tautschnig @peterschrammel @romainbrenguier
/src/json/ @kroening @tautschnig @peterschrammel
/src/json-symtab-language/ @martin-cs
/src/langapi/ @kroening @tautschnig @peterschrammel
/src/xmllang/ @kroening @tautschnig @peterschrammel
/src/nonstd/ @peterschrammel
/src/solvers/flattening @martin-cs @kroening @tautschnig @peterschrammel
/src/solvers/floatbv @martin-cs @kroening
/src/solvers/miniBDD @tautschnig @kroening
/src/solvers/prop @martin-cs @kroening @tautschnig @peterschrammel
/src/solvers/sat @martin-cs @kroening @tautschnig @peterschrammel
/src/symtab2gb/ @martin-cs
/jbmc/src/miniz/ @peterschrammel
/src/crangler/ @kroening @tautschnig @qinheping


# These files change frequently and changes are high-risk

/src/cbmc/ @kroening @tautschnig @peterschrammel @NlightNFotis @thomasspriggs
/src/goto-programs/ @kroening @tautschnig @peterschrammel
/src/util/ @kroening @tautschnig @peterschrammel
/src/solvers/refinement @martin-cs @romainbrenguier @peterschrammel
/src/solvers/strings @martin-cs @romainbrenguier @peterschrammel
/jbmc/src/java_bytecode/ @romainbrenguier @peterschrammel
/src/analyses/ @martin-cs @peterschrammel @chris-ryder
/src/pointer-analysis/ @martin-cs @peterschrammel @chris-ryder
/src/libcprover-cpp @NlightNFotis @thomasspriggs @esteffin @TGWDB @peterschrammel
/src/libcprover-rust @NlightNFotis @thomasspriggs @TGWDB @peterschrammel

# These files change frequently and changes are medium-risk

/src/goto-analyzer/ @martin-cs @chris-ryder @peterschrammel
/src/goto-harness/ @martin-cs @chris-ryder @peterschrammel
/src/goto-instrument/ @martin-cs @chris-ryder @peterschrammel @tautschnig @kroening
/src/goto-instrument/contracts/ @tautschnig @feliperodri @remi-delmas-3000
/src/goto-synthesizer/ @qinheping @tautschnig @feliperodri @remi-delmas-3000
/src/goto-diff/ @tautschnig @peterschrammel
/src/jsil/ @kroening @tautschnig
/src/memory-analyzer/ @tautschnig @chris-ryder @kroening
/jbmc/src/jbmc/ @peterschrammel @romainbrenguier
/jbmc/src/janalyzer/ @peterschrammel @romainbrenguier
/jbmc/src/jdiff/ @peterschrammel
/src/cpp/ @kroening @tautschnig @peterschrammel
/src/solvers/smt2 @kroening @martin-cs @peterschrammel @thomasspriggs @NlightNFotis @TGWDB
/src/solvers/smt2_incremental @peterschrammel @thomasspriggs @NlightNFotis @TGWDB @chris-ryder
/src/solvers/Makefile @kroening @tautschnig @peterschrammel @chris-ryder @thomasspriggs @NlightNFotis @TGWDB
/src/statement-list/ @kroening @tautschnig @peterschrammel

/cmake/        @diffblue/diffblue-opensource
CMakeLists.txt @diffblue/diffblue-opensource

# These files change frequently and changes are low-risk

/src/util/irep_ids.def

/unit/
/regression/
/jbmc/unit/
/jbmc/regression/

/scripts/ @diffblue/diffblue-opensource

# CI pipeline is the responsibility of the Open Source maintenance team at Diffblue.
/.github/ @diffblue/diffblue-opensource
src/config.inc @diffblue/diffblue-opensource

Pass shadow_memory to symex_assignt
  src/goto-symex/goto_symex.cpp
  src/goto-symex/symex_assign.cpp
  src/goto-symex/symex_assign.h
  src/goto-symex/symex_clean_expr.cpp
  src/goto-symex/symex_dereference.cpp
  src/goto-symex/symex_function_call.cpp
  src/goto-symex/symex_start_thread.cpp
  unit/goto-symex/symex_assign.cpp
Owners: @kroening, @tautschnig, @peterschrammel, @romainbrenguier

Initialize shadow memory for locals
  src/goto-symex/symex_decl.cpp
Owners: @kroening, @tautschnig, @peterschrammel, @romainbrenguier

Pass preprocessed shadow memory fields to goto_symex
  src/goto-checker/multi_path_symex_only_checker.cpp
  src/goto-checker/single_path_symex_only_checker.cpp
  src/goto-symex/goto_symex.h
  src/goto-symex/symex_main.cpp
  unit/path_strategies.cpp
Owners: @kroening, @tautschnig, @peterschrammel, @romainbrenguier

Fix typos in dfcc
  src/goto-instrument/contracts/dynamic-frames/dfcc_instrument.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_instrument.h
Owners: @tautschnig, @feliperodri, @remi-delmas-3000

Compute loop dependency in dfcc
  src/goto-instrument/contracts/dynamic-frames/dfcc_instrument.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_instrument.h
Owners: @tautschnig, @feliperodri, @remi-delmas-3000

Add apply_loop_contracts in dfcc
  src/goto-instrument/contracts/dynamic-frames/dfcc_instrument.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_instrument.h
Owners: @tautschnig, @feliperodri, @remi-delmas-3000

Initialize shadow memory for string constants
  src/goto-symex/symex_assign.cpp
Owners: @kroening, @tautschnig, @peterschrammel, @romainbrenguier

Handle __CPROVER_set/get_field in goto_symex
  src/goto-symex/symex_function_call.cpp
Owners: @kroening, @tautschnig, @peterschrammel, @romainbrenguier

Include `<algorithm>` where needed when building with `NAMED_SUB_IS_FORWARD_LIST == 0`
  src/analyses/variable-sensitivity/value_set_pointer_abstract_object.cpp
  src/cprover/generalization.cpp
  src/cprover/inductiveness.cpp
  src/cprover/state_encoding.cpp
  src/goto-instrument/contracts/instrument_spec_assigns.h
  src/goto-instrument/unwindset.cpp
  src/solvers/flattening/boolbv_bitreverse.cpp
  src/solvers/flattening/boolbv_get.cpp
  src/solvers/smt2_incremental/ast/smt_commands.cpp
  src/solvers/smt2_incremental/convert_expr_to_smt.cpp
  src/util/simplify_expr_int.cpp
Owners: @martin-cs, @peterschrammel, @chris-ryder, @kroening, @tautschnig, @feliperodri, @remi-delmas-3000, @thomasspriggs, @NlightNFotis, @TGWDB

Add `emplace` method to `forward_list_as_mapt` and simplify where possible
  src/util/forward_list_as_map.h
  src/util/irep_serialization.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Simplify use the `size` method instead of `distance`
  src/util/irep_hash_container.cpp
  src/util/lispirep.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Rename `remove` to `erase` to allow simplifications
  src/util/forward_list_as_map.h
  src/util/irep.cpp
Owners: @kroening, @tautschnig, @peterschrammel

small changes
  regression/linking-goto-binaries/kani_linking/rust_side.c
  src/linking/linking.cpp
Owners: @kroening, @tautschnig, @chris-ryder

First draft of structural similiarity for Rust/C linking
  regression/linking-goto-binaries/kani_linking/c_side.c
  regression/linking-goto-binaries/kani_linking/rust_side.c
  src/linking/linking.cpp
Owners: @kroening, @tautschnig, @chris-ryder

More tests
  regression/linking-goto-binaries/kani_linking/c_side.c
  regression/linking-goto-binaries/kani_linking/rust_side.c
  regression/linking-goto-binaries/kani_linking/rust_side_struct.c
  src/goto-programs/link_goto_model.cpp
  src/linking/linking.cpp
Owners: @kroening, @tautschnig, @peterschrammel, @chris-ryder

changes from discussion with felipe
  regression/linking-goto-binaries/kani_linking/rust_side_struct.c
  src/linking/linking.cpp
Owners: @kroening, @tautschnig, @chris-ryder

We also work for structured output, not just empty function returns
  regression/linking-goto-binaries/kani_linking/c_side.c
  regression/linking-goto-binaries/kani_linking/rust_side.c
  regression/linking-goto-binaries/kani_linking/rust_side_fail.c
Owners: none

Fix retun type compatibility issue
  src/linking/linking.cpp
Owners: @kroening, @tautschnig, @chris-ryder

Limit counterexample size to speed up regression tests
  jbmc/regression/jbmc/assume-inputs-non-null/string_assume.desc
  jbmc/regression/jbmc/context-include-exclude/test_exclude_from_include.desc
  jbmc/regression/jbmc/context-include-exclude/test_include.desc
  jbmc/regression/jbmc/exceptions29/test.desc
Owners: none

unwindset parsing: Work around spurious GCC 12 warning
  src/goto-instrument/unwindset.cpp
Owners: @martin-cs, @chris-ryder, @peterschrammel, @tautschnig, @kroening

Undo renaming of function back to get_default
  src/goto-checker/solver_factory.cpp
  src/goto-checker/solver_factory.h
Owners: @kroening, @tautschnig, @peterschrammel

Silence spurious maybe uninitialised warning
  src/goto-instrument/unwindset.cpp
Owners: @martin-cs, @chris-ryder, @peterschrammel, @tautschnig, @kroening

Fix `function_may_throw` maybe uninitialised error with gcc-12
  jbmc/src/java_bytecode/remove_exceptions.cpp
Owners: @romainbrenguier, @peterschrammel

Use immediately invoked lambda to avoid warning
  src/cprover/cprover_parse_options.cpp
Owners: @kroening, @tautschnig, @peterschrammel, @chris-ryder

Remove now-unused solver_factoryt::solvert methods
  src/goto-checker/solver_factory.cpp
  src/goto-checker/solver_factory.h
Owners: @kroening, @tautschnig, @peterschrammel

Refactor solver_factoryt::get_default
  src/goto-checker/solver_factory.cpp
  src/goto-checker/solver_factory.h
Owners: @kroening, @tautschnig, @peterschrammel

Increased release version to 5.77.0
  src/config.inc
Owners: @diffblue/diffblue-opensource

Removed trailing # from markdown
  doc/architectural/cbmc-architecture.md
Owners: @jimgrundy, @TGWDB, @kroening, @tautschnig, @peterschrammel, @nlightnfotis

Honour --sat-solver with refinement
  src/goto-checker/solver_factory.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Use CaDiCaL for selected THOROUGH regression tests
  .github/workflows/pull-request-checks.yaml
  jbmc/regression/jbmc-strings/VerifStringLastIndexOf/test.desc
  jbmc/regression/jbmc-strings/java_easychair/test.desc
  jbmc/regression/strings-smoke-tests/java_parselong_unknown_radix/test.desc
  regression/cbmc/Float-equality1/test_equality.desc
  regression/cbmc/gcc_popcount2/test.desc
Owners: @diffblue/diffblue-opensource

Add check of gcc-12 to pull request checks
  .github/workflows/pull-request-checks.yaml
Owners: @diffblue/diffblue-opensource

Run macos-12 CI build using Clang 15
  .github/workflows/pull-request-checks.yaml
Owners: @diffblue/diffblue-opensource

Addressed some PR reviews comment
  doc/architectural/symex-instructions.md
Owners: @jimgrundy, @TGWDB, @kroening, @tautschnig, @peterschrammel, @nlightnfotis

Fully remove rewrite_index
  jbmc/src/jbmc/Makefile
  src/cbmc/Makefile
  src/pointer-analysis/README.md
  src/pointer-analysis/rewrite_index.cpp
  src/pointer-analysis/rewrite_index.h
Owners: @peterschrammel, @romainbrenguier, @kroening, @tautschnig, @NlightNFotis, @thomasspriggs, @martin-cs, @chris-ryder

Add new function to inline calls in a goto_program
  src/goto-programs/goto_inline.cpp
  src/goto-programs/goto_inline.h
  src/goto-programs/goto_inline_class.cpp
  src/goto-programs/goto_inline_class.h
  unit/Makefile
  unit/goto-programs/goto_program_goto_program_inline.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Separate declarations
  src/goto-programs/mm_io.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Remove unused `deref_expr_w` variable
  src/goto-programs/mm_io.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Add `const` to mmio identifiers
  src/goto-programs/mm_io.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Declare iterator using `auto`
  src/goto-programs/mm_io.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Return result of `collect_deref_expr` function by value
  src/goto-programs/mm_io.cpp
Owners: @kroening, @tautschnig, @peterschrammel
