Repository diffblue/cbmc, changes with the owners that CODEOWNERS names for each.
All owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue, @martin-cs, @mgudemann, @pkesseli, @romainbrenguier, @thk123, @cristina-david, @cesaro, @NathanJPhillips, @diffblue/cbmc-developers, @reuk, @diffblue/devops, @forejtv

Always convert the main function from bytecode into the symbol_table
  src/goto-programs/lazy_goto_functions_map.h
  src/java_bytecode/java_bytecode_language.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli, @mgudemann, @thk123, @cristina-david, @cesaro, @NathanJPhillips

Reset counter used by get_fresh_aux_symbol in unit tests
  unit/java_bytecode/java_string_library_preprocess/convert_exprt_to_string_exprt.cpp
Owners: @diffblue/cbmc-developers

Store symbol type instead of followed type when clean casting
  src/java_bytecode/java_pointer_casts.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Encapsulate lazy_goto_modelt::goto_functions
  src/goto-programs/goto_model.h
  src/goto-programs/lazy_goto_model.cpp
  src/goto-programs/lazy_goto_model.h
  src/goto-programs/rebuild_goto_start_function.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Fix new tests to use lazy loading
  src/goto-programs/lazy_goto_model.h
  unit/testing-utils/load_java_class.cpp
  unit/testing-utils/load_java_class.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli, @diffblue/cbmc-developers

Update test to handle changed symbol creation order
  regression/jbmc-strings/StaticCharMethods05/test.desc
Owners: @diffblue/cbmc-developers

Fix new test to run remove_java_new pass
  unit/pointer-analysis/custom_value_set_analysis.cpp
Owners: @diffblue/cbmc-developers

Change template parameter name to not clash with existing type
  src/goto-programs/rebuild_goto_start_function.cpp
  src/goto-programs/rebuild_goto_start_function.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Add extra tests for the non-det issue with constants.
  regression/goto-instrument/no_nondet_const/main.c
  regression/goto-instrument/no_nondet_const/test.desc
Owners: @diffblue/cbmc-developers

Remove existing coverage goals
  src/goto-instrument/cover.cpp
  src/goto-instrument/cover.h
Owners: @martin-cs, @chrisr-diffblue, @peterschrammel

Update a comment in instrument_cover_goals
  src/goto-instrument/cover.cpp
Owners: @martin-cs, @chrisr-diffblue, @peterschrammel

Add code_typet::get_this
  src/goto-programs/remove_virtual_functions.cpp
  src/util/std_types.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Add at method to template_numberingt
  src/util/numbering.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Replace cover-function-only by cover-include-pattern
  src/goto-instrument/cover.cpp
  src/goto-instrument/cover.h
Owners: @martin-cs, @chrisr-diffblue, @peterschrammel

Split cover into several files
  src/cbmc/Makefile
  src/goto-instrument/Makefile
  src/goto-instrument/cover.cpp
  src/goto-instrument/cover.h
  src/goto-instrument/cover_basic_blocks.cpp
  src/goto-instrument/cover_basic_blocks.h
  src/goto-instrument/cover_filter.cpp
  src/goto-instrument/cover_filter.h
  src/goto-instrument/cover_instrument.h
  src/goto-instrument/cover_instrument_branch.cpp
  src/goto-instrument/cover_instrument_condition.cpp
  src/goto-instrument/cover_instrument_decision.cpp
  src/goto-instrument/cover_instrument_location.cpp
  src/goto-instrument/cover_instrument_mcdc.cpp
  src/goto-instrument/cover_instrument_other.cpp
  src/goto-instrument/cover_util.cpp
  src/goto-instrument/cover_util.h
  src/jbmc/Makefile
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @martin-cs, @chrisr-diffblue, @mgudemann, @cristina-david, @cesaro, @pkesseli

Introduce cover instrumenter
  src/goto-instrument/cover.cpp
  src/goto-instrument/cover_instrument.h
  src/goto-instrument/cover_instrument_branch.cpp
  src/goto-instrument/cover_instrument_condition.cpp
  src/goto-instrument/cover_instrument_decision.cpp
  src/goto-instrument/cover_instrument_location.cpp
  src/goto-instrument/cover_instrument_mcdc.cpp
  src/goto-instrument/cover_instrument_other.cpp
Owners: @martin-cs, @chrisr-diffblue, @peterschrammel

Document cover functions
  src/goto-instrument/cover.cpp
  src/goto-instrument/cover.h
Owners: @martin-cs, @chrisr-diffblue, @peterschrammel

Factorize source location initialization
  src/goto-instrument/cover_instrument.h
  src/goto-instrument/cover_instrument_branch.cpp
  src/goto-instrument/cover_instrument_condition.cpp
  src/goto-instrument/cover_instrument_decision.cpp
  src/goto-instrument/cover_instrument_location.cpp
  src/goto-instrument/cover_instrument_other.cpp
Owners: @martin-cs, @chrisr-diffblue, @peterschrammel

Pass command line options via optionst
  src/cbmc/cbmc_parse_options.cpp
  src/goto-instrument/cover.cpp
  src/goto-instrument/cover.h
  src/jbmc/jbmc_parse_options.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @martin-cs, @chrisr-diffblue, @mgudemann, @cristina-david, @cesaro, @pkesseli

Set accessability of stub classes to default
  src/java_bytecode/java_utils.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Adds regression test for bitfield naming bug
  regression/goto-instrument/bitfield_naming/main.c
  regression/goto-instrument/bitfield_naming/test.desc
Owners: @diffblue/cbmc-developers

Uses alternatives to get_string in type2name when possible
  src/ansi-c/type2name.cpp
Owners: @kroening, @tautschnig

Mark GOTO instructions with unresolved virtual calls
  src/goto-programs/remove_virtual_functions.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Class hierarchy: add DOT output, unit tests
  regression/goto-instrument/class-hierarchy/dot.desc
  regression/goto-instrument/class-hierarchy/main.c
  regression/goto-instrument/class-hierarchy/plain.desc
  src/goto-instrument/goto_instrument_parse_options.cpp
  src/goto-instrument/goto_instrument_parse_options.h
  src/goto-programs/class_hierarchy.cpp
  src/goto-programs/class_hierarchy.h
  unit/Makefile
  unit/goto-programs/HierarchyTest.class
  unit/goto-programs/HierarchyTest.java
  unit/goto-programs/HierarchyTestChild1.class
  unit/goto-programs/HierarchyTestChild2.class
  unit/goto-programs/HierarchyTestGrandchild.class
  unit/goto-programs/HierarchyTestInterface1.class
  unit/goto-programs/HierarchyTestInterface1.java
  unit/goto-programs/HierarchyTestInterface2.class
  unit/goto-programs/HierarchyTestInterface2.java
  unit/goto-programs/class_hierarchy_output.cpp
Owners: @diffblue/cbmc-developers, @martin-cs, @chrisr-diffblue, @peterschrammel, @smowton, @kroening, @tautschnig, @pkesseli

Replace unsound struct-cast simplification
  src/util/simplify_expr.cpp
  src/util/simplify_expr_struct.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Fix missing newline at end of desc file
  regression/strings-smoke-tests/java_int_to_string/test2_bug.desc
Owners: @diffblue/cbmc-developers

Fix testing for empty line in test desc file
  regression/strings-smoke-tests/java_value_of_float_3/test.desc
Owners: @diffblue/cbmc-developers

Fix unsatisfiable test line
  regression/strings-smoke-tests/java_if/test.desc
Owners: @diffblue/cbmc-developers

Add code_typet::get_parameter_indices
  src/util/std_types.h
  unit/Makefile
  unit/util/ParameterIndicesTest.class
  unit/util/ParameterIndicesTest.java
  unit/util/parameter_indices.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli, @diffblue/cbmc-developers

Resolve concrete function call if no implementation is found
  src/goto-programs/remove_virtual_functions.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Add regression test
  regression/cbmc-java/removed_virtual_functions/AbstractList$Itr.class
  regression/cbmc-java/removed_virtual_functions/AbstractList.class
  regression/cbmc-java/removed_virtual_functions/AbstractList.java
  regression/cbmc-java/removed_virtual_functions/ArrayList$Itr.class
  regression/cbmc-java/removed_virtual_functions/ArrayList$ListItr.class
  regression/cbmc-java/removed_virtual_functions/ArrayList.class
  regression/cbmc-java/removed_virtual_functions/ArrayList.java
  regression/cbmc-java/removed_virtual_functions/ArrayListEquals.class
  regression/cbmc-java/removed_virtual_functions/ArrayListEquals.java
  regression/cbmc-java/removed_virtual_functions/Iterator.class
  regression/cbmc-java/removed_virtual_functions/Iterator.java
  regression/cbmc-java/removed_virtual_functions/List.class
  regression/cbmc-java/removed_virtual_functions/List.java
  regression/cbmc-java/removed_virtual_functions/ListIterator.class
  regression/cbmc-java/removed_virtual_functions/ListIterator.java
  regression/cbmc-java/removed_virtual_functions/test.desc
Owners: @diffblue/cbmc-developers

Allow callers of load_java_class to pass the name of the main function
  unit/testing-utils/load_java_class.cpp
  unit/testing-utils/load_java_class.h
Owners: @diffblue/cbmc-developers

Add random_var_freq and random_seed to propt
  src/solvers/prop/prop.h
Owners: @martin-cs, @kroening, @tautschnig, @peterschrammel

Refactor polynomial_acceleratort constructor
  src/goto-instrument/accelerate/polynomial_accelerator.h
Owners: @martin-cs, @chrisr-diffblue, @peterschrammel

Pointer difference over void* is difference over char*
  regression/cbmc/void_pointer3/main.c
  regression/cbmc/void_pointer3/test.desc
  src/solvers/flattening/bv_pointers.cpp
Owners: @diffblue/cbmc-developers, @martin-cs, @kroening, @tautschnig, @peterschrammel

Add random_var_freq and random_seed for minisat2 and glucose
  src/solvers/sat/satcheck.cpp
  src/solvers/sat/satcheck.h
  src/solvers/sat/satcheck_glucose.cpp
  src/solvers/sat/satcheck_glucose.h
  src/solvers/sat/satcheck_minisat2.cpp
  src/solvers/sat/satcheck_minisat2.h
Owners: @martin-cs, @kroening, @tautschnig, @peterschrammel

Unify satchecker instantiation in cbmc_solvers
  src/cbmc/cbmc_solvers.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel

Unify satchecker instantiation in unit tests
  unit/solvers/refinement/string_constraint_instantiation/instantiate_not_contains.cpp
Owners: @diffblue/cbmc-developers

Clang format in string refinement
  src/solvers/refinement/string_refinement.cpp
Owners: @martin-cs, @romainbrenguier, @peterschrammel

Unify satchecker instantiation in goto-instrument
  src/goto-instrument/accelerate/accelerate.cpp
  src/goto-instrument/accelerate/accelerate.h
  src/goto-instrument/accelerate/acceleration_utils.cpp
  src/goto-instrument/accelerate/acceleration_utils.h
  src/goto-instrument/accelerate/disjunctive_polynomial_acceleration.cpp
  src/goto-instrument/accelerate/disjunctive_polynomial_acceleration.h
  src/goto-instrument/accelerate/enumerating_loop_acceleration.h
  src/goto-instrument/accelerate/polynomial_accelerator.cpp
  src/goto-instrument/accelerate/polynomial_accelerator.h
  src/goto-instrument/accelerate/sat_path_enumerator.cpp
  src/goto-instrument/accelerate/sat_path_enumerator.h
  src/goto-instrument/accelerate/scratch_program.h
  src/goto-instrument/goto_instrument_parse_options.cpp
Owners: @martin-cs, @chrisr-diffblue, @peterschrammel

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*       @kroening @tautschnig @peterschrammel @smowton @chrisr-diffblue

# These files should rarely change

src/big-int/ @kroening
src/ansi-c/ @kroening @tautschnig
src/assembler/ @kroening @tautschnig
src/goto-cc/ @kroening @tautschnig
src/linking/ @kroening @tautschnig
src/memory-models/ @kroening @tautschnig
src/goto-symex/ @kroening @tautschnig @peterschrammel
src/json/ @kroening @tautschnig @peterschrammel
src/langapi/ @kroening @tautschnig @peterschrammel
src/xmllang/ @kroening @tautschnig @peterschrammel
src/nonstd/ @smowton @peterschrammel
src/solvers/cvc @martin-cs @kroening
src/solvers/flattening @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/floatbv @martin-cs @kroening
src/solvers/miniBDD @tautschnig @kroening
src/solvers/prop @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/sat @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/smt2 @martin-cs @tautschnig @peterschrammel
src/miniz/ @smowton @mgudemann @peterschrammel


# These files change frequently and changes are high-risk

src/cbmc/ @smowton @kroening @tautschnig @peterschrammel
src/goto-programs/ @smowton @kroening @tautschnig @peterschrammel @pkesseli
src/util/ @smowton @kroening @tautschnig @peterschrammel @pkesseli
src/solvers/refinement @martin-cs @romainbrenguier @peterschrammel
src/java_bytecode/ @smowton @mgudemann @thk123 @cristina-david @cesaro @pkesseli @NathanJPhillips @peterschrammel
src/analyses/ @martin-cs @peterschrammel @chrisr-diffblue @thk123 @smowton
src/pointer-analysis/ @martin-cs @peterschrammel @chrisr-diffblue @smowton


# These files change frequently and changes are medium-risk

src/goto-analyzer/ @martin-cs @chrisr-diffblue @peterschrammel
src/goto-instrument/ @martin-cs @chrisr-diffblue @peterschrammel
src/goto-diff/ @tautschnig @peterschrammel
src/jbmc/ @smowton @mgudemann @cristina-david @cesaro @pkesseli @peterschrammel
src/cpp/ @kroening @tautschnig @peterschrammel


# These files change frequently and changes are low-risk

unit/ @diffblue/cbmc-developers
regression/ @diffblue/cbmc-developers

CMakeLists.txt @reuk @chrisr-diffblue
cmake/ @reuk @chrisr-diffblue

scripts/ @diffblue/devops @thk123 @forejtv @peterschrammel
.travis.yml @diffblue/devops @thk123 @forejtv @peterschrammel
appveyor.yml @diffblue/devops @thk123 @forejtv @peterschrammel
