Repository diffblue/cbmc, changes with the owners that CODEOWNERS names for each.
All owners: @kroening, @tautschnig, @peterschrammel, @chris-ryder, @jimgrundy, @TGWDB, @nlightnfotis, @remi-delmas-3000, @romainbrenguier, @martin-cs, @qinheping, @NlightNFotis, @thomasspriggs, @esteffin, @feliperodri, @diffblue/diffblue-opensource

CODEOWNERS:

# Code owners are expected to complete reviews with feedback to the PR author or
# approval within two weeks.
#
# These owners will be the default owners for everything in the repo.
*       @kroening @tautschnig @peterschrammel @chris-ryder

# Documentation can be reviewed by people with broad project responsibility

/doc/ @jimgrundy @TGWDB @kroening @tautschnig @peterschrammel @nlightnfotis


# These files should rarely change

/src/big-int/ @kroening
/src/ansi-c/ @kroening @tautschnig @chris-ryder @peterschrammel @remi-delmas-3000
/src/assembler/ @kroening @tautschnig @chris-ryder
/src/goto-cc/ @kroening @tautschnig @chris-ryder
/src/linking/ @kroening @tautschnig @chris-ryder
/src/memory-models/ @kroening @tautschnig
/src/goto-checker/ @kroening @tautschnig @peterschrammel
/src/goto-symex/ @kroening @tautschnig @peterschrammel @romainbrenguier
/src/json/ @kroening @tautschnig @peterschrammel
/src/json-symtab-language/ @martin-cs
/src/langapi/ @kroening @tautschnig @peterschrammel
/src/xmllang/ @kroening @tautschnig @peterschrammel
/src/nonstd/ @peterschrammel
/src/solvers/flattening @martin-cs @kroening @tautschnig @peterschrammel
/src/solvers/floatbv @martin-cs @kroening
/src/solvers/miniBDD @tautschnig @kroening
/src/solvers/prop @martin-cs @kroening @tautschnig @peterschrammel
/src/solvers/sat @martin-cs @kroening @tautschnig @peterschrammel
/src/symtab2gb/ @martin-cs
/jbmc/src/miniz/ @peterschrammel
/src/crangler/ @kroening @tautschnig @qinheping


# These files change frequently and changes are high-risk

/src/cbmc/ @kroening @tautschnig @peterschrammel @NlightNFotis @thomasspriggs
/src/goto-programs/ @kroening @tautschnig @peterschrammel
/src/util/ @kroening @tautschnig @peterschrammel
/src/solvers/refinement @martin-cs @romainbrenguier @peterschrammel
/src/solvers/strings @martin-cs @romainbrenguier @peterschrammel
/jbmc/src/java_bytecode/ @romainbrenguier @peterschrammel
/src/analyses/ @martin-cs @peterschrammel @chris-ryder
/src/pointer-analysis/ @martin-cs @peterschrammel @chris-ryder
/src/libcprover-cpp @NlightNFotis @thomasspriggs @esteffin @TGWDB @peterschrammel
/src/libcprover-rust @NlightNFotis @thomasspriggs @TGWDB @peterschrammel

# These files change frequently and changes are medium-risk

/src/goto-analyzer/ @martin-cs @chris-ryder @peterschrammel
/src/goto-harness/ @martin-cs @chris-ryder @peterschrammel
/src/goto-instrument/ @martin-cs @chris-ryder @peterschrammel @tautschnig @kroening
/src/goto-instrument/contracts/ @tautschnig @feliperodri @remi-delmas-3000
/src/goto-synthesizer/ @qinheping @tautschnig @feliperodri @remi-delmas-3000
/src/goto-diff/ @tautschnig @peterschrammel
/src/jsil/ @kroening @tautschnig
/src/memory-analyzer/ @tautschnig @chris-ryder @kroening
/jbmc/src/jbmc/ @peterschrammel @romainbrenguier
/jbmc/src/janalyzer/ @peterschrammel @romainbrenguier
/jbmc/src/jdiff/ @peterschrammel
/src/cpp/ @kroening @tautschnig @peterschrammel
/src/solvers/smt2 @kroening @martin-cs @peterschrammel @thomasspriggs @NlightNFotis @TGWDB
/src/solvers/smt2_incremental @peterschrammel @thomasspriggs @NlightNFotis @TGWDB @chris-ryder
/src/solvers/Makefile @kroening @tautschnig @peterschrammel @chris-ryder @thomasspriggs @NlightNFotis @TGWDB
/src/statement-list/ @kroening @tautschnig @peterschrammel

/cmake/        @diffblue/diffblue-opensource
CMakeLists.txt @diffblue/diffblue-opensource

# These files change frequently and changes are low-risk

/src/util/irep_ids.def

/unit/
/regression/
/jbmc/unit/
/jbmc/regression/

/scripts/ @diffblue/diffblue-opensource

# CI pipeline is the responsibility of the Open Source maintenance team at Diffblue.
/.github/ @diffblue/diffblue-opensource
src/config.inc @diffblue/diffblue-opensource

Invert `is_assign` check
  src/goto-programs/mm_io.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Add documentation of the `mm_io` pass in `mm_io.h`
  src/goto-programs/mm_io.h
Owners: @kroening, @tautschnig, @peterschrammel

Replace `maybe_symbol` with specific tighter scoped variables
  src/goto-programs/mm_io.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Declare `collect_deref_expr` as `static`
  src/goto-programs/mm_io.cpp
Owners: @kroening, @tautschnig, @peterschrammel

CONTRACTS: new inlining and loop detection methods
  src/goto-instrument/contracts/dynamic-frames/dfcc_utils.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_utils.h
Owners: @tautschnig, @feliperodri, @remi-delmas-3000

CONTRACTS: new context tracking flags in write set
  src/ansi-c/library/cprover_contracts.c
  src/goto-instrument/contracts/dynamic-frames/dfcc_instrument.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_instrument.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_library.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_library.h
Owners: @kroening, @tautschnig, @chris-ryder, @peterschrammel, @remi-delmas-3000, @feliperodri

CONTRACTS: rearchitecture code for loop contracts
  src/goto-instrument/Makefile
  src/goto-instrument/contracts/dynamic-frames/dfcc.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_contract_clauses_codegen.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_contract_clauses_codegen.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_contract_functions.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_contract_functions.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_contract_handler.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_contract_handler.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_spec_functions.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_spec_functions.h
Owners: @martin-cs, @chris-ryder, @peterschrammel, @tautschnig, @kroening, @feliperodri, @remi-delmas-3000

CONTRACTS: new c++ methods to build calls to cprover_contracts library
  src/goto-instrument/contracts/dynamic-frames/dfcc_instrument.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_is_freeable.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_library.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_library.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_wrapper_program.cpp
Owners: @tautschnig, @feliperodri, @remi-delmas-3000

address review comments
  src/goto-instrument/contracts/dynamic-frames/dfcc.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_contract_clauses_codegen.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_spec_functions.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_spec_functions.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_wrapper_program.cpp
Owners: @tautschnig, @feliperodri, @remi-delmas-3000

CONTRACTS: place contracts after do for do-while loops
  regression/contracts/do_while_syntax_fail/main.c
  regression/contracts/do_while_syntax_fail/test.desc
  regression/contracts/do_while_syntax_pass/main.c
  regression/contracts/do_while_syntax_pass/test.desc
  regression/contracts/loop_contracts_do_while/main.c
  regression/contracts/loop_contracts_do_while/test.desc
  src/ansi-c/parser.y
Owners: @kroening, @tautschnig, @chris-ryder, @peterschrammel, @remi-delmas-3000

Disable array-cell-sensitivity3 with new SMT back-end
  regression/cbmc/array-cell-sensitivity3/test_execution.desc
Owners: none

Simplify tests of is-null that use integer types
  regression/cbmc/null8/main.c
  regression/cbmc/null8/test.desc
  src/util/simplify_expr_int.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Linking can safely clean up duplicates of static inline functions
  regression/ansi-c/linking2/foo.h
  regression/ansi-c/linking2/main.c
  regression/ansi-c/linking2/other.c
  regression/ansi-c/linking2/test1.desc
  regression/ansi-c/linking2/test2.desc
  regression/ansi-c/static2/main2.c
  regression/ansi-c/static3/main2.c
  src/goto-programs/link_goto_model.cpp
  src/linking/linking.cpp
Owners: @kroening, @tautschnig, @peterschrammel, @chris-ryder

Avoid confusing "__CPROVER_{r,w,rw}_ok is not declared" warning
  regression/ansi-c/r_w_ok1/main.c
  regression/ansi-c/r_w_ok1/test.desc
  src/ansi-c/c_typecheck_expr.cpp
Owners: @kroening, @tautschnig, @chris-ryder, @peterschrammel, @remi-delmas-3000

Clean-up and test __CPROVER_{r,w,rw}_ok type checking failure cases
  regression/ansi-c/r_w_ok-expected-failures/main.c
  regression/ansi-c/r_w_ok-expected-failures/not_a_pointer.desc
  regression/ansi-c/r_w_ok-expected-failures/too_many_arguments.desc
  regression/ansi-c/r_w_ok-expected-failures/void_pointer_no_size.desc
  src/ansi-c/c_typecheck_expr.cpp
Owners: @kroening, @tautschnig, @chris-ryder, @peterschrammel, @remi-delmas-3000

Value set dereferencing: do not treat struct prefixes as equal
  jbmc/regression/jbmc/simplify-classid-of-interface/test_no_simplify_vccs.desc
  regression/cbmc/struct2/main.c
  regression/cbmc/struct2/test.desc
  regression/cbmc/struct5/main.c
  regression/cbmc/struct5/test.desc
  src/cprover/may_alias.cpp
  src/pointer-analysis/value_set_dereference.cpp
  src/util/std_types.cpp
  src/util/std_types.h
Owners: @kroening, @tautschnig, @peterschrammel, @chris-ryder, @martin-cs

remove typet::subtype()
  src/cpp/cpp_template_type.h
  src/util/c_types.h
  src/util/pointer_expr.h
  src/util/type.h
Owners: @kroening, @tautschnig, @peterschrammel

Minor formatting fix to contracts help
  src/goto-instrument/contracts/dynamic-frames/dfcc.h
Owners: @tautschnig, @feliperodri, @remi-delmas-3000

Align and reformat long lines
  src/goto-instrument/contracts/dynamic-frames/dfcc.h
  src/goto-instrument/goto_instrument_parse_options.cpp
Owners: @tautschnig, @feliperodri, @remi-delmas-3000, @martin-cs, @chris-ryder, @peterschrammel, @kroening

protect array_typet::subtype and vector_typet::subtype
  src/solvers/flattening/boolbv_get.cpp
  src/solvers/strings/string_refinement.cpp
  src/util/std_types.h
Owners: @martin-cs, @kroening, @tautschnig, @peterschrammel, @romainbrenguier

Use propt::lcnf when cnf_handled_well is true
  src/cprover/bv_pointers_wide.cpp
  src/solvers/flattening/boolbv_bv_rel.cpp
  src/solvers/flattening/boolbv_byte_extract.cpp
  src/solvers/flattening/boolbv_case.cpp
  src/solvers/flattening/boolbv_cond.cpp
  src/solvers/flattening/boolbv_extractbit.cpp
  src/solvers/flattening/boolbv_index.cpp
  src/solvers/flattening/bv_pointers.cpp
  src/solvers/flattening/bv_utils.cpp
  src/solvers/prop/prop_conv_solver.cpp
  src/solvers/refinement/refine_arithmetic.cpp
Owners: @kroening, @tautschnig, @peterschrammel, @chris-ryder, @martin-cs, @romainbrenguier

WIP
  regression/cbmc/loop-busy-wait/main.c
  regression/cbmc/loop-busy-wait/test.desc
  regression/cbmc/loop-empty/main.c
  regression/cbmc/loop-empty/test.desc
  regression/cbmc/loop-sequence-of-instructions/main.c
  regression/cbmc/loop-sequence-of-instructions/test.desc
Owners: none

Add details doxygen command
  src/assembler/remove_asm.h
Owners: @kroening, @tautschnig, @chris-ryder

Fix doxygen in `remove_asm.h`
  src/assembler/remove_asm.h
Owners: @kroening, @tautschnig, @chris-ryder

Fix handling of enable pragmas
  regression/goto-instrument/enable-pragmas/main.c
  regression/goto-instrument/enable-pragmas/test.desc
  src/ansi-c/goto_check_c.cpp
Owners: @kroening, @tautschnig, @chris-ryder, @peterschrammel, @remi-delmas-3000

remove three deprecated goto_programt methods
  src/cprover/cprover_parse_options.cpp
  src/goto-instrument/cover_basic_blocks.cpp
  src/goto-instrument/full_slicer.cpp
  src/goto-instrument/goto_program2code.cpp
  src/goto-programs/goto_program.h
Owners: @kroening, @tautschnig, @peterschrammel, @chris-ryder, @martin-cs

Remove (broken) code contracts link from CPROVER manual
  doc/cprover-manual/index.md
Owners: @jimgrundy, @TGWDB, @kroening, @tautschnig, @peterschrammel, @nlightnfotis

CPROVER manual: consistent formatting of headings
  doc/cprover-manual/api.md
  doc/cprover-manual/cbmc-assertions.md
  doc/cprover-manual/cbmc-tutorial.md
  doc/cprover-manual/goto-analyzer.md
  doc/cprover-manual/installation.md
  doc/cprover-manual/memory-primitives.md
  doc/cprover-manual/properties.md
  doc/cprover-manual/static-functions.md
  doc/cprover-manual/test-suite.md
Owners: @jimgrundy, @TGWDB, @kroening, @tautschnig, @peterschrammel, @nlightnfotis

Add missing newline in help output
  src/goto-checker/bmc_util.h
Owners: @kroening, @tautschnig, @peterschrammel

Synchronise help output with actual support for --fp-reachability-slice
  doc/man/cbmc.1
  doc/man/goto-instrument.1
  doc/man/jbmc.1
  jbmc/src/jbmc/jbmc_parse_options.cpp
  src/cbmc/cbmc_parse_options.cpp
  src/goto-instrument/goto_instrument_parse_options.cpp
  src/goto-instrument/goto_instrument_parse_options.h
  src/goto-instrument/reachability_slicer.h
Owners: @jimgrundy, @TGWDB, @kroening, @tautschnig, @peterschrammel, @nlightnfotis, @romainbrenguier, @NlightNFotis, @thomasspriggs, @martin-cs, @chris-ryder

Issue warnings when options may yield unsound verification results
  jbmc/src/jbmc/jbmc_parse_options.cpp
  src/cbmc/cbmc_parse_options.cpp
  src/goto-instrument/goto_instrument_parse_options.cpp
Owners: @peterschrammel, @romainbrenguier, @kroening, @tautschnig, @NlightNFotis, @thomasspriggs, @martin-cs, @chris-ryder

Explain unsound and experimental options in documentation.
  doc/cprover-manual/index.md
  doc/cprover-manual/unsound_options.md
Owners: @jimgrundy, @TGWDB, @kroening, @tautschnig, @peterschrammel, @nlightnfotis

Added version from config.inc to cmake project
  src/CMakeLists.txt
Owners: @diffblue/diffblue-opensource

Renamed api files to avoid object-file clashes
  regression/libcprover-cpp/call_bmc.cpp
  src/libcprover-cpp/api.h
  src/libcprover-cpp/api_options.cpp
  src/libcprover-cpp/api_options.h
Owners: @NlightNFotis, @thomasspriggs, @esteffin, @TGWDB, @peterschrammel

Aggregating all library dependencies into one
  src/CMakeLists.txt
  src/libcprover-cpp/CMakeLists.txt
  src/libcprover-cpp/add_dependencies.sh
Owners: @diffblue/diffblue-opensource, @NlightNFotis, @thomasspriggs, @esteffin, @TGWDB, @peterschrammel

Removed unecessary dependencies from Rust API
  src/libcprover-rust/build.rs
Owners: @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel

Added comments to API library CMakeLists.txt
  src/libcprover-cpp/CMakeLists.txt
  src/libcprover-cpp/add_dependencies.sh
Owners: @diffblue/diffblue-opensource, @NlightNFotis, @thomasspriggs, @esteffin, @TGWDB, @peterschrammel

Simplify overflow-result-minus over (X + n), X
  regression/cbmc/gcc_builtin_sub_overflow/simplify.c
  regression/cbmc/gcc_builtin_sub_overflow/simplify.desc
  src/util/simplify_expr.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Version increment cbmc-5.78.0
  src/config.inc
Owners: @diffblue/diffblue-opensource

update build.rs
  src/libcprover-rust/build.rs
Owners: @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel
