Repository diffblue/cbmc, changes with the owners that CODEOWNERS names for each.
All owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue, @martin-cs, @mgudemann, @pkesseli, @romainbrenguier, @thk123, @cristina-david, @cesaro, @NathanJPhillips, @diffblue/cbmc-developers, @reuk, @diffblue/devops, @forejtv

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*       @kroening @tautschnig @peterschrammel @smowton @chrisr-diffblue

# These files should rarely change

src/big-int/ @kroening
src/ansi-c/ @kroening @tautschnig
src/assembler/ @kroening @tautschnig
src/goto-cc/ @kroening @tautschnig
src/linking/ @kroening @tautschnig
src/memory-models/ @kroening @tautschnig
src/goto-symex/ @kroening @tautschnig @peterschrammel
src/json/ @kroening @tautschnig @peterschrammel
src/langapi/ @kroening @tautschnig @peterschrammel
src/xmllang/ @kroening @tautschnig @peterschrammel
src/nonstd/ @smowton @peterschrammel
src/solvers/cvc @martin-cs @kroening
src/solvers/flattening @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/floatbv @martin-cs @kroening
src/solvers/miniBDD @tautschnig @kroening
src/solvers/prop @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/sat @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/smt2 @martin-cs @tautschnig @peterschrammel
src/miniz/ @smowton @mgudemann @peterschrammel


# These files change frequently and changes are high-risk

src/cbmc/ @smowton @kroening @tautschnig @peterschrammel
src/goto-programs/ @smowton @kroening @tautschnig @peterschrammel @pkesseli
src/util/ @smowton @kroening @tautschnig @peterschrammel @pkesseli
src/solvers/refinement @martin-cs @romainbrenguier @peterschrammel
src/java_bytecode/ @smowton @mgudemann @thk123 @cristina-david @cesaro @pkesseli @NathanJPhillips @peterschrammel
src/analyses/ @martin-cs @peterschrammel @chrisr-diffblue @thk123 @smowton
src/pointer-analysis/ @martin-cs @peterschrammel @chrisr-diffblue @smowton


# These files change frequently and changes are medium-risk

src/goto-analyzer/ @martin-cs @chrisr-diffblue @peterschrammel
src/goto-instrument/ @martin-cs @chrisr-diffblue @peterschrammel
src/goto-diff/ @tautschnig @peterschrammel
src/jbmc/ @smowton @mgudemann @cristina-david @cesaro @pkesseli @peterschrammel
src/cpp/ @kroening @tautschnig @peterschrammel


# These files change frequently and changes are low-risk

unit/ @diffblue/cbmc-developers
regression/ @diffblue/cbmc-developers

CMakeLists.txt @reuk @chrisr-diffblue
cmake/ @reuk @chrisr-diffblue

scripts/ @diffblue/devops @thk123 @forejtv @peterschrammel
.travis.yml @diffblue/devops @thk123 @forejtv @peterschrammel
appveyor.yml @diffblue/devops @thk123 @forejtv @peterschrammel

Use multi-argument form of FILE command
  scripts/glucose_CMakeLists.txt
  scripts/minisat2_CMakeLists.txt
  src/analyses/CMakeLists.txt
  src/ansi-c/CMakeLists.txt
  src/assembler/CMakeLists.txt
  src/cbmc/CMakeLists.txt
  src/clobber/CMakeLists.txt
  src/cpp/CMakeLists.txt
  src/goto-analyzer/CMakeLists.txt
  src/goto-cc/CMakeLists.txt
  src/goto-diff/CMakeLists.txt
  src/goto-instrument/CMakeLists.txt
  src/goto-programs/CMakeLists.txt
  src/goto-symex/CMakeLists.txt
  src/java_bytecode/CMakeLists.txt
  src/jbmc/CMakeLists.txt
  src/jsil/CMakeLists.txt
  src/json/CMakeLists.txt
  src/langapi/CMakeLists.txt
  src/linking/CMakeLists.txt
  src/memory-models/CMakeLists.txt
  src/miniz/CMakeLists.txt
  src/pointer-analysis/CMakeLists.txt
  src/solvers/CMakeLists.txt
  src/util/CMakeLists.txt
  src/xmllang/CMakeLists.txt
  unit/CMakeLists.txt
Owners: @diffblue/devops, @thk123, @forejtv, @peterschrammel, @reuk, @chrisr-diffblue

Axt: exprt wrapper for logical operations
  src/solvers/refinement/axt.h
Owners: @martin-cs, @romainbrenguier, @peterschrammel

Use axt in concat implementation
  src/solvers/refinement/string_constraint_generator_concat.cpp
Owners: @martin-cs, @romainbrenguier, @peterschrammel

Remove too tight precondition in evaluator that was causing an invariant violation in some cases.
  src/goto-programs/interpreter_evaluate.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Fix location of show-symbol-table
  src/clobber/clobber_parse_options.cpp
  src/goto-analyzer/goto_analyzer_parse_options.cpp
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue, @martin-cs

Split goto_function_templatet into a separate file
  src/goto-programs/goto_function_template.h
  src/goto-programs/goto_functions_template.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Don't store pointers to map internals in lazy_methods
  src/java_bytecode/ci_lazy_methods.cpp
  src/java_bytecode/ci_lazy_methods.h
  src/java_bytecode/java_bytecode_convert_class.cpp
  src/java_bytecode/java_bytecode_language.cpp
  src/java_bytecode/java_bytecode_language.h
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Fixups for ccache configuration in travis
  .travis.yml
Owners: @diffblue/devops, @thk123, @forejtv, @peterschrammel

Add type parameters in signatures as dependencies
  src/java_bytecode/java_bytecode_convert_method.cpp
  src/java_bytecode/java_bytecode_parser.cpp
  src/java_bytecode/java_types.cpp
  src/java_bytecode/java_types.h
  src/java_bytecode/java_utils.cpp
  src/java_bytecode/java_utils.h
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Add regression tests for generic type arg dependencies
  regression/cbmc-java/generics_type_param/FWrapper.class
  regression/cbmc-java/generics_type_param/GenericFields$SimpleGenericField.class
  regression/cbmc-java/generics_type_param/GenericFields.class
  regression/cbmc-java/generics_type_param/GenericFields.java
  regression/cbmc-java/generics_type_param/IWrapper.class
  regression/cbmc-java/generics_type_param/SimpleWrapper.class
  regression/cbmc-java/generics_type_param/test.desc
Owners: @diffblue/cbmc-developers

Simplify equalities of constants
  src/util/simplify_expr_int.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Tests for simplifying ID_string equalities
  regression/cbmc-java/virtual8/A.class
  regression/cbmc-java/virtual8/B.class
  regression/cbmc-java/virtual8/C.class
  regression/cbmc-java/virtual8/D.class
  regression/cbmc-java/virtual8/E.class
  regression/cbmc-java/virtual8/Test.class
  regression/cbmc-java/virtual8/Test.java
  regression/cbmc-java/virtual8/test.desc
  regression/cbmc-java/virtual9/A.class
  regression/cbmc-java/virtual9/B.class
  regression/cbmc-java/virtual9/C.class
  regression/cbmc-java/virtual9/D.class
  regression/cbmc-java/virtual9/E.class
  regression/cbmc-java/virtual9/Test.class
  regression/cbmc-java/virtual9/Test.java
  regression/cbmc-java/virtual9/test.desc
Owners: @diffblue/cbmc-developers

Remove obsolete equal/notequal cases in simplify_expr
  src/util/simplify_expr_int.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Cleanup travis file to keep compiler options seperate.
  .travis.yml
Owners: @diffblue/devops, @thk123, @forejtv, @peterschrammel

Introduce lazy_goto_modelt
  src/goto-programs/goto_functions_template.h
  src/goto-programs/lazy_goto_model.cpp
  src/goto-programs/lazy_goto_model.h
  src/goto-programs/rebuild_goto_start_function.cpp
  src/goto-programs/rebuild_goto_start_function.h
  src/jbmc/jbmc_parse_options.cpp
  src/jbmc/jbmc_parse_options.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli, @mgudemann, @cristina-david, @cesaro

Allow convert_lazy_method on functions that don't have a lazy body
  src/util/language_file.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Make goto_convert_functions not add directly to function map
  src/goto-cc/compile.cpp
  src/goto-programs/goto_convert_functions.cpp
  src/goto-programs/goto_convert_functions.h
Owners: @kroening, @tautschnig, @smowton, @peterschrammel, @pkesseli

Don't mutate parameters in numbering class
  src/analyses/invariant_set.cpp
  src/solvers/flattening/boolbv_get.cpp
  src/util/numbering.h
  src/util/union_find.h
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @thk123, @smowton, @kroening, @tautschnig, @pkesseli

Object numbering: Switch typedef to using
  src/util/numbering.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Object numbering: Add trailing underscores for data members
  src/util/numbering.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Object numbering: Remove function call operator
  src/analyses/custom_bitvector_analysis.cpp
  src/solvers/flattening/boolbv_constant.cpp
  src/util/numbering.h
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @thk123, @smowton, @kroening, @tautschnig, @pkesseli

Object numbering: Remove duplication
  src/util/numbering.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Added lazy_goto_functions_mapt
  src/goto-programs/lazy_goto_functions_map.h
  src/util/type_traits.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Allow post-processing functions to run on a function-by-function basis
  src/goto-diff/goto_diff_parse_options.cpp
  src/goto-programs/remove_asm.cpp
  src/goto-programs/remove_asm.h
  src/goto-programs/remove_instanceof.cpp
  src/goto-programs/remove_instanceof.h
  src/goto-symex/adjust_float_expressions.cpp
  src/goto-symex/adjust_float_expressions.h
  src/goto-symex/rewrite_union.cpp
  src/goto-symex/rewrite_union.h
Owners: @tautschnig, @peterschrammel, @smowton, @kroening, @pkesseli

Test for the cproverNondetInitialize feature
  regression/cbmc-java/NondetInitValidate/Test.class
  regression/cbmc-java/NondetInitValidate/Test.java
  regression/cbmc-java/NondetInitValidate/test.desc
Owners: @diffblue/cbmc-developers

Add call to cproverNondetInitialize in nondet-init
  src/java_bytecode/java_object_factory.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Load cproverNondetInitialize with lazy-methods
  src/java_bytecode/ci_lazy_methods_needed.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Test for cproverNondetInitialize with lazy-methods
  regression/cbmc-java/NondetInitValidate/test_lazy.desc
Owners: @diffblue/cbmc-developers

Adapt cproverNondetInitialize call for static case
  src/java_bytecode/java_object_factory.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Use lazy_goto_functions_mapt in lazy_goto_modelt
  src/goto-programs/lazy_goto_functions_map.h
  src/goto-programs/lazy_goto_model.cpp
  src/goto-programs/lazy_goto_model.h
  src/jbmc/jbmc_parse_options.cpp
  src/jbmc/jbmc_parse_options.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli, @mgudemann, @cristina-david, @cesaro

Do type-checking as a function pass
  src/java_bytecode/java_bytecode_convert_method.cpp
  src/java_bytecode/java_bytecode_convert_method.h
  src/java_bytecode/java_bytecode_convert_method_class.h
  src/java_bytecode/java_bytecode_instrument.cpp
  src/java_bytecode/java_bytecode_language.cpp
  src/java_bytecode/java_bytecode_typecheck.cpp
  src/java_bytecode/java_bytecode_typecheck.h
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Move string refinement out of final
  src/java_bytecode/java_bytecode_language.cpp
  src/java_bytecode/java_string_library_preprocess.cpp
  src/java_bytecode/java_string_library_preprocess.h
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Moved call to final to lazy_goto_modelt
  src/goto-programs/Makefile
  src/goto-programs/lazy_goto_model.cpp
  src/goto-programs/lazy_goto_model.h
  src/jbmc/jbmc_parse_options.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli, @mgudemann, @cristina-david, @cesaro

Fix indentation broken by moving out catching of exceptions
  src/jbmc/jbmc_parse_options.cpp
Owners: @smowton, @mgudemann, @cristina-david, @cesaro, @pkesseli, @peterschrammel

Allow to remove instanceof when remove exceptions
  src/goto-programs/remove_exceptions.cpp
  src/goto-programs/remove_exceptions.h
  src/jbmc/jbmc_parse_options.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli, @mgudemann, @cristina-david, @cesaro

Recreate initialize in final
  src/java_bytecode/java_bytecode_language.cpp
  src/java_bytecode/java_entry_point.cpp
  src/java_bytecode/java_entry_point.h
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Update load_all_functions
  src/goto-programs/lazy_goto_model.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Encapsulate maps in language_filest
  src/goto-cc/compile.cpp
  src/goto-programs/initialize_goto_model.cpp
  src/goto-programs/lazy_goto_functions_map.h
  src/goto-programs/lazy_goto_model.cpp
  src/langapi/language_ui.cpp
  src/util/language_file.h
Owners: @kroening, @tautschnig, @smowton, @peterschrammel, @pkesseli

Tests for functions loaded from goto binaries
  regression/goto-cc-cbmc/check-asm-removed/main.c
  regression/goto-cc-cbmc/check-asm-removed/test.desc
  regression/goto-cc-cbmc/check-fps-removed/main.c
  regression/goto-cc-cbmc/check-fps-removed/test.desc
Owners: @diffblue/cbmc-developers

Always fault in main function
  src/goto-programs/lazy_goto_functions_map.h
  src/java_bytecode/java_bytecode_language.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli, @mgudemann, @thk123, @cristina-david, @cesaro, @NathanJPhillips
