Repository diffblue/cbmc, changes with the owners that CODEOWNERS names for each.
All owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue, @martin-cs, @mgudemann, @pkesseli, @romainbrenguier, @thk123, @cristina-david, @cesaro, @NathanJPhillips, @diffblue/cbmc-developers, @reuk, @diffblue/devops, @forejtv

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*       @kroening @tautschnig @peterschrammel @smowton @chrisr-diffblue

# These files should rarely change

src/big-int/ @kroening
src/ansi-c/ @kroening @tautschnig
src/assembler/ @kroening @tautschnig
src/goto-cc/ @kroening @tautschnig
src/linking/ @kroening @tautschnig
src/memory-models/ @kroening @tautschnig
src/goto-symex/ @kroening @tautschnig @peterschrammel
src/json/ @kroening @tautschnig @peterschrammel
src/langapi/ @kroening @tautschnig @peterschrammel
src/xmllang/ @kroening @tautschnig @peterschrammel
src/nonstd/ @smowton @peterschrammel
src/solvers/cvc @martin-cs @kroening
src/solvers/flattening @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/floatbv @martin-cs @kroening
src/solvers/miniBDD @tautschnig @kroening
src/solvers/prop @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/sat @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/smt2 @martin-cs @tautschnig @peterschrammel
src/miniz/ @smowton @mgudemann @peterschrammel


# These files change frequently and changes are high-risk

src/cbmc/ @smowton @kroening @tautschnig @peterschrammel
src/goto-programs/ @smowton @kroening @tautschnig @peterschrammel @pkesseli
src/util/ @smowton @kroening @tautschnig @peterschrammel @pkesseli
src/solvers/refinement @martin-cs @romainbrenguier @peterschrammel
src/java_bytecode/ @smowton @mgudemann @thk123 @cristina-david @cesaro @pkesseli @NathanJPhillips @peterschrammel
src/analyses/ @martin-cs @peterschrammel @chrisr-diffblue @thk123 @smowton
src/pointer-analysis/ @martin-cs @peterschrammel @chrisr-diffblue @smowton


# These files change frequently and changes are medium-risk

src/goto-analyzer/ @martin-cs @chrisr-diffblue @peterschrammel
src/goto-instrument/ @martin-cs @chrisr-diffblue @peterschrammel
src/goto-diff/ @tautschnig @peterschrammel
src/jbmc/ @smowton @mgudemann @cristina-david @cesaro @pkesseli @peterschrammel
src/cpp/ @kroening @tautschnig @peterschrammel


# These files change frequently and changes are low-risk

unit/ @diffblue/cbmc-developers
regression/ @diffblue/cbmc-developers

CMakeLists.txt @reuk @chrisr-diffblue
cmake/ @reuk @chrisr-diffblue

scripts/ @diffblue/devops @thk123 @forejtv @peterschrammel
.travis.yml @diffblue/devops @thk123 @forejtv @peterschrammel
appveyor.yml @diffblue/devops @thk123 @forejtv @peterschrammel

Add doxygen to add-failed-symbols
  src/pointer-analysis/add_failed_symbols.cpp
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @smowton

Provide a journalling symbol table to process-goto-function
  src/goto-programs/convert_nondet.cpp
  src/goto-programs/convert_nondet.h
  src/goto-programs/goto_convert.cpp
  src/goto-programs/goto_convert.h
  src/goto-programs/goto_convert_class.h
  src/goto-programs/goto_convert_functions.cpp
  src/goto-programs/goto_convert_functions.h
  src/goto-programs/goto_model.h
  src/goto-programs/lazy_goto_functions_map.h
  src/goto-programs/lazy_goto_model.cpp
  src/goto-programs/remove_instanceof.cpp
  src/goto-programs/remove_instanceof.h
  src/goto-programs/remove_returns.cpp
  src/goto-programs/remove_returns.h
  src/goto-programs/remove_virtual_functions.cpp
  src/goto-programs/remove_virtual_functions.h
  src/java_bytecode/java_bytecode_language.cpp
  src/java_bytecode/java_bytecode_language.h
  src/jbmc/jbmc_parse_options.cpp
  src/util/journalling_symbol_table.h
  src/util/language.h
  src/util/language_file.cpp
  src/util/language_file.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli, @mgudemann, @thk123, @cristina-david, @cesaro, @NathanJPhillips

Provide function name in goto_model_functiont
  src/goto-programs/goto_model.h
  src/goto-programs/lazy_goto_functions_map.h
  src/goto-programs/lazy_goto_model.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Rename test case
  regression/cbmc-java/NondetInit/Test.class
  regression/cbmc-java/NondetInit/Test.java
  regression/cbmc-java/NondetInit/test.desc
  regression/cbmc-java/NondetInit/test_lazy.desc
Owners: @diffblue/cbmc-developers

Java: run nondet-initialize method *after* initialization
  regression/cbmc-java/NondetInit2/Test.class
  regression/cbmc-java/NondetInit2/Test.java
  regression/cbmc-java/NondetInit2/test.desc
  regression/cbmc-java/NondetInit3/Subclass.class
  regression/cbmc-java/NondetInit3/Test.class
  regression/cbmc-java/NondetInit3/Test.java
  regression/cbmc-java/NondetInit3/test.desc
  src/java_bytecode/java_object_factory.cpp
Owners: @diffblue/cbmc-developers, @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Split string generator axioms into separate vectors
  src/solvers/refinement/string_constraint_generator.h
  src/solvers/refinement/string_constraint_generator_code_points.cpp
  src/solvers/refinement/string_constraint_generator_comparison.cpp
  src/solvers/refinement/string_constraint_generator_concat.cpp
  src/solvers/refinement/string_constraint_generator_constants.cpp
  src/solvers/refinement/string_constraint_generator_float.cpp
  src/solvers/refinement/string_constraint_generator_indexof.cpp
  src/solvers/refinement/string_constraint_generator_main.cpp
  src/solvers/refinement/string_constraint_generator_testing.cpp
  src/solvers/refinement/string_constraint_generator_transformation.cpp
  src/solvers/refinement/string_constraint_generator_valueof.cpp
  src/solvers/refinement/string_refinement.cpp
Owners: @martin-cs, @romainbrenguier, @peterschrammel

Adapt unit tests for splitted axiom vectors
  unit/solvers/refinement/string_constraint_instantiation/instantiate_not_contains.cpp
Owners: @diffblue/cbmc-developers

Cleanup unused fields in string refinement
  src/solvers/refinement/string_refinement.h
Owners: @martin-cs, @romainbrenguier, @peterschrammel

Refactor huge convert function into instruction specific ones
  src/goto-programs/json_goto_trace.cpp
  src/goto-programs/json_goto_trace.h
  src/util/ui_message.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Add test for multiple array types in single method
  regression/cbmc-java/lazyloading_multiple_array_types/A.class
  regression/cbmc-java/lazyloading_multiple_array_types/A.java
  regression/cbmc-java/lazyloading_multiple_array_types/B.class
  regression/cbmc-java/lazyloading_multiple_array_types/B.java
  regression/cbmc-java/lazyloading_multiple_array_types/Test.class
  regression/cbmc-java/lazyloading_multiple_array_types/Test.java
  regression/cbmc-java/lazyloading_multiple_array_types/test.desc
Owners: @diffblue/cbmc-developers

CI lazy methods: re-explore array types with different element types
  src/java_bytecode/ci_lazy_methods.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Refactor jar loading
  src/java_bytecode/java_class_loader.cpp
  src/java_bytecode/java_class_loader.h
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Fixed CMake linker ODR violations caused by a regression-test
  src/java_bytecode/java_types.cpp
  src/java_bytecode/java_types.h
  unit/java_bytecode/java_utils_test.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel, @diffblue/cbmc-developers

Add constructors for having memory-loaded jar files This allows the jar_file class to load from a buffer (c array) as opposed to a file
  src/java_bytecode/jar_file.cpp
  src/java_bytecode/jar_file.h
  src/java_bytecode/mz_zip_archive.cpp
  src/java_bytecode/mz_zip_archive.h
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Internalize core models of the Java Class Library
  .gitignore
  regression/cbmc-java/coreModels/test.class
  regression/cbmc-java/coreModels/test.desc
  regression/cbmc-java/coreModels/test.java
  regression/jbmc-strings/java_append_char/test.desc
  src/java_bytecode/CMakeLists.txt
  src/java_bytecode/Makefile
  src/java_bytecode/java_bytecode_language.cpp
  src/java_bytecode/java_bytecode_language.h
  src/java_bytecode/java_class_loader.cpp
  src/java_bytecode/java_class_loader.h
  src/java_bytecode/library/CMakeLists.txt
  src/java_bytecode/library/Makefile
  src/java_bytecode/library/converter.cpp
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue, @diffblue/cbmc-developers, @reuk, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips

Refactor in remove_virtual_functions
  src/goto-programs/remove_virtual_functions.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Filter out virtual function with no type loaded
  src/goto-programs/remove_virtual_functions.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Regression test for remove_virtual_functions
  regression/jbmc-cover/remove-virtual-functions/MyHashMap$EntrySet.class
  regression/jbmc-cover/remove-virtual-functions/MyHashMap$KeySet.class
  regression/jbmc-cover/remove-virtual-functions/MyHashMap$UselessIterator.class
  regression/jbmc-cover/remove-virtual-functions/MyHashMap.class
  regression/jbmc-cover/remove-virtual-functions/MyHashMap.java
  regression/jbmc-cover/remove-virtual-functions/MyIterator.class
  regression/jbmc-cover/remove-virtual-functions/MyIterator.java
  regression/jbmc-cover/remove-virtual-functions/MySet.class
  regression/jbmc-cover/remove-virtual-functions/MySet.java
  regression/jbmc-cover/remove-virtual-functions/test.desc
Owners: @diffblue/cbmc-developers

Java string solver: ensure base types are loaded
  src/java_bytecode/java_bytecode_language.cpp
  src/java_bytecode/java_class_loader.cpp
  src/java_bytecode/java_class_loader.h
  src/java_bytecode/java_string_library_preprocess.cpp
  src/java_bytecode/java_string_library_preprocess.h
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Coverage: fully support instrumenting one function at a time
  src/goto-instrument/cover.cpp
  src/goto-instrument/cover.h
Owners: @martin-cs, @chrisr-diffblue, @peterschrammel

Add class-hierarchy variant based on grapht
  src/goto-programs/class_hierarchy.cpp
  src/goto-programs/class_hierarchy.h
  unit/Makefile
  unit/goto-programs/class_hierarchy_graph.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli, @diffblue/cbmc-developers

Use split_string in set_classpath
  src/util/config.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Do not use non-trivial system headers with --32
  regression/cbmc/Pointer_byte_extract5/main.c
  regression/cbmc/Pointer_byte_extract8/main.c
  regression/cbmc/address_space_size_limit2/test.c
Owners: @diffblue/cbmc-developers

Support for --16 on Visual Studio, no _WIN64 in 32-bit mode
  src/ansi-c/c_preprocess.cpp
Owners: @kroening, @tautschnig

C front-end: fix promotion order for types ranking lower than int
  regression/cbmc/Promotion4/main.c
  regression/cbmc/Promotion4/test.desc
  src/ansi-c/c_typecast.cpp
Owners: @diffblue/cbmc-developers, @kroening, @tautschnig

CI lazy methods: scan global initialisers for global references
  src/java_bytecode/ci_lazy_methods.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Move string literal initialisation into separate file
  src/java_bytecode/Makefile
  src/java_bytecode/java_bytecode_typecheck_expr.cpp
  src/java_bytecode/java_string_literals.cpp
  src/java_bytecode/java_string_literals.h
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Java frontend: create String an Class literals earlier
  src/java_bytecode/java_bytecode_convert_method.cpp
  src/java_bytecode/java_bytecode_language.cpp
  src/java_bytecode/java_bytecode_typecheck.h
  src/java_bytecode/java_bytecode_typecheck_expr.cpp
  src/java_bytecode/java_string_literals.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Fix Java ternary-compare against NaN
  regression/cbmc-java/isnan1/test.class
  regression/cbmc-java/isnan1/test.desc
  regression/cbmc-java/isnan1/test.java
  src/java_bytecode/java_bytecode_convert_method.cpp
Owners: @diffblue/cbmc-developers, @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Java frontend: create static initialiser globals ahead of time
  src/java_bytecode/CMakeLists.txt
  src/java_bytecode/Makefile
  src/java_bytecode/ci_lazy_methods.cpp
  src/java_bytecode/ci_lazy_methods_needed.cpp
  src/java_bytecode/java_bytecode_convert_method.cpp
  src/java_bytecode/java_bytecode_language.cpp
  src/java_bytecode/java_static_initializers.cpp
  src/java_bytecode/java_static_initializers.h
Owners: @reuk, @chrisr-diffblue, @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Fix Java core-models build script
  src/java_bytecode/CMakeLists.txt
  src/java_bytecode/library/CMakeLists.txt
Owners: @reuk, @chrisr-diffblue
