Repository diffblue/cbmc, changes with the owners that CODEOWNERS names for each.
All owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue, @martin-cs, @mgudemann, @pkesseli, @romainbrenguier, @thk123, @cristina-david, @cesaro, @NathanJPhillips, @diffblue/cbmc-developers, @reuk, @diffblue/devops, @forejtv

Add documentation to call graph
  src/analyses/call_graph.cpp
  src/analyses/call_graph.h
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @thk123, @smowton

Add call graph helpers
  src/analyses/Makefile
  src/analyses/call_graph_helpers.cpp
  src/analyses/call_graph_helpers.h
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @thk123, @smowton

Improve call graph unit tests
  unit/analyses/call_graph.cpp
Owners: @diffblue/cbmc-developers

Expose limited call graph via goto-instrument
  src/goto-instrument/goto_instrument_parse_options.cpp
  src/goto-instrument/goto_instrument_parse_options.h
Owners: @martin-cs, @chrisr-diffblue, @peterschrammel

Slice global inits: use improved call graph
  src/goto-programs/slice_global_inits.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Rename call graph constructors
  src/analyses/call_graph.h
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @thk123, @smowton

Refactoring in specialization of generic classes
  src/java_bytecode/Makefile
  src/java_bytecode/generate_java_generic_type.cpp
  src/java_bytecode/generate_java_generic_type.h
  src/java_bytecode/generic_arguments_name_builder.cpp
  src/java_bytecode/generic_arguments_name_builder.h
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Allows simplification of expressions containing non-const
  regression/goto-analyzer-simplify/simplify-complex-expression/main.c
  regression/goto-analyzer-simplify/simplify-complex-expression/test.desc
  regression/goto-analyzer-simplify/simplify-multiply-by-zero/main.c
  regression/goto-analyzer-simplify/simplify-multiply-by-zero/test.desc
  src/analyses/variable-sensitivity/abstract_object.cpp
Owners: @diffblue/cbmc-developers, @martin-cs, @peterschrammel, @chrisr-diffblue, @thk123, @smowton

Fix code style in abstract_object.cpp
  src/analyses/variable-sensitivity/abstract_object.cpp
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @thk123, @smowton

Add CProverString class for jbmc-strings tests
  regression/jbmc-strings/cprover/CProverString.class
  regression/jbmc-strings/cprover/CProverString.java
Owners: @diffblue/cbmc-developers

Add a CProverString class for string-smoke-tests
  regression/strings-smoke-tests/cprover/CProverString.class
  regression/strings-smoke-tests/cprover/CProverString.java
Owners: @diffblue/cbmc-developers

Deactivate preprocessing of charAt and substring
  src/java_bytecode/java_string_library_preprocess.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Use CProverString function in jbmc tests
  regression/jbmc-strings/StringLastIndexOf/Test.class
  regression/jbmc-strings/StringLastIndexOf/Test.java
  regression/jbmc-strings/StringMiscellaneous04/StringMiscellaneous04.class
  regression/jbmc-strings/StringMiscellaneous04/StringMiscellaneous04.java
  regression/jbmc-strings/SubString01/SubString01.class
  regression/jbmc-strings/SubString01/SubString01.java
  regression/jbmc-strings/java_char_array_init/test_init.class
  regression/jbmc-strings/java_char_array_init/test_init.java
  regression/jbmc-strings/java_concat/test_concat.class
  regression/jbmc-strings/java_concat/test_concat.java
Owners: @diffblue/cbmc-developers

Use CProverString functions in strings-smoke-tests
  regression/strings-smoke-tests/java_append_string/test_append_string.class
  regression/strings-smoke-tests/java_append_string/test_append_string.java
  regression/strings-smoke-tests/java_char_array/test_char_array.class
  regression/strings-smoke-tests/java_char_array/test_char_array.java
  regression/strings-smoke-tests/java_char_at/test_char_at.class
  regression/strings-smoke-tests/java_char_at/test_char_at.java
  regression/strings-smoke-tests/java_code_point/test_code_point.class
  regression/strings-smoke-tests/java_code_point/test_code_point.java
  regression/strings-smoke-tests/java_concat/test_concat.class
  regression/strings-smoke-tests/java_concat/test_concat.java
  regression/strings-smoke-tests/java_set_char_at/test_set_char_at.class
  regression/strings-smoke-tests/java_set_char_at/test_set_char_at.java
  regression/strings-smoke-tests/java_substring/test_substring.class
  regression/strings-smoke-tests/java_substring/test_substring.java
Owners: @diffblue/cbmc-developers

Access in empty array should be unconstrained
  src/solvers/refinement/string_refinement.cpp
Owners: @martin-cs, @romainbrenguier, @peterschrammel

Use a symbol generator to avoid name clashes
  src/solvers/refinement/string_refinement.cpp
Owners: @martin-cs, @romainbrenguier, @peterschrammel

Correct lower bound in String indexOf
  src/solvers/refinement/string_constraint_generator_indexof.cpp
Owners: @martin-cs, @romainbrenguier, @peterschrammel

Test for verification of the indexOf method
  regression/jbmc-strings/StringIndexOf/Test.class
  regression/jbmc-strings/StringIndexOf/Test.java
  regression/jbmc-strings/StringIndexOf/test.desc
  regression/jbmc-strings/StringIndexOf/test2.desc
  regression/jbmc-strings/StringIndexOf/test_thorough.desc
Owners: @diffblue/cbmc-developers

String classes should be public
  src/java_bytecode/java_string_library_preprocess.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Tidied up the generic specalised class copying the base class visibility
  src/java_bytecode/generate_java_generic_type.cpp
  src/java_bytecode/java_types.h
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Allows simplification of expressions containing non-const
  regression/goto-analyzer-simplify/simplify-complex-expression/main.c
  regression/goto-analyzer-simplify/simplify-complex-expression/test.desc
  regression/goto-analyzer-simplify/simplify-multiply-by-zero/main.c
  regression/goto-analyzer-simplify/simplify-multiply-by-zero/test.desc
  src/analyses/variable-sensitivity/abstract_object.cpp
Owners: @diffblue/cbmc-developers, @martin-cs, @peterschrammel, @chrisr-diffblue, @thk123, @smowton

Fix the problem where two static functions with the same name would cause the dependency graph to fail.
  src/goto-programs/read_goto_binary.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Add a test for the same-named static functions crashing dependence graph in the goto-analyser
  regression/goto-analyzer/dependence-graph6/file1.c
  regression/goto-analyzer/dependence-graph6/file2.c
  regression/goto-analyzer/dependence-graph6/main.c
  regression/goto-analyzer/dependence-graph6/test.desc
Owners: @diffblue/cbmc-developers

Fix the problem where two static functions with the same name would cause the dependency graph to fail.
  src/goto-programs/link_goto_model.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Fixes use of wrong identifier when pretty printing bitfield types
  src/ansi-c/type2name.cpp
Owners: @kroening, @tautschnig

Add a test for the same-named static functions crashing dependence graph in the goto-analyser
  regression/goto-analyzer/dependence-graph6/file1.c
  regression/goto-analyzer/dependence-graph6/file2.c
  regression/goto-analyzer/dependence-graph6/main.c
  regression/goto-analyzer/dependence-graph6/test.desc
Owners: @diffblue/cbmc-developers

Make goto_convert_functions not add directly to function map
  src/goto-cc/compile.cpp
  src/goto-programs/goto_convert_functions.cpp
  src/goto-programs/goto_convert_functions.h
Owners: @kroening, @tautschnig, @smowton, @peterschrammel, @pkesseli

Allow convert_lazy_method on functions that don't have a lazy body
  src/util/language_file.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Introduce lazy_goto_modelt
  src/goto-programs/Makefile
  src/goto-programs/goto_functions_template.h
  src/goto-programs/lazy_goto_model.cpp
  src/goto-programs/lazy_goto_model.h
  src/goto-programs/rebuild_goto_start_function.cpp
  src/goto-programs/rebuild_goto_start_function.h
  src/jbmc/jbmc_parse_options.cpp
  src/jbmc/jbmc_parse_options.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli, @mgudemann, @cristina-david, @cesaro

Allow post-processing functions to run on a function-by-function basis
  src/goto-diff/goto_diff_parse_options.cpp
  src/goto-programs/remove_asm.cpp
  src/goto-programs/remove_asm.h
  src/goto-programs/remove_instanceof.cpp
  src/goto-programs/remove_instanceof.h
  src/goto-symex/adjust_float_expressions.cpp
  src/goto-symex/adjust_float_expressions.h
  src/goto-symex/rewrite_union.cpp
  src/goto-symex/rewrite_union.h
Owners: @tautschnig, @peterschrammel, @smowton, @kroening, @pkesseli

Avoid crashing when --dependence-graph is used by correcting namespace scoping.
  src/goto-analyzer/goto_analyzer_parse_options.cpp
  src/goto-analyzer/goto_analyzer_parse_options.h
Owners: @martin-cs, @chrisr-diffblue, @peterschrammel

Update load_all_functions
  src/goto-programs/lazy_goto_model.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Recreate initialize in final
  src/java_bytecode/java_bytecode_language.cpp
  src/java_bytecode/java_entry_point.cpp
  src/java_bytecode/java_entry_point.h
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Always allow the main function not to have a body
  src/java_bytecode/ci_lazy_methods.cpp
  src/java_bytecode/java_entry_point.cpp
  src/java_bytecode/java_entry_point.h
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Don't erase symbol in java_bytecode_convert_methodt::convert
  src/java_bytecode/java_bytecode_convert_method.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Add lazy_goto_functions_mapt
  src/goto-programs/lazy_goto_functions_map.h
  src/goto-programs/lazy_goto_model.cpp
  src/goto-programs/lazy_goto_model.h
  src/jbmc/jbmc_parse_options.cpp
  src/jbmc/jbmc_parse_options.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli, @mgudemann, @cristina-david, @cesaro

Moved call to final to lazy_goto_modelt::finalize
  src/goto-programs/lazy_goto_functions_map.h
  src/goto-programs/lazy_goto_model.cpp
  src/util/symbol.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Encapsulate maps in language_filest
  src/goto-cc/compile.cpp
  src/goto-programs/initialize_goto_model.cpp
  src/goto-programs/lazy_goto_functions_map.h
  src/goto-programs/lazy_goto_model.cpp
  src/langapi/language_ui.cpp
  src/util/language_file.cpp
  src/util/language_file.h
Owners: @kroening, @tautschnig, @smowton, @peterschrammel, @pkesseli

Do type-checking as a function pass
  src/java_bytecode/java_bytecode_instrument.cpp
  src/java_bytecode/java_bytecode_language.cpp
  src/java_bytecode/java_bytecode_typecheck.cpp
  src/java_bytecode/java_bytecode_typecheck.h
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Do lowering of java_new as a function-level pass
  src/clobber/clobber_parse_options.cpp
  src/goto-analyzer/goto_analyzer_parse_options.cpp
  src/goto-diff/goto_diff_parse_options.cpp
  src/goto-programs/Makefile
  src/goto-programs/builtin_functions.cpp
  src/goto-programs/class_identifier.cpp
  src/goto-programs/class_identifier.h
  src/goto-programs/goto_convert.cpp
  src/goto-programs/goto_convert_class.h
  src/goto-programs/remove_java_new.cpp
  src/goto-programs/remove_java_new.h
  src/jbmc/jbmc_parse_options.cpp
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue, @martin-cs, @pkesseli, @mgudemann, @cristina-david, @cesaro

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*       @kroening @tautschnig @peterschrammel @smowton @chrisr-diffblue

# These files should rarely change

src/big-int/ @kroening
src/ansi-c/ @kroening @tautschnig
src/assembler/ @kroening @tautschnig
src/goto-cc/ @kroening @tautschnig
src/linking/ @kroening @tautschnig
src/memory-models/ @kroening @tautschnig
src/goto-symex/ @kroening @tautschnig @peterschrammel
src/json/ @kroening @tautschnig @peterschrammel
src/langapi/ @kroening @tautschnig @peterschrammel
src/xmllang/ @kroening @tautschnig @peterschrammel
src/nonstd/ @smowton @peterschrammel
src/solvers/cvc @martin-cs @kroening
src/solvers/flattening @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/floatbv @martin-cs @kroening
src/solvers/miniBDD @tautschnig @kroening
src/solvers/prop @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/sat @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/smt2 @martin-cs @tautschnig @peterschrammel
src/miniz/ @smowton @mgudemann @peterschrammel


# These files change frequently and changes are high-risk

src/cbmc/ @smowton @kroening @tautschnig @peterschrammel
src/goto-programs/ @smowton @kroening @tautschnig @peterschrammel @pkesseli
src/util/ @smowton @kroening @tautschnig @peterschrammel @pkesseli
src/solvers/refinement @martin-cs @romainbrenguier @peterschrammel
src/java_bytecode/ @smowton @mgudemann @thk123 @cristina-david @cesaro @pkesseli @NathanJPhillips @peterschrammel
src/analyses/ @martin-cs @peterschrammel @chrisr-diffblue @thk123 @smowton
src/pointer-analysis/ @martin-cs @peterschrammel @chrisr-diffblue @smowton


# These files change frequently and changes are medium-risk

src/goto-analyzer/ @martin-cs @chrisr-diffblue @peterschrammel
src/goto-instrument/ @martin-cs @chrisr-diffblue @peterschrammel
src/goto-diff/ @tautschnig @peterschrammel
src/jbmc/ @smowton @mgudemann @cristina-david @cesaro @pkesseli @peterschrammel
src/cpp/ @kroening @tautschnig @peterschrammel


# These files change frequently and changes are low-risk

unit/ @diffblue/cbmc-developers
regression/ @diffblue/cbmc-developers

CMakeLists.txt @reuk @chrisr-diffblue
cmake/ @reuk @chrisr-diffblue

scripts/ @diffblue/devops @thk123 @forejtv @peterschrammel
.travis.yml @diffblue/devops @thk123 @forejtv @peterschrammel
appveyor.yml @diffblue/devops @thk123 @forejtv @peterschrammel
