Repository diffblue/cbmc, changes with the owners that CODEOWNERS names for each.
All owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue, @martin-cs, @mgudemann, @pkesseli, @romainbrenguier, @thk123, @cristina-david, @cesaro, @NathanJPhillips, @diffblue/cbmc-developers, @reuk, @diffblue/devops, @forejtv

JBMC: remove return values on a per-function basis
  src/jbmc/jbmc_parse_options.cpp
Owners: @smowton, @mgudemann, @cristina-david, @cesaro, @pkesseli, @peterschrammel

Remove returns: support running per-function
  regression/cbmc/uncaught_exceptions_analysis1/main.c
  regression/cbmc/uncaught_exceptions_analysis1/test.desc
  src/goto-programs/remove_returns.cpp
  src/goto-programs/remove_returns.h
  src/java_bytecode/java_bytecode_convert_method.cpp
  src/java_bytecode/java_bytecode_convert_method.h
  src/java_bytecode/java_bytecode_convert_method_class.h
  src/java_bytecode/java_bytecode_language.cpp
  src/java_bytecode/java_bytecode_language.h
  src/java_bytecode/java_entry_point.cpp
Owners: @diffblue/cbmc-developers, @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli, @mgudemann, @thk123, @cristina-david, @cesaro, @NathanJPhillips

JBMC: run replace-Java-nondet on function-by-function basis
  src/goto-programs/replace_java_nondet.cpp
  src/goto-programs/replace_java_nondet.h
  src/jbmc/jbmc_parse_options.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli, @mgudemann, @cristina-david, @cesaro

Add comment suggested by @owen-jones-diffblue
  src/util/irep.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Use small intrusive pointer in irep
  src/util/cow.h
  src/util/irep.cpp
  src/util/irep.h
  src/util/small_shared_ptr.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

JBMC: run convert-nondet on a per-function basis
  src/goto-programs/convert_nondet.cpp
  src/goto-programs/convert_nondet.h
  src/jbmc/jbmc_parse_options.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli, @mgudemann, @cristina-david, @cesaro

dump-c: fix support of use-system-headers
  src/goto-instrument/dump_c_class.h
  src/goto-programs/system_library_symbols.cpp
  src/goto-programs/system_library_symbols.h
Owners: @martin-cs, @chrisr-diffblue, @peterschrammel, @smowton, @kroening, @tautschnig, @pkesseli

Cleanup of create-and-swap to emplace
  src/goto-programs/link_goto_model.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Attach class name to method symbol
  src/java_bytecode/java_bytecode_convert_method.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Compare access qualifiers in goto-diff
  src/goto-diff/syntactic_diff.cpp
Owners: @tautschnig, @peterschrammel

Basic tests for java goto-diff
  regression/goto-diff/java-deleted-function/new.jar
  regression/goto-diff/java-deleted-function/new/Test.java
  regression/goto-diff/java-deleted-function/old.jar
  regression/goto-diff/java-deleted-function/old/Test.java
  regression/goto-diff/java-deleted-function/test.desc
  regression/goto-diff/java-mod-comment/new.jar
  regression/goto-diff/java-mod-comment/new/Test.java
  regression/goto-diff/java-mod-comment/old.jar
  regression/goto-diff/java-mod-comment/old/Test.java
  regression/goto-diff/java-mod-comment/test.desc
  regression/goto-diff/java-mod-identifier/new.jar
  regression/goto-diff/java-mod-identifier/new/Test.java
  regression/goto-diff/java-mod-identifier/old.jar
  regression/goto-diff/java-mod-identifier/old/Test.java
  regression/goto-diff/java-mod-identifier/test.desc
  regression/goto-diff/java-mod-identifier2/new.jar
  regression/goto-diff/java-mod-identifier2/new/Test.java
  regression/goto-diff/java-mod-identifier2/old.jar
  regression/goto-diff/java-mod-identifier2/old/Test.java
  regression/goto-diff/java-mod-identifier2/test.desc
  regression/goto-diff/java-new-function/new.jar
  regression/goto-diff/java-new-function/new/Test.java
  regression/goto-diff/java-new-function/old.jar
  regression/goto-diff/java-new-function/old/Test.java
  regression/goto-diff/java-new-function/test.desc
  regression/goto-diff/java-no-change/new.jar
  regression/goto-diff/java-no-change/new/Test.java
  regression/goto-diff/java-no-change/old.jar
  regression/goto-diff/java-no-change/old/Test.java
  regression/goto-diff/java-no-change/test.desc
Owners: @diffblue/cbmc-developers

goto-diff tests for package name changes
  regression/goto-diff/java-add-package/new.jar
  regression/goto-diff/java-add-package/new/Test.java
  regression/goto-diff/java-add-package/old.jar
  regression/goto-diff/java-add-package/old/Test.java
  regression/goto-diff/java-add-package/test.desc
  regression/goto-diff/java-del-package/new.jar
  regression/goto-diff/java-del-package/new/Test.java
  regression/goto-diff/java-del-package/old.jar
  regression/goto-diff/java-del-package/old/Test.java
  regression/goto-diff/java-del-package/test.desc
  regression/goto-diff/java-mod-package/new.jar
  regression/goto-diff/java-mod-package/new/Test.java
  regression/goto-diff/java-mod-package/old.jar
  regression/goto-diff/java-mod-package/old/Test.java
  regression/goto-diff/java-mod-package/test.desc
Owners: @diffblue/cbmc-developers

Tests for scope changes for variables and functions
  regression/goto-diff/java-scope-change/new.jar
  regression/goto-diff/java-scope-change/new/Test.java
  regression/goto-diff/java-scope-change/old.jar
  regression/goto-diff/java-scope-change/old/Test.java
  regression/goto-diff/java-scope-change/test.desc
  regression/goto-diff/java-scope-change2/new.jar
  regression/goto-diff/java-scope-change2/new/Test.java
  regression/goto-diff/java-scope-change2/old.jar
  regression/goto-diff/java-scope-change2/old/Test.java
  regression/goto-diff/java-scope-change2/test.desc
  regression/goto-diff/java-scope-change3/new.jar
  regression/goto-diff/java-scope-change3/new/Test.java
  regression/goto-diff/java-scope-change3/old.jar
  regression/goto-diff/java-scope-change3/old/Test.java
  regression/goto-diff/java-scope-change3/test.desc
Owners: @diffblue/cbmc-developers

Expose MiniSAT's `interrupt()`
  src/solvers/sat/satcheck_minisat2.cpp
  src/solvers/sat/satcheck_minisat2.h
Owners: @martin-cs, @kroening, @tautschnig, @peterschrammel

Remove unapproved C++11 header warning.
  scripts/cpplint.py
Owners: @diffblue/devops, @thk123, @forejtv, @peterschrammel

added multi-ary xor_exprt
  src/util/std_expr.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Fix for the remove function pointers flag
  regression/goto-instrument/remove-function-pointers1/main.c
  regression/goto-instrument/remove-function-pointers1/test.desc
  src/goto-programs/remove_function_pointers.cpp
Owners: @diffblue/cbmc-developers, @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Fixes to exception handling behaviour
  regression/cbmc-java/exceptions26/A.class
  regression/cbmc-java/exceptions26/B.class
  regression/cbmc-java/exceptions26/test.class
  regression/cbmc-java/exceptions26/test.desc
  regression/cbmc-java/exceptions26/test.java
  regression/cbmc-java/exceptions27/A.class
  regression/cbmc-java/exceptions27/B.class
  regression/cbmc-java/exceptions27/test.class
  regression/cbmc-java/exceptions27/test.desc
  regression/cbmc-java/exceptions27/test.java
  src/goto-programs/remove_exceptions.cpp
Owners: @diffblue/cbmc-developers, @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Correct tests for String.indexOf
  regression/jbmc-strings/StringIndexOf/Test.class
  regression/jbmc-strings/StringIndexOf/Test.java
  regression/jbmc-strings/StringIndexOf/test.desc
  regression/jbmc-strings/StringIndexOf/test2.desc
Owners: @diffblue/cbmc-developers

ireps of type "ID_atomic_begin" and "ID_atomic_end" will now be properly displayed when the "show-symbol-table" flag is specified.
  src/ansi-c/expr2c.cpp
Owners: @kroening, @tautschnig

Fixes wrong invocation order for static initializers
  regression/cbmc-java/static_init_order/A.class
  regression/cbmc-java/static_init_order/B.class
  regression/cbmc-java/static_init_order/C.class
  regression/cbmc-java/static_init_order/static_init_order.class
  regression/cbmc-java/static_init_order/static_init_order.java
  regression/cbmc-java/static_init_order/test1.desc
  regression/cbmc-java/static_init_order/test2.desc
  src/java_bytecode/java_bytecode_convert_method.cpp
Owners: @diffblue/cbmc-developers, @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Refectors how CBMC interprets a codet thread-block
  src/goto-programs/goto_convert.cpp
  src/goto-programs/goto_convert_class.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Folder build/ ignored.
  .gitignore
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue

introduced propt::operator() instead of prop_solve
  src/solvers/prop/aig_prop.cpp
  src/solvers/prop/prop.h
  src/solvers/prop/prop_conv.cpp
  src/solvers/refinement/bv_refinement_loop.cpp
Owners: @martin-cs, @kroening, @tautschnig, @peterschrammel, @romainbrenguier

decision_proceduret::dec_solve is replaced by operator()
  src/cbmc/bmc.cpp
  src/cbmc/fault_localization.cpp
  src/goto-instrument/accelerate/scratch_program.cpp
  src/solvers/prop/cover_goals.cpp
  src/solvers/prop/minimize.cpp
  src/util/decision_procedure.cpp
  src/util/decision_procedure.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @martin-cs, @chrisr-diffblue, @pkesseli

JBMC: add property checks on a per-function basis
  src/analyses/goto_check.cpp
  src/analyses/goto_check.h
  src/goto-programs/lazy_goto_model.h
  src/jbmc/jbmc_parse_options.cpp
  src/jbmc/jbmc_parse_options.h
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @thk123, @smowton, @kroening, @tautschnig, @pkesseli, @mgudemann, @cristina-david, @cesaro

JSON streaming
  src/util/Makefile
  src/util/json.cpp
  src/util/json.h
  src/util/json_stream.cpp
  src/util/json_stream.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Base JSON UI message handler upon json_streamt
  src/util/message.h
  src/util/ui_message.cpp
  src/util/ui_message.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Use JSON streaming
  src/cbmc/all_properties.cpp
  src/cbmc/bmc.cpp
  src/cbmc/bmc_cover.cpp
  src/goto-programs/interpreter.cpp
  src/goto-programs/json_goto_trace.cpp
  src/goto-programs/json_goto_trace.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Intermediate changes to make it compile.
  src/util/json_stream.h
  src/util/message.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

JBMC: remove return values on a per-function basis
  src/jbmc/jbmc_parse_options.cpp
  src/jbmc/jbmc_parse_options.h
Owners: @smowton, @mgudemann, @cristina-david, @cesaro, @pkesseli, @peterschrammel

Remove returns: support running per-function
  regression/cbmc/uncaught_exceptions_analysis1/main.c
  regression/cbmc/uncaught_exceptions_analysis1/test.desc
  src/goto-programs/lazy_goto_functions_map.h
  src/goto-programs/lazy_goto_model.cpp
  src/goto-programs/lazy_goto_model.h
  src/goto-programs/remove_returns.cpp
  src/goto-programs/remove_returns.h
  src/java_bytecode/java_entry_point.cpp
  src/util/irep_ids.def
  src/util/language_file.h
  unit/testing-utils/load_java_class.cpp
Owners: @diffblue/cbmc-developers, @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli, @mgudemann, @thk123, @cristina-david, @cesaro, @NathanJPhillips

JBMC: run replace-Java-nondet on function-by-function basis
  src/goto-programs/replace_java_nondet.cpp
  src/goto-programs/replace_java_nondet.h
  src/jbmc/jbmc_parse_options.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli, @mgudemann, @cristina-david, @cesaro

JBMC: run convert-nondet on a per-function basis
  src/goto-programs/convert_nondet.cpp
  src/goto-programs/convert_nondet.h
  src/jbmc/jbmc_parse_options.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli, @mgudemann, @cristina-david, @cesaro

JBMC: add property checks on a per-function basis
  src/analyses/goto_check.cpp
  src/analyses/goto_check.h
  src/goto-programs/lazy_goto_model.h
  src/jbmc/jbmc_parse_options.cpp
  src/jbmc/jbmc_parse_options.h
Owners: @martin-cs, @peterschrammel, @chrisr-diffblue, @thk123, @smowton, @kroening, @tautschnig, @pkesseli, @mgudemann, @cristina-david, @cesaro

JBMC: adjust float expressions per function
  src/jbmc/jbmc_parse_options.cpp
Owners: @smowton, @mgudemann, @cristina-david, @cesaro, @pkesseli, @peterschrammel

Journalling symbol table: enable nesting
  src/util/journalling_symbol_table.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Java: infer opaque type fields before method conversion
  src/java_bytecode/java_bytecode_language.cpp
  src/java_bytecode/java_bytecode_typecheck_expr.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Implement necessary changes for goto-analyzer-develop branch.
  src/cbmc/all_properties.cpp
  src/cbmc/bmc.cpp
  src/goto-programs/interpreter.cpp
  src/goto-programs/json_goto_trace.cpp
  src/goto-programs/json_goto_trace.h
  src/symex/symex_cover.cpp
  src/util/json.cpp
  src/util/json.h
  src/util/json_stream.cpp
  src/util/json_stream.h
  src/util/message.h
  src/util/ui_message.cpp
  src/util/ui_message.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli, @chrisr-diffblue

JBMC: add failed symbols on a per-function basis
  src/jbmc/jbmc_parse_options.cpp
  src/pointer-analysis/add_failed_symbols.cpp
  src/pointer-analysis/add_failed_symbols.h
Owners: @smowton, @mgudemann, @cristina-david, @cesaro, @pkesseli, @peterschrammel, @martin-cs, @chrisr-diffblue

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*       @kroening @tautschnig @peterschrammel @smowton @chrisr-diffblue

# These files should rarely change

src/big-int/ @kroening
src/ansi-c/ @kroening @tautschnig
src/assembler/ @kroening @tautschnig
src/goto-cc/ @kroening @tautschnig
src/linking/ @kroening @tautschnig
src/memory-models/ @kroening @tautschnig
src/goto-symex/ @kroening @tautschnig @peterschrammel
src/json/ @kroening @tautschnig @peterschrammel
src/langapi/ @kroening @tautschnig @peterschrammel
src/xmllang/ @kroening @tautschnig @peterschrammel
src/nonstd/ @smowton @peterschrammel
src/solvers/cvc @martin-cs @kroening
src/solvers/flattening @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/floatbv @martin-cs @kroening
src/solvers/miniBDD @tautschnig @kroening
src/solvers/prop @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/sat @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/smt2 @martin-cs @tautschnig @peterschrammel
src/miniz/ @smowton @mgudemann @peterschrammel


# These files change frequently and changes are high-risk

src/cbmc/ @smowton @kroening @tautschnig @peterschrammel
src/goto-programs/ @smowton @kroening @tautschnig @peterschrammel @pkesseli
src/util/ @smowton @kroening @tautschnig @peterschrammel @pkesseli
src/solvers/refinement @martin-cs @romainbrenguier @peterschrammel
src/java_bytecode/ @smowton @mgudemann @thk123 @cristina-david @cesaro @pkesseli @NathanJPhillips @peterschrammel
src/analyses/ @martin-cs @peterschrammel @chrisr-diffblue @thk123 @smowton
src/pointer-analysis/ @martin-cs @peterschrammel @chrisr-diffblue @smowton


# These files change frequently and changes are medium-risk

src/goto-analyzer/ @martin-cs @chrisr-diffblue @peterschrammel
src/goto-instrument/ @martin-cs @chrisr-diffblue @peterschrammel
src/goto-diff/ @tautschnig @peterschrammel
src/jbmc/ @smowton @mgudemann @cristina-david @cesaro @pkesseli @peterschrammel
src/cpp/ @kroening @tautschnig @peterschrammel


# These files change frequently and changes are low-risk

unit/ @diffblue/cbmc-developers
regression/ @diffblue/cbmc-developers

CMakeLists.txt @reuk @chrisr-diffblue
cmake/ @reuk @chrisr-diffblue

scripts/ @diffblue/devops @thk123 @forejtv @peterschrammel
.travis.yml @diffblue/devops @thk123 @forejtv @peterschrammel
appveyor.yml @diffblue/devops @thk123 @forejtv @peterschrammel
