Repository diffblue/cbmc, changes with the owners that CODEOWNERS names for each.
All owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue, @martin-cs, @mgudemann, @pkesseli, @romainbrenguier, @thk123, @cristina-david, @cesaro, @NathanJPhillips, @diffblue/cbmc-developers, @reuk, @diffblue/devops, @forejtv

remove deprecated constructors for three bitvector types
  src/util/std_types.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

no longer use deprecated constructors for some bitvector types
  src/ansi-c/padding.cpp
  src/solvers/flattening/boolbv_extractbit.cpp
  src/solvers/smt1/smt1_conv.cpp
  src/solvers/smt2/smt2_conv.cpp
Owners: @kroening, @tautschnig, @martin-cs, @peterschrammel, @smowton, @chrisr-diffblue

Use irept API, not implementation-level API
  src/goto-programs/json_goto_trace.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Add extra test for nondet-static flag and arrays
  regression/goto-instrument/no_nondet_const/main.c
  regression/goto-instrument/no_nondet_const/test.desc
Owners: @diffblue/cbmc-developers

Add constructors for having memory-loaded jar files
  src/java_bytecode/jar_file.cpp
  src/java_bytecode/jar_file.h
  src/java_bytecode/mz_zip_archive.cpp
  src/java_bytecode/mz_zip_archive.h
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

expr2c now distinguishes binary and multi-ary expressions
  src/ansi-c/expr2c.cpp
  src/ansi-c/expr2c_class.h
Owners: @kroening, @tautschnig

JBMC: Run remove-virtual-functions as each function is converted
  src/goto-programs/remove_virtual_functions.cpp
  src/goto-programs/remove_virtual_functions.h
  src/jbmc/jbmc_parse_options.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli, @mgudemann, @cristina-david, @cesaro

Introduce mechanism for renumbering an individual GOTO program
  src/goto-programs/goto_functions_template.h
  src/goto-programs/goto_model.h
  src/goto-programs/goto_program_template.h
  src/goto-programs/lazy_goto_model.cpp
  src/goto-programs/lazy_goto_model.h
  src/jbmc/jbmc_parse_options.cpp
  src/jbmc/jbmc_parse_options.h
  unit/testing-utils/load_java_class.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli, @mgudemann, @cristina-david, @cesaro, @diffblue/cbmc-developers

Unit test for string symbol resolution
  unit/Makefile
  unit/solvers/refinement/string_refinement/string_symbol_resolution.cpp
Owners: @diffblue/cbmc-developers

Debug information for string equations
  src/solvers/refinement/string_refinement.cpp
Owners: @martin-cs, @romainbrenguier, @peterschrammel

Adding only needed equations in symbol resolution
  src/solvers/refinement/string_refinement.cpp
  src/solvers/refinement/string_refinement.h
Owners: @martin-cs, @romainbrenguier, @peterschrammel

Use type_checked_cast in boolbv_width
  src/solvers/flattening/boolbv_width.cpp
Owners: @martin-cs, @kroening, @tautschnig, @peterschrammel

Add can_cast_type, validate_type for pointer_typet
  src/util/std_types.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Define type_try_dynamic_cast and type_checked_cast
  src/util/expr_cast.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Validate data in pointer_typet in to_pointer_typet
  src/util/std_types.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Drop string_non_empty field for string refinement
  src/cbmc/cbmc_solvers.cpp
  src/solvers/refinement/string_refinement.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @martin-cs, @romainbrenguier

Remove the string-non-empty option
  src/cbmc/cbmc_parse_options.cpp
  src/cbmc/cbmc_parse_options.h
  src/jbmc/jbmc_parse_options.cpp
  src/jbmc/jbmc_parse_options.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @mgudemann, @cristina-david, @cesaro, @pkesseli

PR fixes
  src/java_bytecode/jar_file.h
  src/java_bytecode/mz_zip_archive.cpp
  src/java_bytecode/mz_zip_archive.h
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Add parameter to list goto functions without printing bodies
  src/goto-programs/show_goto_functions_json.cpp
  src/goto-programs/show_goto_functions_json.h
  src/goto-programs/show_goto_functions_xml.cpp
  src/goto-programs/show_goto_functions_xml.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Enable list-goto-functions in CBMC
  src/cbmc/cbmc_parse_options.cpp
  src/cbmc/cbmc_parse_options.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel

Add list-goto-functions command line option
  src/goto-programs/show_goto_functions.cpp
  src/goto-programs/show_goto_functions.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Enable list-goto-functions in JBMC
  src/jbmc/jbmc_parse_options.cpp
  src/jbmc/jbmc_parse_options.h
Owners: @smowton, @mgudemann, @cristina-david, @cesaro, @pkesseli, @peterschrammel

Remove exceptions: switch to single inflight exception global
  src/goto-programs/remove_exceptions.cpp
  src/goto-programs/remove_exceptions.h
  src/java_bytecode/ci_lazy_methods.cpp
  src/java_bytecode/java_bytecode_internal_additions.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli, @mgudemann, @thk123, @cristina-david, @cesaro, @NathanJPhillips

Enable list-goto-functions in goto-analyzer
  src/goto-analyzer/goto_analyzer_parse_options.cpp
Owners: @martin-cs, @chrisr-diffblue, @peterschrammel

Enable list-goto-functions in goto-instrument
  src/goto-instrument/goto_instrument_parse_options.cpp
Owners: @martin-cs, @chrisr-diffblue, @peterschrammel

Enable list-goto-functions in goto diff
  src/goto-diff/goto_diff_parse_options.cpp
Owners: @tautschnig, @peterschrammel

Move show-loops in the right place in goto-diff
  src/goto-diff/goto_diff_parse_options.cpp
Owners: @tautschnig, @peterschrammel

Replace cout by message stream in show-goto-functions
  src/cbmc/cbmc_parse_options.cpp
  src/goto-diff/goto_diff_parse_options.cpp
  src/goto-instrument/goto_instrument_parse_options.cpp
  src/goto-programs/show_goto_functions.cpp
  src/goto-programs/show_goto_functions.h
  src/jbmc/jbmc_parse_options.cpp
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @martin-cs, @chrisr-diffblue, @pkesseli, @mgudemann, @cristina-david, @cesaro

Enable list-goto-functions in clobber
  src/clobber/clobber_parse_options.cpp
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue

Catch Minisat::OutOfMemoryException
  src/solvers/sat/satcheck_minisat2.cpp
Owners: @martin-cs, @kroening, @tautschnig, @peterschrammel

Catch Glucose::OutOfMemoryException
  src/solvers/sat/satcheck_glucose.cpp
Owners: @martin-cs, @kroening, @tautschnig, @peterschrammel

Replace assertions by invariants
  src/solvers/sat/satcheck_minisat2.cpp
Owners: @martin-cs, @kroening, @tautschnig, @peterschrammel

Replace assertions by invariants
  src/solvers/sat/satcheck_glucose.cpp
Owners: @martin-cs, @kroening, @tautschnig, @peterschrammel

Set memory limit utility
  src/util/Makefile
  src/util/memory_limit.cpp
  src/util/memory_limit.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @pkesseli

Move non-string-specific part of doc to solvers
  src/solvers/module.md
  src/solvers/refinement/README.md
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue, @martin-cs, @romainbrenguier

Delete trailing whitespaces
  src/solvers/refinement/README.md
Owners: @martin-cs, @romainbrenguier, @peterschrammel

Add introduction to string solver documentation
  src/solvers/refinement/README.md
Owners: @martin-cs, @romainbrenguier, @peterschrammel

Fixes use of wrong identifier when pretty printing bitfield types
  src/ansi-c/type2name.cpp
Owners: @kroening, @tautschnig

Adds regression test for bitfield naming bug
  regression/goto-instrument/bitfield_naming/main.c
  regression/goto-instrument/bitfield_naming/test.desc
Owners: @diffblue/cbmc-developers

Uses alternatives to get_string in type2name when possible
  src/ansi-c/type2name.cpp
Owners: @kroening, @tautschnig

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*       @kroening @tautschnig @peterschrammel @smowton @chrisr-diffblue

# These files should rarely change

src/big-int/ @kroening
src/ansi-c/ @kroening @tautschnig
src/assembler/ @kroening @tautschnig
src/goto-cc/ @kroening @tautschnig
src/linking/ @kroening @tautschnig
src/memory-models/ @kroening @tautschnig
src/goto-symex/ @kroening @tautschnig @peterschrammel
src/json/ @kroening @tautschnig @peterschrammel
src/langapi/ @kroening @tautschnig @peterschrammel
src/xmllang/ @kroening @tautschnig @peterschrammel
src/nonstd/ @smowton @peterschrammel
src/solvers/cvc @martin-cs @kroening
src/solvers/flattening @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/floatbv @martin-cs @kroening
src/solvers/miniBDD @tautschnig @kroening
src/solvers/prop @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/sat @martin-cs @kroening @tautschnig @peterschrammel
src/solvers/smt2 @martin-cs @tautschnig @peterschrammel
src/miniz/ @smowton @mgudemann @peterschrammel


# These files change frequently and changes are high-risk

src/cbmc/ @smowton @kroening @tautschnig @peterschrammel
src/goto-programs/ @smowton @kroening @tautschnig @peterschrammel @pkesseli
src/util/ @smowton @kroening @tautschnig @peterschrammel @pkesseli
src/solvers/refinement @martin-cs @romainbrenguier @peterschrammel
src/java_bytecode/ @smowton @mgudemann @thk123 @cristina-david @cesaro @pkesseli @NathanJPhillips @peterschrammel
src/analyses/ @martin-cs @peterschrammel @chrisr-diffblue @thk123 @smowton
src/pointer-analysis/ @martin-cs @peterschrammel @chrisr-diffblue @smowton


# These files change frequently and changes are medium-risk

src/goto-analyzer/ @martin-cs @chrisr-diffblue @peterschrammel
src/goto-instrument/ @martin-cs @chrisr-diffblue @peterschrammel
src/goto-diff/ @tautschnig @peterschrammel
src/jbmc/ @smowton @mgudemann @cristina-david @cesaro @pkesseli @peterschrammel
src/cpp/ @kroening @tautschnig @peterschrammel


# These files change frequently and changes are low-risk

unit/ @diffblue/cbmc-developers
regression/ @diffblue/cbmc-developers

CMakeLists.txt @reuk @chrisr-diffblue
cmake/ @reuk @chrisr-diffblue

scripts/ @diffblue/devops @thk123 @forejtv @peterschrammel
.travis.yml @diffblue/devops @thk123 @forejtv @peterschrammel
appveyor.yml @diffblue/devops @thk123 @forejtv @peterschrammel
