Repository diffblue/cbmc, changes with the owners that CODEOWNERS names for each.
All owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue, @romainbrenguier, @martin-cs, @mgudemann, @pkesseli, @thk123, @cristina-david, @cesaro, @NathanJPhillips, @danpoe, @owen-jones-diffblue, @hannes-steffenhagen-diffblue, @allredj, @diffblue/devops, @forejtv

CODEOWNERS:

# Code owners are expected to complete reviews with feedback to the PR author or
# approval within two weeks.
#
# These owners will be the default owners for everything in the repo.
*       @kroening @tautschnig @peterschrammel @smowton @chrisr-diffblue

# These files should rarely change

/src/big-int/ @kroening
/src/ansi-c/ @kroening @tautschnig @chrisr-diffblue
/src/assembler/ @kroening @tautschnig @chrisr-diffblue
/src/goto-cc/ @kroening @tautschnig @chrisr-diffblue
/src/linking/ @kroening @tautschnig @chrisr-diffblue
/src/memory-models/ @kroening @tautschnig
/src/goto-symex/ @kroening @tautschnig @peterschrammel @smowton @romainbrenguier
/src/json/ @kroening @tautschnig @peterschrammel
/src/langapi/ @kroening @tautschnig @peterschrammel
/src/xmllang/ @kroening @tautschnig @peterschrammel
/src/nonstd/ @smowton @peterschrammel
/src/solvers/flattening @martin-cs @kroening @tautschnig @peterschrammel
/src/solvers/floatbv @martin-cs @kroening
/src/solvers/miniBDD @tautschnig @kroening
/src/solvers/prop @martin-cs @kroening @tautschnig @peterschrammel
/src/solvers/sat @martin-cs @kroening @tautschnig @peterschrammel
/jbmc/src/miniz/ @smowton @mgudemann @peterschrammel


# These files change frequently and changes are high-risk

/src/cbmc/ @smowton @kroening @tautschnig @peterschrammel
/src/goto-programs/ @smowton @kroening @tautschnig @peterschrammel @pkesseli
/src/util/ @smowton @kroening @tautschnig @peterschrammel @pkesseli
/src/solvers/refinement @martin-cs @romainbrenguier @peterschrammel
/src/solvers/strings @martin-cs @romainbrenguier @peterschrammel
/jbmc/src/java_bytecode/ @smowton @mgudemann @thk123 @cristina-david @cesaro @pkesseli @NathanJPhillips @peterschrammel
/src/analyses/ @martin-cs @peterschrammel @chrisr-diffblue @thk123 @smowton @danpoe @owen-jones-diffblue
/src/pointer-analysis/ @martin-cs @peterschrammel @chrisr-diffblue @smowton @owen-jones-diffblue


# These files change frequently and changes are medium-risk

/src/goto-analyzer/ @martin-cs @chrisr-diffblue @peterschrammel @danpoe @hannes-steffenhagen-diffblue
/src/goto-harness/ @martin-cs @chrisr-diffblue @peterschrammel @danpoe @hannes-steffenhagen-diffblue
/src/goto-instrument/ @martin-cs @chrisr-diffblue @peterschrammel @danpoe @hannes-steffenhagen-diffblue @smowton
/src/goto-diff/ @tautschnig @peterschrammel
/jbmc/src/jbmc/ @smowton @mgudemann @cristina-david @cesaro @pkesseli @peterschrammel
/jbmc/src/janalyzer/ @smowton @mgudemann @cristina-david @cesaro @pkesseli @peterschrammel
/jbmc/src/jdiff/ @smowton @mgudemann @cristina-david @cesaro @pkesseli @peterschrammel
/src/cpp/ @kroening @tautschnig @peterschrammel
/src/solvers/smt2 @kroening @martin-cs @tautschnig @peterschrammel @allredj @romainbrenguier
/src/statement-list/ @kroening @tautschnig @peterschrammel @pkesseli

/cmake/        @hannes-steffenhagen-diffblue
CMakeLists.txt @hannes-steffenhagen-diffblue

# These files change frequently and changes are low-risk

/src/util/irep_ids.def

/unit/
/regression/
/jbmc/unit/
/jbmc/regression/

/scripts/ @diffblue/devops @thk123 @forejtv @peterschrammel
/scripts/expected_doxygen_warnings.txt

/.travis.yml @diffblue/devops @thk123 @forejtv @peterschrammel @chrisr-diffblue

Refactor out arguments to own perl script to avoid headache
  regression/cbmc-incr-oneloop/CMakeLists.txt
  regression/cbmc-incr-oneloop/timeout.pl
Owners: none

Skip broken cprover-smt2 tests on windows
  regression/cbmc/CMakeLists.txt
Owners: none

Exclude tests under cbmc-incr-oneloop/
  regression/cbmc-incr-oneloop/CMakeLists.txt
  regression/cbmc-incr-oneloop/alarm1/test.desc
  regression/cbmc-incr-oneloop/alarm3/test.desc
  regression/cbmc-incr-oneloop/cruise1/test.desc
  regression/goto-cc-instrument-cbmc/CMakeLists.txt
  regression/goto-cc-instrument-cbmc/identifier_names_illegal_characters/test.desc
  regression/goto-cl/CMakeLists.txt
  regression/goto-cl/Fo/Fo-no-directory.desc
Owners: none

Skip regression/solver-hardness/ test on windows
  regression/solver-hardness/CMakeLists.txt
  regression/solver-hardness/solver-hardness-simple/test.desc
Owners: none

Exclude object-bits/ tests that are known broken on windows
  regression/goto-cc-cbmc-shared-options/CMakeLists.txt
  regression/goto-cc-cbmc-shared-options/object-bits/fewer_bits.desc
  regression/goto-cc-cbmc-shared-options/object-bits/more_bits.desc
Owners: none

Exclude bugged jbmc/regression/jbmc/ tests on windows
  jbmc/regression/jbmc/CMakeLists.txt
  jbmc/regression/jbmc/array-cell-sensitivity-static-fields/test-char-array-ref-static-values.desc
  jbmc/regression/jbmc/array-cell-sensitivity-static-fields/test-char-array-ref.desc
  jbmc/regression/jbmc/array-cell-sensitivity-static-fields/test-char-array-static-values.desc
  jbmc/regression/jbmc/array-cell-sensitivity-static-fields/test-char-array1.desc
  jbmc/regression/jbmc/assume-inputs-interval/arg_assume_singleton.desc
  jbmc/regression/jbmc/enum/test_enum_switch.desc
  jbmc/regression/jbmc/nondet-array-size/test.desc
  jbmc/regression/jbmc/nondet-static/test.desc
  jbmc/regression/jbmc/parameter-annotation-not-null/test_kotlin.desc
Owners: none

Mark tests under regression/systemc/ as winbug.
  regression/systemc/Array2/test.desc
  regression/systemc/Array3/test.desc
  regression/systemc/Array4/test.desc
  regression/systemc/BitvectorCpp1/test.desc
  regression/systemc/BitvectorCpp2/test.desc
  regression/systemc/BitvectorSc3/test.desc
  regression/systemc/CMakeLists.txt
  regression/systemc/EqualOp3/test.desc
  regression/systemc/ForwardDecl1/test.desc
  regression/systemc/FunTempl1/test.desc
  regression/systemc/Masc1/test.desc
  regression/systemc/MascInst1/test.desc
  regression/systemc/Reference1/test.desc
  regression/systemc/This1/test.desc
  regression/systemc/Tuple1/test.desc
  regression/systemc/Tuple2/test.desc
Owners: none

Exclude known windows broken tests under cpp/
  regression/cpp/CMakeLists.txt
  regression/cpp/Function_Overloading3/test.desc
  regression/cpp/Method_qualifier1/test.desc
  regression/cpp/Unary_Function_Overload1/test.desc
  regression/cpp/Unary_Function_Overload2/test.desc
  regression/cpp/Unary_Function_Overload3/test.desc
  regression/cpp/auto1/test.desc
  regression/cpp/enum5/test.desc
  regression/cpp/switch1/test.desc
Owners: none

Skip tests under regression/goto-cc-file-local/ on windows
  regression/goto-cc-file-local/CMakeLists.txt
Owners: none

Exclude windows broken tests under regression/cbmc-cpp/
  regression/cbmc-cpp/CMakeLists.txt
  regression/cbmc-cpp/cpp-new/test.desc
  regression/cbmc-cpp/cpp1/test.desc
  regression/cbmc-cpp/lvalue1/test.desc
Owners: none

Default to msbuild on Windows
  .github/workflows/vs2019/build-cbmc.bat
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue

Exclude goto-harness known bugs under windows
  regression/goto-harness-multi-file-project/CMakeLists.txt
  regression/goto-harness-multi-file-project/static_functions/test.desc
  regression/goto-harness-multi-file-project/static_symbols_referencing/test.desc
Owners: none

Add a basic readme.md to the regression folder.
  regression/readme.md
Owners: none

Exclude test profile on windows for regression/jbmc-strings/
  jbmc/regression/jbmc-concurrency/CMakeLists.txt
  jbmc/regression/jbmc-concurrency/synchronized/test.desc
  jbmc/regression/jbmc-strings/CMakeLists.txt
Owners: none

Change path for executables in package builder schema.
  .github/workflows/vs2019/cbmc-latest.wxs
  .github/workflows/vs2019/cbmc.wxs
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue

Fix double-free bug in stdlib models with --malloc-fail-null
  regression/cbmc/realloc-should-not-free-on-failure-to-allocate/test.c
  regression/cbmc/realloc-should-not-free-on-failure-to-allocate/test.desc
  src/ansi-c/library/stdlib.c
Owners: @kroening, @tautschnig, @chrisr-diffblue

Add installation instructions for Linux to README.md
  README.md
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue

Change regular release script to perform release on tag upload.
  .github/workflows/regular-release.yaml
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue

Add an ADR describing our release process.
  doc/ADR/README.md
  doc/ADR/release_process.md
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue

Update CBMC version to 5.16.0
  src/config.inc
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue

Remove line breaks from the body of the text on the release page.
  .github/workflows/regular-release.yaml
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue

Make capitalization consistent on release page.
  .github/workflows/regular-release.yaml
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue

Introduce reference to avoid unneeded copy.
  jbmc/src/java_bytecode/lambda_synthesis.cpp
Owners: @smowton, @mgudemann, @thk123, @cristina-david, @cesaro, @pkesseli, @NathanJPhillips, @peterschrammel

Extends ansi_c_declarationt to include accessors for assigns clauses
  src/ansi-c/ansi_c_declaration.h
  src/ansi-c/c_typecheck_base.cpp
Owners: @kroening, @tautschnig, @chrisr-diffblue

Cleans-up all regression tests for assigns clauses
  regression/contracts/assigns_enforce_01/main.c
  regression/contracts/assigns_enforce_02/main.c
  regression/contracts/assigns_enforce_03/main.c
  regression/contracts/assigns_enforce_04/main.c
  regression/contracts/assigns_enforce_05/main.c
  regression/contracts/assigns_enforce_06/main.c
  regression/contracts/assigns_enforce_07/main.c
  regression/contracts/assigns_enforce_08/main.c
  regression/contracts/assigns_enforce_08/test.desc
  regression/contracts/assigns_enforce_09/main.c
  regression/contracts/assigns_enforce_10/main.c
  regression/contracts/assigns_enforce_11/main.c
  regression/contracts/assigns_enforce_12/main.c
  regression/contracts/assigns_enforce_13/main.c
  regression/contracts/assigns_enforce_14/main.c
  regression/contracts/assigns_enforce_14/test.desc
  regression/contracts/assigns_enforce_malloc_01/main.c
  regression/contracts/assigns_enforce_malloc_02/main.c
  regression/contracts/assigns_enforce_malloc_02/test.desc
  regression/contracts/assigns_enforce_scoping_01/main.c
  regression/contracts/assigns_enforce_scoping_02/main.c
  regression/contracts/assigns_replace_01/main.c
  regression/contracts/assigns_replace_01/test.desc
  regression/contracts/assigns_replace_05/test.desc
  regression/contracts/function_check_01/test.desc
Owners: none

Improves documentation for assigns clause support
  doc/cprover-manual/assigns-clause.md
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue

Cleans-up the implementation to support assigns clauses
  regression/contracts/assigns_enforce_malloc_02/test.desc
  src/ansi-c/c_typecheck_code.cpp
  src/ansi-c/c_typecheck_expr.cpp
  src/goto-instrument/code_contracts.cpp
  src/goto-instrument/code_contracts.h
Owners: @kroening, @tautschnig, @chrisr-diffblue, @martin-cs, @peterschrammel, @danpoe, @hannes-steffenhagen-diffblue, @smowton

Update CBMC to version 5.17.0
  src/config.inc
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @chrisr-diffblue
