Repository diffblue/cbmc, changes with the owners that CODEOWNERS names for each.
All owners: @kroening, @tautschnig, @peterschrammel, @chris-ryder, @jimgrundy, @TGWDB, @nlightnfotis, @remi-delmas-3000, @romainbrenguier, @martin-cs, @qinheping, @NlightNFotis, @thomasspriggs, @esteffin, @feliperodri, @diffblue/diffblue-opensource

CODEOWNERS:

# Code owners are expected to complete reviews with feedback to the PR author or
# approval within two weeks.
#
# These owners will be the default owners for everything in the repo.
*       @kroening @tautschnig @peterschrammel @chris-ryder

# Documentation can be reviewed by people with broad project responsibility

/doc/ @jimgrundy @TGWDB @kroening @tautschnig @peterschrammel @nlightnfotis


# These files should rarely change

/src/big-int/ @kroening
/src/ansi-c/ @kroening @tautschnig @chris-ryder @peterschrammel @remi-delmas-3000
/src/assembler/ @kroening @tautschnig @chris-ryder
/src/goto-cc/ @kroening @tautschnig @chris-ryder
/src/linking/ @kroening @tautschnig @chris-ryder
/src/memory-models/ @kroening @tautschnig
/src/goto-checker/ @kroening @tautschnig @peterschrammel
/src/goto-symex/ @kroening @tautschnig @peterschrammel @romainbrenguier
/src/json/ @kroening @tautschnig @peterschrammel
/src/json-symtab-language/ @martin-cs
/src/langapi/ @kroening @tautschnig @peterschrammel
/src/xmllang/ @kroening @tautschnig @peterschrammel
/src/nonstd/ @peterschrammel
/src/solvers/flattening @martin-cs @kroening @tautschnig @peterschrammel
/src/solvers/floatbv @martin-cs @kroening
/src/solvers/miniBDD @tautschnig @kroening
/src/solvers/prop @martin-cs @kroening @tautschnig @peterschrammel
/src/solvers/sat @martin-cs @kroening @tautschnig @peterschrammel
/src/symtab2gb/ @martin-cs
/jbmc/src/miniz/ @peterschrammel
/src/crangler/ @kroening @tautschnig @qinheping


# These files change frequently and changes are high-risk

/src/cbmc/ @kroening @tautschnig @peterschrammel @NlightNFotis @thomasspriggs
/src/goto-programs/ @kroening @tautschnig @peterschrammel
/src/util/ @kroening @tautschnig @peterschrammel
/src/solvers/refinement @martin-cs @romainbrenguier @peterschrammel
/src/solvers/strings @martin-cs @romainbrenguier @peterschrammel
/jbmc/src/java_bytecode/ @romainbrenguier @peterschrammel
/src/analyses/ @martin-cs @peterschrammel @chris-ryder
/src/pointer-analysis/ @martin-cs @peterschrammel @chris-ryder
/src/libcprover-cpp @NlightNFotis @thomasspriggs @esteffin @TGWDB @peterschrammel
/src/libcprover-rust @NlightNFotis @thomasspriggs @TGWDB @peterschrammel

# These files change frequently and changes are medium-risk

/src/goto-analyzer/ @martin-cs @chris-ryder @peterschrammel
/src/goto-harness/ @martin-cs @chris-ryder @peterschrammel
/src/goto-instrument/ @martin-cs @chris-ryder @peterschrammel @tautschnig @kroening
/src/goto-instrument/contracts/ @tautschnig @feliperodri @remi-delmas-3000
/src/goto-synthesizer/ @qinheping @tautschnig @feliperodri @remi-delmas-3000
/src/goto-diff/ @tautschnig @peterschrammel
/src/jsil/ @kroening @tautschnig
/src/memory-analyzer/ @tautschnig @chris-ryder @kroening
/jbmc/src/jbmc/ @peterschrammel @romainbrenguier
/jbmc/src/janalyzer/ @peterschrammel @romainbrenguier
/jbmc/src/jdiff/ @peterschrammel
/src/cpp/ @kroening @tautschnig @peterschrammel
/src/solvers/smt2 @kroening @martin-cs @peterschrammel @thomasspriggs @NlightNFotis @TGWDB
/src/solvers/smt2_incremental @peterschrammel @thomasspriggs @NlightNFotis @TGWDB @chris-ryder
/src/solvers/Makefile @kroening @tautschnig @peterschrammel @chris-ryder @thomasspriggs @NlightNFotis @TGWDB
/src/statement-list/ @kroening @tautschnig @peterschrammel

/cmake/        @diffblue/diffblue-opensource
CMakeLists.txt @diffblue/diffblue-opensource

# These files change frequently and changes are low-risk

/src/util/irep_ids.def

/unit/
/regression/
/jbmc/unit/
/jbmc/regression/

/scripts/ @diffblue/diffblue-opensource

# CI pipeline is the responsibility of the Open Source maintenance team at Diffblue.
/.github/ @diffblue/diffblue-opensource
src/config.inc @diffblue/diffblue-opensource

Add error handling for exit code of Chocolatey
  .github/workflows/pull-request-checks.yaml
Owners: @diffblue/diffblue-opensource

Free up additional disk space on GitHub runner
  .github/workflows/pull-request-checks.yaml
Owners: @diffblue/diffblue-opensource

CMake: set project name with version
  jbmc/src/CMakeLists.txt
  src/CMakeLists.txt
Owners: @diffblue/diffblue-opensource

Revert "Added version from config.inc to cmake project"
  src/CMakeLists.txt
Owners: @diffblue/diffblue-opensource

Byte-operator lowering: do not unconditionally insert bv cast
  src/util/lower_byte_operators.cpp
Owners: @kroening, @tautschnig, @peterschrammel

ITE and binary relations are constant when all operands are constants
  regression/cbmc/constant_folding3/main.c
  regression/cbmc/constant_folding3/test.desc
  src/util/expr_util.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Linking: fix up all types before handling functions or objects
  regression/ansi-c/linking_conflicts2/test.desc
  regression/cbmc/incomplete-structs/test.desc
  src/linking/linking.cpp
Owners: @kroening, @tautschnig, @chris-ryder

Name type to regain macOS 10.14.6 compatibility
  src/solvers/smt2_incremental/smt_response_validation.cpp
Owners: @peterschrammel, @thomasspriggs, @NlightNFotis, @TGWDB, @chris-ryder

Fix documentation links
  doc/architectural/symex-instructions.md
  doc/doxygen-root/doxyfile
Owners: @jimgrundy, @TGWDB, @kroening, @tautschnig, @peterschrammel, @nlightnfotis

Avoid deadlock in the `ls_parse.py` script
  scripts/ls_parse.py
Owners: @diffblue/diffblue-opensource

C front-end: tolerate type differences with asm renaming
  regression/ansi-c/asm4/main.c
  regression/ansi-c/asm4/test.desc
  src/ansi-c/c_typecheck_base.cpp
Owners: @kroening, @tautschnig, @chris-ryder, @peterschrammel, @remi-delmas-3000

C front-end: address-of-label is a compile-time constant
  regression/cbmc/Computed-Goto1/main.c
  src/ansi-c/c_typecheck_expr.cpp
Owners: @kroening, @tautschnig, @chris-ryder, @peterschrammel, @remi-delmas-3000

C front-end: fix whitespace in built-in declarations
  src/ansi-c/compiler_headers/gcc_builtin_headers_ia32-3.h
  src/ansi-c/compiler_headers/gcc_builtin_headers_ia32.h
  src/ansi-c/compiler_headers/gcc_builtin_headers_mem_string.h
Owners: @kroening, @tautschnig, @chris-ryder, @peterschrammel, @remi-delmas-3000

Tests: Fix decision-procedure-runtime pattern
  regression/cbmc/Failing_Assert1/dimacs.desc
  regression/cbmc/Failing_Assert1/test.desc
Owners: none

C front-end: fix type2name for vectors
  regression/ansi-c/gcc_vector2/main.c
  regression/ansi-c/gcc_vector2/test.desc
  regression/goto-instrument/bitfield_naming/test.desc
  src/ansi-c/type2name.cpp
Owners: @kroening, @tautschnig, @chris-ryder, @peterschrammel, @remi-delmas-3000

goto-gcc/goto-ld: reproduce original help output
  src/goto-cc/gcc_mode.cpp
  src/goto-cc/ld_mode.cpp
Owners: @kroening, @tautschnig, @chris-ryder

goto-synthesizer: correctly configure the C front-end
  src/goto-synthesizer/goto_synthesizer_parse_options.cpp
Owners: @qinheping, @tautschnig, @feliperodri, @remi-delmas-3000

Rename object files so that we don't have collisions between different object files coming from different projects.
  src/libcprover-cpp/add_dependencies.sh
Owners: @NlightNFotis, @thomasspriggs, @esteffin, @TGWDB, @peterschrammel

Constructor attribute is not required with forward declaration
  regression/cbmc/constructor1/main.c
  src/ansi-c/c_typecheck_base.cpp
Owners: @kroening, @tautschnig, @chris-ryder, @peterschrammel, @remi-delmas-3000

Move building of artifacts to separate subdirectory.
  src/libcprover-cpp/add_dependencies.sh
Owners: @NlightNFotis, @thomasspriggs, @esteffin, @TGWDB, @peterschrammel

Parameterise static library version in Rust build script
  CMakeLists.txt
  src/libcprover-rust/build.rs
Owners: @diffblue/diffblue-opensource, @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel

Fix missing environment variable from Rust API test runners
  .github/workflows/pull-request-check-rust-api.yaml
Owners: @diffblue/diffblue-opensource

Simplify rust API project build script.
  CMakeLists.txt
  src/libcprover-rust/build.rs
Owners: @diffblue/diffblue-opensource, @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel

Add some missing metadata from the Cargo.toml in preparation for publishing the package
  src/libcprover-rust/Cargo.toml
Owners: @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel

Change environment variable to point to library directory
  .github/workflows/pull-request-check-rust-api.yaml
  CMakeLists.txt
  src/libcprover-rust/build.rs
Owners: @diffblue/diffblue-opensource, @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel

Improve error reporting in build failures because of missing environment variables
  src/libcprover-rust/build.rs
Owners: @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel

Keep guards merged
  src/analyses/guard_expr.h
  src/goto-symex/frame.h
  src/goto-symex/goto_state.h
  src/goto-symex/symex_assign.cpp
  src/goto-symex/symex_atomic_section.cpp
  src/goto-symex/symex_goto.cpp
  src/goto-symex/symex_main.cpp
  src/goto-symex/symex_other.cpp
  src/goto-symex/symex_target.h
  src/goto-symex/symex_target_equation.h
Owners: @martin-cs, @peterschrammel, @chris-ryder, @kroening, @tautschnig, @romainbrenguier

Import further Clang-defined ia32 builtins
  src/ansi-c/CMakeLists.txt
  src/ansi-c/Makefile
  src/ansi-c/ansi_c_internal_additions.cpp
  src/ansi-c/ansi_c_internal_additions.h
  src/ansi-c/builtin_factory.cpp
  src/ansi-c/compiler_headers/clang_builtins.py
  src/ansi-c/compiler_headers/gcc_builtin_headers_ia32-6.h
Owners: @diffblue/diffblue-opensource, @kroening, @tautschnig, @chris-ryder, @peterschrammel, @remi-delmas-3000

C front-end: declare further GCC built-ins
  src/ansi-c/CMakeLists.txt
  src/ansi-c/Makefile
  src/ansi-c/ansi_c_internal_additions.cpp
  src/ansi-c/ansi_c_internal_additions.h
  src/ansi-c/compiler_headers/clang_builtin_headers.h
  src/ansi-c/compiler_headers/gcc_builtin_headers_ia32-5.h
  src/ansi-c/compiler_headers/gcc_builtin_headers_ia32.h
  src/ansi-c/compiler_headers/gcc_builtin_headers_types_gcc7plus.h
  src/libcprover-cpp/api.cpp
Owners: @diffblue/diffblue-opensource, @kroening, @tautschnig, @chris-ryder, @peterschrammel, @remi-delmas-3000, @NlightNFotis, @thomasspriggs, @esteffin, @TGWDB

C front-end: fix the interaction between packing and alignment
  regression/ansi-c/gcc_attributes15/main.c
  regression/ansi-c/gcc_attributes15/test.desc
  regression/ansi-c/pragma_pack4/main.c
  regression/ansi-c/pragma_pack4/test.desc
  src/ansi-c/padding.cpp
  src/ansi-c/parser.y
Owners: @kroening, @tautschnig, @chris-ryder, @peterschrammel, @remi-delmas-3000

Add a readme with build instructions on the Rust project
  src/libcprover-rust/readme.md
Owners: @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel

Get the project to work with a toy rust project and link correctly
  src/libcprover-rust/Cargo.lock
  src/libcprover-rust/Cargo.toml
  src/libcprover-rust/src/lib.rs
Owners: @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel

Remove dependency on corrosion.
  .github/workflows/pull-request-check-rust-api.yaml
  CMakeLists.txt
Owners: @diffblue/diffblue-opensource

Substitute Ruby for Python oneliner for version finding
  .github/workflows/pull-request-check-rust-api.yaml
Owners: @diffblue/diffblue-opensource

Change the readme.md to only include Rust build commands, now that we no longer build with corrosion
  src/libcprover-rust/readme.md
Owners: @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel

Mark CBMC version 5.79.0
  src/config.inc
Owners: @diffblue/diffblue-opensource

Constructor/destructor attributes also work with forward declarations
  regression/cbmc/constructor1/main.c
  src/ansi-c/c_typecheck_base.cpp
Owners: @kroening, @tautschnig, @chris-ryder, @peterschrammel, @remi-delmas-3000

[REFACTOR] Rename bridge module to `cprover_api` from `ffi`.
  src/libcprover-rust/src/lib.rs
Owners: @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel

[REFACTOR] Move utility functions into a new module `ffi_util`.
  src/libcprover-rust/src/lib.rs
Owners: @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel

[REFACTOR] Hide the `translate_vector_of_string` function from the C++ bridge
  src/libcprover-rust/include/c_api.h
  src/libcprover-rust/src/c_api.cc
  src/libcprover-rust/src/lib.rs
Owners: @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel
