Repository diffblue/cbmc, changes with the owners that CODEOWNERS names for each.
All owners: @kroening, @tautschnig, @peterschrammel, @chris-ryder, @jimgrundy, @TGWDB, @nlightnfotis, @remi-delmas-3000, @romainbrenguier, @martin-cs, @qinheping, @NlightNFotis, @thomasspriggs, @esteffin, @feliperodri, @diffblue/diffblue-opensource

Update internal `write_goto_binary` to return `void`
  src/goto-programs/write_goto_binary.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Separate out a `write_instructions_binary` function
  src/goto-programs/write_goto_binary.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Split `write_goto_binary` into two functions
  src/goto-programs/write_goto_binary.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Invert condition on body availability check
  src/goto-programs/write_goto_binary.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Separate out `function_name` varable
  src/goto-programs/write_goto_binary.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Change API version to correspond to CBMC version
  regression/libcprover-cpp/call_bmc.cpp
  src/libcprover-cpp/api.cpp
  src/libcprover-rust/src/lib.rs
Owners: @NlightNFotis, @thomasspriggs, @esteffin, @TGWDB, @peterschrammel

Mark CBMC version 5.80.0
  src/config.inc
  src/libcprover-rust/Cargo.lock
  src/libcprover-rust/Cargo.toml
Owners: @diffblue/diffblue-opensource, @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel

Update the release process to explain how to update the crate along with the main CBMC version
  doc/ADR/release_process.md
Owners: @jimgrundy, @TGWDB, @kroening, @tautschnig, @peterschrammel, @nlightnfotis

Add a `verification_resultt` class and expose it to the C++ API.
  src/libcprover-cpp/api.cpp
  src/libcprover-cpp/api.h
  src/libcprover-cpp/verification_result.cpp
  src/libcprover-cpp/verification_result.h
  unit/libcprover-cpp/test2.c
  unit/libcprover-cpp/verification_resultt.cpp
Owners: @NlightNFotis, @thomasspriggs, @esteffin, @TGWDB, @peterschrammel

Separate `read_bin_goto_object` into two functions
  src/goto-programs/read_bin_goto_object.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Separate the copying parameter identifers
  src/goto-programs/read_bin_goto_object.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Declare the `version` variable as `const`
  src/goto-programs/read_bin_goto_object.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Update internal `read_bin_goto_object` function to return `void`
  src/goto-programs/read_bin_goto_object.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Mark the end of `read_bin_goto_object` with `UNREACHABLE`
  src/goto-programs/read_bin_goto_object.cpp
Owners: @kroening, @tautschnig, @peterschrammel

CONTRACTS: represent loop nesting structure as a graph
  src/goto-instrument/Makefile
  src/goto-instrument/contracts/dynamic-frames/dfcc_loop_nesting_graph.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_loop_nesting_graph.h
Owners: @martin-cs, @chris-ryder, @peterschrammel, @tautschnig, @kroening, @feliperodri, @remi-delmas-3000

Cleanup read_bin_goto_object
  src/goto-programs/read_bin_goto_object.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Translate verification results from C++ to Rust,
  src/libcprover-cpp/api.cpp
  src/libcprover-cpp/api.h
  src/libcprover-rust/include/c_api.h
  src/libcprover-rust/include/c_errors.h
  src/libcprover-rust/src/c_api.cc
  src/libcprover-rust/src/lib.rs
  unit/libcprover-cpp/verification_resultt.cpp
Owners: @NlightNFotis, @thomasspriggs, @esteffin, @TGWDB, @peterschrammel

CONTRACTS: add loop contract mode enum and string conversion functions
  src/goto-instrument/Makefile
  src/goto-instrument/contracts/dynamic-frames/dfcc_contract_mode.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_contract_mode.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_loop_contract_mode.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_loop_contract_mode.h
Owners: @martin-cs, @chris-ryder, @peterschrammel, @tautschnig, @kroening, @feliperodri, @remi-delmas-3000

Change `COMPILING.md` instructions to reflect how to build Rust API at this point in time.
  COMPILING.md
Owners: @kroening, @tautschnig, @peterschrammel, @chris-ryder

Add documentation and extra tests for querying for non-existent properties
  src/libcprover-rust/include/c_api.h
  src/libcprover-rust/src/lib.rs
Owners: @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel

Add new transform history data to documentation
  doc/architectural/central-data-structures.md
Owners: @jimgrundy, @TGWDB, @kroening, @tautschnig, @peterschrammel, @nlightnfotis

OpenBSD adjustements NetBSD uses gcc, but like OpenBSD does not uses bash as main shell.
  doc/man/goto-clang.1
  scripts/bash-autocomplete/cbmc.sh.template
  scripts/bash-autocomplete/extract_switches.sh
  src/cbmc/CMakeLists.txt
  src/goto-cc/CMakeLists.txt
  src/goto-cc/gcc_mode.cpp
Owners: @jimgrundy, @TGWDB, @kroening, @tautschnig, @peterschrammel, @nlightnfotis, @diffblue/diffblue-opensource, @chris-ryder

Add unit test of new data structure
  unit/Makefile
  unit/goto-programs/goto_transform_history.cpp
Owners: none

Add transform history data structure
  src/goto-programs/Makefile
  src/goto-programs/goto_function.h
  src/goto-programs/goto_transform_history.cpp
  src/goto-programs/goto_transform_history.h
Owners: @kroening, @tautschnig, @peterschrammel

Add simple goto_modelt serialization test
  unit/Makefile
  unit/goto-programs/goto_binary_serialization.cpp
Owners: none

line spacing
  src/goto-cc/gcc_mode.cpp
Owners: @kroening, @tautschnig, @chris-ryder

CONTRACTS: util functions tag instructions with loop info
  src/goto-instrument/Makefile
  src/goto-instrument/contracts/dynamic-frames/dfcc_loop_tags.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_loop_tags.h
Owners: @martin-cs, @chris-ryder, @peterschrammel, @tautschnig, @kroening, @feliperodri, @remi-delmas-3000

CONTRACTS: function to check loop normal form properties before applying loop contracts
  src/goto-instrument/Makefile
  src/goto-instrument/contracts/dynamic-frames/dfcc_check_loop_normal_form.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_check_loop_normal_form.h
  src/goto-instrument/contracts/dynamic-frames/module_dependencies.txt
Owners: @martin-cs, @chris-ryder, @peterschrammel, @tautschnig, @kroening, @feliperodri, @remi-delmas-3000

Remove Ubuntu-18.04 jobs since github deprecated them
  .github/workflows/README.md
  .github/workflows/pull-request-checks.yaml
  .github/workflows/regular-release.yaml
  .github/workflows/release-packages.yaml
Owners: @diffblue/diffblue-opensource

Add serialisation of transform history to file
  src/goto-programs/write_goto_binary.cpp
  src/goto-programs/write_goto_binary.h
Owners: @kroening, @tautschnig, @peterschrammel

Refactor API used to do lazy assertion to assumption conversion
  jbmc/src/janalyzer/janalyzer_parse_options.cpp
  jbmc/src/jbmc/jbmc_parse_options.cpp
  src/goto-programs/goto_check.cpp
  src/goto-programs/goto_check.h
Owners: @peterschrammel, @romainbrenguier, @kroening, @tautschnig

Add support for reading previous deprecated goto binary version
  src/goto-programs/read_bin_goto_object.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Add utility functions to manage transform history
  src/goto-programs/goto_transform_history.cpp
  src/goto-programs/goto_transform_history.h
Owners: @kroening, @tautschnig, @peterschrammel

Refactor API for property labeling of single functions
  jbmc/src/jbmc/jbmc_parse_options.cpp
  src/goto-programs/set_properties.cpp
  src/goto-programs/set_properties.h
Owners: @peterschrammel, @romainbrenguier, @kroening, @tautschnig

Add deserialisation of transform history
  src/goto-programs/goto_transform_history.cpp
  src/goto-programs/goto_transform_history.h
  src/goto-programs/read_bin_goto_object.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Add test to check goto_historyt is serialized
  unit/goto-programs/goto_binary_serialization.cpp
Owners: none

Remove unused declaration of `string_instrumentation` function
  src/goto-programs/string_instrumentation.h
Owners: @kroening, @tautschnig, @peterschrammel

Add transform_kind value after transformations
  src/goto-programs/adjust_float_expressions.cpp
  src/goto-programs/goto_check.cpp
  src/goto-programs/goto_inline_class.cpp
  src/goto-programs/instrument_preconditions.cpp
  src/goto-programs/link_to_library.cpp
  src/goto-programs/mm_io.cpp
  src/goto-programs/remove_complex.cpp
  src/goto-programs/remove_function_pointers.cpp
  src/goto-programs/remove_returns.cpp
  src/goto-programs/remove_skip.cpp
  src/goto-programs/remove_unused_functions.cpp
  src/goto-programs/remove_vector.cpp
  src/goto-programs/rewrite_union.cpp
  src/goto-programs/set_properties.cpp
  src/goto-programs/string_abstraction.cpp
  src/goto-programs/string_instrumentation.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Remove `Cargo.lock` as recommended by Rust docs.
  src/libcprover-rust/.gitignore
  src/libcprover-rust/Cargo.lock
  src/libcprover-rust/Cargo.toml
Owners: @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel

Deduplicate calls to `add_history_transform` in `goto_check.cpp`
  src/goto-programs/goto_check.cpp
Owners: @kroening, @tautschnig, @peterschrammel

CODEOWNERS:

# Code owners are expected to complete reviews with feedback to the PR author or
# approval within two weeks.
#
# These owners will be the default owners for everything in the repo.
*       @kroening @tautschnig @peterschrammel @chris-ryder

# Documentation can be reviewed by people with broad project responsibility

/doc/ @jimgrundy @TGWDB @kroening @tautschnig @peterschrammel @nlightnfotis


# These files should rarely change

/src/big-int/ @kroening
/src/ansi-c/ @kroening @tautschnig @chris-ryder @peterschrammel @remi-delmas-3000
/src/assembler/ @kroening @tautschnig @chris-ryder
/src/goto-cc/ @kroening @tautschnig @chris-ryder
/src/linking/ @kroening @tautschnig @chris-ryder
/src/memory-models/ @kroening @tautschnig
/src/goto-checker/ @kroening @tautschnig @peterschrammel
/src/goto-symex/ @kroening @tautschnig @peterschrammel @romainbrenguier
/src/json/ @kroening @tautschnig @peterschrammel
/src/json-symtab-language/ @martin-cs
/src/langapi/ @kroening @tautschnig @peterschrammel
/src/xmllang/ @kroening @tautschnig @peterschrammel
/src/nonstd/ @peterschrammel
/src/solvers/flattening @martin-cs @kroening @tautschnig @peterschrammel
/src/solvers/floatbv @martin-cs @kroening
/src/solvers/miniBDD @tautschnig @kroening
/src/solvers/prop @martin-cs @kroening @tautschnig @peterschrammel
/src/solvers/sat @martin-cs @kroening @tautschnig @peterschrammel
/src/symtab2gb/ @martin-cs
/jbmc/src/miniz/ @peterschrammel
/src/crangler/ @kroening @tautschnig @qinheping


# These files change frequently and changes are high-risk

/src/cbmc/ @kroening @tautschnig @peterschrammel @NlightNFotis @thomasspriggs
/src/goto-programs/ @kroening @tautschnig @peterschrammel
/src/util/ @kroening @tautschnig @peterschrammel
/src/solvers/refinement @martin-cs @romainbrenguier @peterschrammel
/src/solvers/strings @martin-cs @romainbrenguier @peterschrammel
/jbmc/src/java_bytecode/ @romainbrenguier @peterschrammel
/src/analyses/ @martin-cs @peterschrammel @chris-ryder
/src/pointer-analysis/ @martin-cs @peterschrammel @chris-ryder
/src/libcprover-cpp @NlightNFotis @thomasspriggs @esteffin @TGWDB @peterschrammel
/src/libcprover-rust @NlightNFotis @thomasspriggs @TGWDB @peterschrammel

# These files change frequently and changes are medium-risk

/src/goto-analyzer/ @martin-cs @chris-ryder @peterschrammel
/src/goto-harness/ @martin-cs @chris-ryder @peterschrammel
/src/goto-instrument/ @martin-cs @chris-ryder @peterschrammel @tautschnig @kroening
/src/goto-instrument/contracts/ @tautschnig @feliperodri @remi-delmas-3000
/src/goto-synthesizer/ @qinheping @tautschnig @feliperodri @remi-delmas-3000
/src/goto-diff/ @tautschnig @peterschrammel
/src/jsil/ @kroening @tautschnig
/src/memory-analyzer/ @tautschnig @chris-ryder @kroening
/jbmc/src/jbmc/ @peterschrammel @romainbrenguier
/jbmc/src/janalyzer/ @peterschrammel @romainbrenguier
/jbmc/src/jdiff/ @peterschrammel
/src/cpp/ @kroening @tautschnig @peterschrammel
/src/solvers/smt2 @kroening @martin-cs @peterschrammel @thomasspriggs @NlightNFotis @TGWDB
/src/solvers/smt2_incremental @peterschrammel @thomasspriggs @NlightNFotis @TGWDB @chris-ryder
/src/solvers/Makefile @kroening @tautschnig @peterschrammel @chris-ryder @thomasspriggs @NlightNFotis @TGWDB
/src/statement-list/ @kroening @tautschnig @peterschrammel

/cmake/        @diffblue/diffblue-opensource
CMakeLists.txt @diffblue/diffblue-opensource

# These files change frequently and changes are low-risk

/src/util/irep_ids.def

/unit/
/regression/
/jbmc/unit/
/jbmc/regression/

/scripts/ @diffblue/diffblue-opensource

# CI pipeline is the responsibility of the Open Source maintenance team at Diffblue.
/.github/ @diffblue/diffblue-opensource
src/config.inc @diffblue/diffblue-opensource
