Repository diffblue/cbmc, changes with the owners that CODEOWNERS names for each.
All owners: @kroening, @tautschnig, @peterschrammel, @chris-ryder, @jimgrundy, @TGWDB, @nlightnfotis, @remi-delmas-3000, @romainbrenguier, @martin-cs, @qinheping, @NlightNFotis, @thomasspriggs, @esteffin, @feliperodri, @diffblue/diffblue-opensource

CODEOWNERS:

# Code owners are expected to complete reviews with feedback to the PR author or
# approval within two weeks.
#
# These owners will be the default owners for everything in the repo.
*       @kroening @tautschnig @peterschrammel @chris-ryder

# Documentation can be reviewed by people with broad project responsibility

/doc/ @jimgrundy @TGWDB @kroening @tautschnig @peterschrammel @nlightnfotis


# These files should rarely change

/src/big-int/ @kroening
/src/ansi-c/ @kroening @tautschnig @chris-ryder @peterschrammel @remi-delmas-3000
/src/assembler/ @kroening @tautschnig @chris-ryder
/src/goto-cc/ @kroening @tautschnig @chris-ryder
/src/linking/ @kroening @tautschnig @chris-ryder
/src/memory-models/ @kroening @tautschnig
/src/goto-checker/ @kroening @tautschnig @peterschrammel
/src/goto-symex/ @kroening @tautschnig @peterschrammel @romainbrenguier
/src/json/ @kroening @tautschnig @peterschrammel
/src/json-symtab-language/ @martin-cs
/src/langapi/ @kroening @tautschnig @peterschrammel
/src/xmllang/ @kroening @tautschnig @peterschrammel
/src/nonstd/ @peterschrammel
/src/solvers/flattening @martin-cs @kroening @tautschnig @peterschrammel
/src/solvers/floatbv @martin-cs @kroening
/src/solvers/miniBDD @tautschnig @kroening
/src/solvers/prop @martin-cs @kroening @tautschnig @peterschrammel
/src/solvers/sat @martin-cs @kroening @tautschnig @peterschrammel
/src/symtab2gb/ @martin-cs
/jbmc/src/miniz/ @peterschrammel
/src/crangler/ @kroening @tautschnig @qinheping


# These files change frequently and changes are high-risk

/src/cbmc/ @kroening @tautschnig @peterschrammel @NlightNFotis @thomasspriggs
/src/goto-programs/ @kroening @tautschnig @peterschrammel
/src/util/ @kroening @tautschnig @peterschrammel
/src/solvers/refinement @martin-cs @romainbrenguier @peterschrammel
/src/solvers/strings @martin-cs @romainbrenguier @peterschrammel
/jbmc/src/java_bytecode/ @romainbrenguier @peterschrammel
/src/analyses/ @martin-cs @peterschrammel @chris-ryder
/src/pointer-analysis/ @martin-cs @peterschrammel @chris-ryder
/src/libcprover-cpp @NlightNFotis @thomasspriggs @esteffin @TGWDB @peterschrammel
/src/libcprover-rust @NlightNFotis @thomasspriggs @TGWDB @peterschrammel

# These files change frequently and changes are medium-risk

/src/goto-analyzer/ @martin-cs @chris-ryder @peterschrammel
/src/goto-harness/ @martin-cs @chris-ryder @peterschrammel
/src/goto-instrument/ @martin-cs @chris-ryder @peterschrammel @tautschnig @kroening
/src/goto-instrument/contracts/ @tautschnig @feliperodri @remi-delmas-3000
/src/goto-synthesizer/ @qinheping @tautschnig @feliperodri @remi-delmas-3000
/src/goto-diff/ @tautschnig @peterschrammel
/src/jsil/ @kroening @tautschnig
/src/memory-analyzer/ @tautschnig @chris-ryder @kroening
/jbmc/src/jbmc/ @peterschrammel @romainbrenguier
/jbmc/src/janalyzer/ @peterschrammel @romainbrenguier
/jbmc/src/jdiff/ @peterschrammel
/src/cpp/ @kroening @tautschnig @peterschrammel
/src/solvers/smt2 @kroening @martin-cs @peterschrammel @thomasspriggs @NlightNFotis @TGWDB
/src/solvers/smt2_incremental @peterschrammel @thomasspriggs @NlightNFotis @TGWDB @chris-ryder
/src/solvers/Makefile @kroening @tautschnig @peterschrammel @chris-ryder @thomasspriggs @NlightNFotis @TGWDB
/src/statement-list/ @kroening @tautschnig @peterschrammel

/cmake/        @diffblue/diffblue-opensource
CMakeLists.txt @diffblue/diffblue-opensource

# These files change frequently and changes are low-risk

/src/util/irep_ids.def

/unit/
/regression/
/jbmc/unit/
/jbmc/regression/

/scripts/ @diffblue/diffblue-opensource

# CI pipeline is the responsibility of the Open Source maintenance team at Diffblue.
/.github/ @diffblue/diffblue-opensource
src/config.inc @diffblue/diffblue-opensource

Mark implementation overload of `label_properties` as `static`
  src/goto-programs/set_properties.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Deduplicate call to `add_history_transform` in `label_properties`
  src/goto-programs/set_properties.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Mark CBMC cbmc-5.81.0.
  src/config.inc
  src/libcprover-rust/Cargo.toml
Owners: @diffblue/diffblue-opensource, @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel

Add the `readme.md` path to the Cargo.toml.
  src/libcprover-rust/Cargo.toml
Owners: @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel

CONTRACTS: functions to compute root objects
  src/goto-instrument/Makefile
  src/goto-instrument/contracts/dynamic-frames/dfcc_root_object.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_root_object.h
Owners: @martin-cs, @chris-ryder, @peterschrammel, @tautschnig, @kroening, @feliperodri, @remi-delmas-3000

CONTRACTS: loop assigns clause inference function
  src/goto-instrument/Makefile
  src/goto-instrument/contracts/dynamic-frames/dfcc_infer_loop_assigns.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_infer_loop_assigns.h
Owners: @martin-cs, @chris-ryder, @peterschrammel, @tautschnig, @kroening, @feliperodri, @remi-delmas-3000

Fixed UNREACHABLE missing return warning on GCC 12
  src/util/invariant.h
Owners: @kroening, @tautschnig, @peterschrammel

Fixed UNIMPLEMENTED_FEATURE missing return warning
  src/util/invariant.h
Owners: @kroening, @tautschnig, @peterschrammel

Replaced INVARIANT(false) with UNREACHABLE_BECAUSE
  src/solvers/smt2/smt2_conv.cpp
  src/solvers/strings/string_format_builtin_function.cpp
Owners: @kroening, @martin-cs, @peterschrammel, @thomasspriggs, @NlightNFotis, @TGWDB, @romainbrenguier

Add UNREACHABLE_BECAUSE to fail with a reason
  src/util/invariant.h
Owners: @kroening, @tautschnig, @peterschrammel

Add regression tests for UNREACHABLE_BECAUSE
  regression/invariants/driver.cpp
  regression/invariants/invariant-failure21/test.desc
Owners: none

Simplify overflow-result: preserve sizeof annotation
  regression/cbmc-library/calloc-01/main.c
  regression/cbmc-library/calloc-01/program-only.desc
  src/util/simplify_expr.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Byte-extract lowering: do not blindly use offsets
  regression/cbmc/byte_extract2/main.c
  regression/cbmc/byte_extract2/test.desc
  src/solvers/smt2/smt2_conv.cpp
  src/solvers/smt2/smt2_parser.cpp
  src/util/lower_byte_operators.cpp
Owners: @kroening, @martin-cs, @peterschrammel, @thomasspriggs, @NlightNFotis, @TGWDB, @tautschnig

Enable constant propagation in less-than encoding
  regression/solver-hardness/solver-hardness-simple/test.desc
  src/solvers/flattening/bv_utils.cpp
Owners: @martin-cs, @kroening, @tautschnig, @peterschrammel

fixed link in Readme.md pointing to the wrong file. (mini-projects and feature_ideas)
  README.md
Owners: @kroening, @tautschnig, @peterschrammel, @chris-ryder

changed absolut path to bash scripts using CMAKE_SOURCE_DIR to relative path with CMAKE_CURRENT_SOURCE_DIR.
  CMakeLists.txt
  src/cbmc/CMakeLists.txt
Owners: @diffblue/diffblue-opensource

SMT2 back-end: CVC5 does not support lambda expressions
  src/solvers/smt2/smt2_conv.cpp
Owners: @kroening, @martin-cs, @peterschrammel, @thomasspriggs, @NlightNFotis, @TGWDB

Floating-point normalization must not overflow
  regression/cbmc/Float-rounding2/main.c
  regression/cbmc/Float-rounding2/test.desc
  src/solvers/floatbv/float_bv.cpp
  src/solvers/floatbv/float_utils.cpp
Owners: @martin-cs, @kroening

Minor doc fixes
  doc/cprover-manual/memory-primitives.md
  src/goto-instrument/contracts/doc/user/contracts-quantifiers.md
Owners: @jimgrundy, @TGWDB, @kroening, @tautschnig, @peterschrammel, @nlightnfotis, @feliperodri, @remi-delmas-3000

Simplify inequality over pointers
  regression/cbmc-incr-smt2/pointers-relational-operators/pointers_stack_lessthan.c
  regression/cbmc/Pointer_comparison4/main.c
  regression/cbmc/Pointer_comparison4/test.desc
  src/util/simplify_expr_int.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Make goto_{model,functions}t::unload return a value
  jbmc/src/java_bytecode/lazy_goto_functions_map.h
  jbmc/src/java_bytecode/lazy_goto_model.cpp
  src/goto-programs/goto_functions.h
  src/goto-programs/goto_model.h
  src/goto-programs/initialize_goto_model.cpp
  src/goto-programs/initialize_goto_model.h
Owners: @romainbrenguier, @peterschrammel, @kroening, @tautschnig

Replace DFCC's set_hide by call to make_hidden
  src/goto-instrument/contracts/dynamic-frames/dfcc_library.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_library.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_spec_functions.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_swap_and_wrap.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_utils.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_utils.h
Owners: @tautschnig, @feliperodri, @remi-delmas-3000

Remove dfcc_utilst::has_no_loops
  src/goto-instrument/contracts/dynamic-frames/dfcc_contract_clauses_codegen.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_utils.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_utils.h
Owners: @tautschnig, @feliperodri, @remi-delmas-3000

dfcc_wrapper_programt::encode_ensures_clauses: remove unnecessary local
  src/goto-instrument/contracts/dynamic-frames/dfcc_wrapper_program.cpp
Owners: @tautschnig, @feliperodri, @remi-delmas-3000

Cleanup use of dfcc_wrapper_programt::addr_of_*
  src/goto-instrument/contracts/dynamic-frames/dfcc_wrapper_program.cpp
Owners: @tautschnig, @feliperodri, @remi-delmas-3000

Dirty hackery
  jbmc/src/jdiff/jdiff_parse_options.cpp
  src/ansi-c/goto_check_c.h
  src/cprover/cprover_parse_options.cpp
  src/goto-instrument/goto_instrument_parse_options.cpp
  src/goto-programs/adjust_float_expressions.h
  src/goto-programs/goto_functions.h
  src/goto-programs/instrument_preconditions.cpp
  src/goto-programs/link_to_library.cpp
  src/goto-programs/process_goto_program.cpp
  src/goto-programs/remove_complex.cpp
  src/goto-programs/remove_returns.cpp
  src/goto-programs/remove_skip.cpp
  src/goto-programs/rewrite_union.cpp
  src/goto-programs/set_properties.cpp
  src/pointer-analysis/add_failed_symbols.cpp
Owners: @peterschrammel, @kroening, @tautschnig, @chris-ryder, @remi-delmas-3000, @martin-cs

Remove dfcc_utilst::inhibit_unused_functions
  src/goto-instrument/contracts/dynamic-frames/dfcc.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_utils.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_utils.h
Owners: @tautschnig, @feliperodri, @remi-delmas-3000

CBMC version 5.82.0
  src/config.inc
  src/libcprover-rust/Cargo.toml
Owners: @diffblue/diffblue-opensource, @NlightNFotis, @thomasspriggs, @TGWDB, @peterschrammel

add a 'language feature' facility for goto programs
  jbmc/src/jbmc/jbmc_parse_options.cpp
  src/assembler/remove_asm.cpp
  src/goto-checker/multi_path_symex_checker.cpp
  src/goto-programs/Makefile
  src/goto-programs/language_features.cpp
  src/goto-programs/language_features.h
  src/goto-programs/remove_function_pointers.cpp
  src/goto-programs/remove_vector.cpp
  src/util/irep_ids.def
Owners: @peterschrammel, @romainbrenguier, @kroening, @tautschnig, @chris-ryder

CONTRACTS: class dfcc_cfg_infot: loops and identifier scoping for DFCC
  src/goto-instrument/Makefile
  src/goto-instrument/contracts/dynamic-frames/dfcc_cfg_info.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_cfg_info.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_loop_tags.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_loop_tags.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_spec_functions.cpp
Owners: @martin-cs, @chris-ryder, @peterschrammel, @tautschnig, @kroening, @feliperodri, @remi-delmas-3000

CONTRACTS: re-enable side effect checking in assigns/frees clauses
  regression/contracts-dfcc/assigns-frees-clauses-check-side-effects/main.c
  regression/contracts-dfcc/assigns-frees-clauses-check-side-effects/test.desc
  src/goto-instrument/contracts/dynamic-frames/dfcc_spec_functions.cpp
Owners: @tautschnig, @feliperodri, @remi-delmas-3000

test string_literal1 now works
  jbmc/regression/jbmc/string_literal1/test.desc
Owners: none

strengthen type of parameter of gather_field_types
  jbmc/src/java_bytecode/ci_lazy_methods_needed.cpp
  jbmc/src/java_bytecode/ci_lazy_methods_needed.h
Owners: @romainbrenguier, @peterschrammel

Decouple is_fresh from code_contractst
  src/goto-instrument/contracts/contracts.cpp
  src/goto-instrument/contracts/contracts.h
  src/goto-instrument/contracts/memory_predicates.cpp
  src/goto-instrument/contracts/memory_predicates.h
Owners: @tautschnig, @feliperodri, @remi-delmas-3000

CONTRACTS: class that applies loop contract transformations
  src/goto-instrument/Makefile
  src/goto-instrument/contracts/dynamic-frames/dfcc_instrument_loop.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_instrument_loop.h
  src/goto-instrument/contracts/dynamic-frames/dfcc_library.cpp
  src/goto-instrument/contracts/dynamic-frames/dfcc_library.h
Owners: @martin-cs, @chris-ryder, @peterschrammel, @tautschnig, @kroening, @feliperodri, @remi-delmas-3000

Use builder pattern for api_options
  regression/libcprover-cpp/call_bmc.cpp
  src/libcprover-cpp/api.cpp
  src/libcprover-cpp/api_options.cpp
  src/libcprover-cpp/api_options.h
  unit/libcprover-cpp/api.cpp
  unit/libcprover-cpp/verification_resultt.cpp
Owners: @NlightNFotis, @thomasspriggs, @esteffin, @TGWDB, @peterschrammel

Fix unneccessary include in API regression test
  regression/libcprover-cpp/call_bmc.cpp
Owners: none
